---
strain: black cherry
profile: indica
priceLevel: aaa+ indoor exotic
thca:
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plus-indoor-ex_indica_black-cherry_1.webm
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_indica_black-cherry_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_indica_black-cherry_2.jpg
---
