---
strain: cinnamon milk
profile: hybrid
priceLevel: aaa+ indoor exotic
thca: "30.78%"
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_hybrid_cinnamon-milk.jpeg
source: https://www.leafly.com/strains/cinnamon-milk
---

Cinnamon Milk is a hybrid  [...] cross of Cereal A La Mode to Sherb Z #1. It expresses that creamy, cinnamon warmth with euphoria to match. Cinnamon Milk also grows into clumpy, royal purple buds with green accents and long orange hairs hidden under a thick trichome frost. <cite>- <a href="{{ source }}">Leafly</a></cite>
