---
strain: gemlatto
profile: hybrid
priceLevel: aaa+ indoor exotic
thca: 33.1%
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=aaa-plus-indoor-ex_hybrid_gemlatto_gm5ljl&profile=flower
---
