---
strain: gumbo
profile: indica
thca: "27.1%"
priceLevel: aaa+ indoor exotic
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=aaa-plus-indoor-ex_indica_gumbo-27_25_t6rhen&profile=flower
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_indica_gumbo-27%25-2.jpeg
---
