---
strain: larry og
profile: hybrid
thca: 28.17%
priceLevel: aaa+ indoor exotic
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_hybrid_larry-og.jpeg
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plus-indoor-ex_hybrid_larry-og.webm
---
