---
strain: mochi
profile: hybrid
thca: 26.35%
priceLevel: aaa+ indoor exotic
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_hybrid_mochi_1.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_hybrid_mochi_2.jpeg
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=aaa-plus-indoor-ex_hybrid_mochi_04162025_zuxy54&profile=flower
---
