---
strain: purple runtz
profile: hybrid
priceLevel: aaa+ indoor exotic
thca: "29.20%"
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=aaa-plus-indoor-ex_hybrid_purple-runtz-hybrid_anihbd&profile=flower
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_hybrid_purple-runtz.jpeg
---
