---
strain: gelato truffle
profile: indica
priceLevel: premium aaa+ indoor
thca: 31.95%
video1: https://media.dont.zone/hs/media/vid/flower/prem-aaa-plus_indica_gelato-truffle.webm
photo1: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_gelato-truffle.jpeg
hdPrice: $775
regPrice: $1190
tags: inStock
---
