---
strain: runtz
profile: hybrid
thca: 27.75%
priceLevel: premium aaa+ indoor
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plus-indoor-ex_hybrid_runtz.webm
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_hybrid_runtz_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_hybrid_runtz_2.jpg
hdPrice: $1035.30
regPrice: $1190.00
tags: inStock
---
