---
strain: tropicana cherry
profile: sativa
thca: 31.70%
priceLevel: premium aaa+ indoor
photo1: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_sativa_tropicana-cherry_1_cropped.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_sativa_tropicana-cherry_2_cropped.jpeg
video1: https://media.dont.zone/hs/media/vid/flower/prem-aaa-plus_sativa_tropicana-cherry.webm
hdPrice: $790
regPrice: $1190
tags: inStock
source: https://www.allbud.com/marijuana-strains/sativa-dominant-hybrid/tropicana-cherry
---

Tropicana Cherry [...] is a slightly sativa dominant hybrid strain (60% sativa/40% indica) created through crossing the infamous Tropicana Cookies X Cherry Cookies strains. [Tropicana Cherry] packs flavors of sweet and sour citrus wrapped up with overly ripe cherries and earthy nuttiness, intensifying in fruitiness the more that you toke. The aroma is similar, although heavier and sourer in nature with a sharp citrus overtone that will leave your eyes wide open. The Tropicana Cherry high is just as vibrant, with effects that will have you feeling energized [...]. [via <a href="{{ source }}">allbud</a>]
