---
strain: gmo oil
profile: hybrid
priceLevel: exotic mediums
thca: 28.51
video1: https://media.dont.zone/hs/media/vid/flower/ex-mediums_hybrid_gmo-oil.webm
photo1: https://media.dont.zone/hs/media/img/flower/ex-mediums_hybrid_gmo-oil.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/ex-mediums_hybrid_gmo-oil_2.jpeg
hdPrice: $604.65
regPrice: $695
tags: inStock
---

