---
strain: lemon cherry runtz bio
profile: indica
thca: 31.26%
priceLevel: exotic mediums
photo1: https://media.dont.zone/hs/media/img/flower/ex-mediums_indica_lemon-cherry-runtz.jpeg
video1: https://media.dont.zone/hs/media/vid/flower/ex-mediums_indica_lemon-cherry-runtz.webm
hdPrice: $604.65
regPrice: $695
tags: inStock
---
