---
strain: lemon pie
priceLevel: aaa indoor exotic
thca: 33%
profile: sativa
hdPrice: $861.30
regPrice: $990
photo1: https://media.dont.zone/hs/media/img/flower/aa-indoor_sativa_lemon-pie-33%25.jpeg
tags: inStock
---
