---
strain: pinnacle
profile: indica
priceLevel: aaa indoor exotic
thca:
video1: https://media.dont.zone/hs/media/vid/flower/prem-light-assist_indica_pinnacle.webm
photo1: https://media.dont.zone/hs/media/img/flower/prem-light-assist_indica_pinnacle.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/prem-light-assist_indica_pinnacle_2.jpeg
tags: inStock
source: https://www.leafly.com/strains/pinnacle
---

The strain name Pinnacle now refers to two distinct strains: a legacy hybrid Blue Dream x Hindu Kush; and a modern Slurty 3 x Gush Mints from breeders Purple City Genetics. This older strain is [...] generally not available. The modern Pinnacle is more of an indica hybrid and a monster yielder that turns purple [...]. If you've smoked, dabbed, or consumed Pinnacle, please tell us about your experience by leaving a strain review. [via <a href="{{ source }}">Leafly</a>]
