---
strain: lemon cherry gelato mediums
profile: hybrid
priceLevel: exotic mediums
thca: 32%
video1: https://media.dont.zone/hs/media/vid/flower/ex-mediums_indica_lemon-cherry-gelato_1.webm
photo1: https://media.dont.zone/hs/media/img/flower/ex-mediums_indica_lemon-cherry-gelato_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/ex-mediums_indica_lemon-cherry-gelato_2.jpg
---

