---
strain: vanilla kush
priceLevel: light assist premium
thca: 36.52%
profile: indica
photo1: https://media.dont.zone/hs/media/img/flower/dep-aaa_indica_vanilla-kush.jpg
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=dep-aaa_indica_vanilla-kush_sgoltb&profile=flower
source: https://www.allbud.com/marijuana-strains/indica-dominant-hybrid/vanilla-kush
---

This appropriately named Dutch strain has [...] a relaxed body high that can be too powerful for some new users. Experienced tokers, however, can usually summon enough energy to be active despite the high. Euphoria and happiness are also common with Vanilla Kush. [...] Not surprisingly, it tastes and smells of vanilla, with sweet lavender notes. The bud has a light green appearance that is also reminiscent of vanilla. [...] Vanilla Kush descends from a Kashmiri Hash Plant and an Afghani Kush. It's most popular in Colorado and Oregon, though it can be found elsewhere. [...] it's perfect for anyone in search of a nice, soothing body high. [via <a href="{{ source }}">allbud</a>]
