---
strain: bolo runtz
priceLevel: aaa indoor exotic
thca: 20.54%
profile: indica
photo1: https://media.dont.zone/hs/media/img/flower/aaa-indoor-ex_indica_bolo-runtz.jpeg
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=aaa-indoor-ex_indica_bolo-runtz_g8i1r6&profile=flower
source:
---

Bolo Runtz [...] is a blend between the renowned Gelato and Zkittlez [and] is praised for having a sweet candy-like smell that conjures up images of fruity sweets. When you sniff it, you will be welcomed with a delightful mixture of tropical fruits, berries, and a slight earthiness. The taste does not disappoint either, as it offers a very mild, sugary, berry-flavored smoke that goes down smoothly and easily. The effects of Bolo Runtz are [...] a euphoric and uplifting high that morphs into a relaxed body buzz has been reported by users many times. <cite>- <a href="{{ source }}">[source]</a></cite>
