---
strain: candy runtz
profile: hybrid
priceLevel: aaa indoor exotic
thca: 31.84%
video1: https://media.dont.zone/hs/media/vid/flower/prem-light-assist_hybrid_candy-runtz_1.webm
photo1: https://media.dont.zone/hs/media/img/flower/prem-light-assist_hybrid_candy-runtz_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/prem-light-assist_hybrid_candy-runtz_2.jpg
---
