---
strain: donnie berger
profile: sativa
thca: 29%
priceLevel: aaa indoor exotic
photo1: https://media.dont.zone/hs/media/img/flower/aaa-indoor-ex_sativa_donnie-berger-ex.jpeg
source: https://www.leafly.com/strains/donny-burger
---

The effects of [Donnie Berger] are more calming than energizing. [Consumers] say this strain makes them feel giggly, happy, and aroused. Donny Burger is [...] extremely potent and best suited for cannabis consumers with a high [...] tolerance. There is also a little CBG in this strain. The dominant terpene in Donny Burger is pinene, often associated with pine forest aromas. <cite>- <a href="{{ source }}">Leafly</a></cite>
