---
strain: jawbreaker
profile: hybrid
thca:
priceLevel: aaa indoor exotic
photo1: https://media.dont.zone/hs/media/img/flower/aaa-indoor-ex_indica_jawbreaker.jpeg
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=aaa-indoor-ex_indica_jawbreaker_hc7ca5&profile=flower
---
