---
strain: peanut butter souffle smalls
profile: indica
priceLevel: light dep smalls
thca: 31.74%
video1: 'https://media.dont.zone/hs/media/vid/flower/light-dep-smalls_indica_peanut-butter-souffle%202.webm'
photo1: 'https://media.dont.zone/hs/media/img/flower/light-dep-smalls_indica_peanut-butter-souffle2.jpg'
---
