---
strain: black truffle
profile: indica
thca: 30.36%
priceLevel: premium aaa+ indoor
photo1: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_black-truffle.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_black-truffle_2.jpeg
video1: https://media.dont.zone/hs/media/vid/flower/prem-aaa-plus_indica_black-truffle.webm
hdPrice: $750
regPrice: $1190
tags: noStock
---
