---
strain: black biscotti
profile: indica
priceLevel: premium aaa+ indoor
thca: 29.59%
video1: https://media.dont.zone/hs/media/vid/flower/prem-aaa-plus_indica_black-biscotti.webm
photo1: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_black-biscotti.jpeg
hdPrice: $775
regPrice: $1190
tags: inStock
---
