---
strain: cadillac rainbow
profile: indica
priceLevel: aa indoor
thca: 30.81%
video1: https://media.dont.zone/hs/media/vid/flower/aa-indoor_indica_cadillac-rainbow.webm
photo1: https://media.dont.zone/hs/media/img/flower/aa-indoor_indica_cadillac-rainbow.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/aa-indoor_indica_cadillac-rainbow_2.jpeg
hdPrice: $1050
regPrice: $1590
tags: inStock
---
