---
strain: cherry pie
profile: indica
priceLevel: premium aaa+ indoor
thca: 28.41%
video1: https://media.dont.zone/hs/media/vid/flower/prem-aaa-plus_indica_cherry-pie_1.webm
photo1: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_cherry-pie_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_cherry-pie_2.jpg
hdPrice: $850
regPrice: $1190
tags: inStock
---
