---
strain: cherry punch
profile: sativa
priceLevel: a indoor
thca: 29.32%
video1: https://media.dont.zone/hs/media/vid/flower/a-indoor_sativa_cherry-punch.webm
photo1: https://media.dont.zone/hs/media/img/flower/a-indoor_sativa_cherry-punch_1_cropped.jpg
photo2: https://media.dont.zone/hs/media/img/flower/a-indoor_sativa_cherry-punch_2_cropped.jpg
hdPrice: $925
regPrice: $1390
tags: inStock
---
