---
strain: golden cash
profile: indica
priceLevel: a indoor
thca: 28.74%
video1: https://media.dont.zone/hs/media/vid/flower/a-indoor_indica_golden-cash.webm
photo1: https://media.dont.zone/hs/media/img/flower/a-indoor_indica_golden-cash_2_cropped.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/a-indoor_indica_golden-cash_cropped.jpeg
hdPrice: $890
regPrice: $1390
tags: inStock
---
