---
strain: 'gorilla glue #4'
profile: hybrid
priceLevel: a indoor
thca: 29.91%
video1: https://media.dont.zone/hs/media/vid/flower/a-indoor_hybrid_gorilla-glue-4_1.webm
video2: https://media.dont.zone/hs/media/vid/flower/a-indoor_hybrid_gorilla-glue-4_2.webm
photo1: https://media.dont.zone/hs/media/img/flower/a-indoor_hybrid_gorilla-glue-4_1.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/a-indoor_hybrid_gorilla-glue-4_2.jpeg
photo3: https://media.dont.zone/hs/media/img/flower/a-indoor_hybrid_gorilla-glue-4_3.jpeg
hdPrice: $875
regPrice: $1390
tags: inStock
---
