---
strain: government oasis
profile: hybrid
priceLevel: a indoor
thca: 31.15
video1: https://media.dont.zone/hs/media/vid/flower/a-indoor_hybrid_government-oasis.webm
photo1: https://media.dont.zone/hs/media/img/flower/a-indoor_hybrid_government-oasis.jpg
hdPrice: $850
regPrice: $1390
tags: noStock
---
