---
strain: gush candy
profile: indica
thca: 27.92%
priceLevel: premium aaa+ indoor
video1: https://media.dont.zone/hs/media/vid/flower/prem-aaa-plus_indica_gush-candy_1.webm
photo1: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_gush-candy_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_gush-candy_2.jpg
hdPrice: $775
regPrice: $1190
tags: inStock
---
