---
strain: gush candy
profile: indica
thca: 27.92%
priceLevel: premium aaa+ indoor
video1: https://media.dont.zone/hs/media/vid/flower/prem-aaa-plus_indica_gush-candy.webm
photo1: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_gush-candy.jpeg
hdPrice: $775
regPrice: $1190
---

