---
strain: gusher mintz
profile: indica
priceLevel: a indoor
thca: 28.51%
video1: https://media.dont.zone/hs/media/vid/flower/a-indoor_indica_gusher-mintz.webm
photo1: https://media.dont.zone/hs/media/img/flower/a-indoor_indica_gusher-mintz_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/a-indoor_indica_gusher-mintz_2.jpg
hdPrice: $950
regPrice: $1390
tags: inStock
---
