---
strain: ice cream pie
profile: indica
priceLevel: a indoor
thca: 31.76%
video1: https://media.dont.zone/hs/media/vid/flower/a-indoor_indica_ice-cream-pie_022025.webm
photo1: https://media.dont.zone/hs/media/img/flower/a-indoor_indica_ice-cream-pie_022025.jpeg
hdPrice: $975
regPrice: $1390
---
