---
strain: ice king
profile: hybrid
priceLevel: a indoor
thca:
video1: https://media.dont.zone/hs/media/vid/flower/a-indoor_hybrid_ice-king.webm
photo1: https://media.dont.zone/hs/media/img/flower/a-indoor_hybrid_ice-king.jpg
hdPrice: $750
regPrice: $1390
---
