---
title: INDOOR THCa Flower
layout: layouts/base.njk
eleventyExcludeFromCollections: true
desc: AA-INDOOR, A-INDOOR, and PREMIUM AAA+ INDOOR
---
<div id="page">
	{% include "parts/page-header.njk" %}
	{% include "lists/indoorFeed.njk" %}
	{% include "lists/indoorNoStock.njk" %}
</div>
