---
strain: jealousy
profile: hybrid
priceLevel: aa indoor
thca: 30.94%
video1: https://media.dont.zone/hs/media/vid/flower/aa-indoor_hybrid_jealousy.webm
photo1: https://media.dont.zone/hs/media/img/flower/aa-indoor_hybrid_jealousy.jpeg
hdPrice: $1050
regPrice: $1590
tags: inStock
---
