---
strain: lamb's breath
priceLevel: premium aaa+ indoor
thca: 30.74%
profile: sativa
hdPrice: $775
regPrice: $1190
photo1: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_sativa_lambs-breath_1_042025.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_sativa_lambs-breath_2_042025.jpeg
video1: https://media.dont.zone/hs/media/vid/flower/prem-aaa-plus_sativa_lambs-breath_042025.webm
tags: inStock
---
