---
strain: limonada
profile: sativa
priceLevel: premium aaa+ indoor
video1: https://media.dont.zone/hs/media/vid/flower/prem-aaa-plus_sativa_limonada.webm
photo1: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_sativa_limonada.jpeg
hdPrice: $790
regPrice: $1190
---

