---
strain: mochi runtz
profile: hybrid
priceLevel: a indoor
thca: 29.13%
video1: https://media.dont.zone/hs/media/vid/flower/a-indoor_hybrid_mochi-runtz.webm
photo1: https://media.dont.zone/hs/media/img/flower/a-indoor_hybrid_mochi-runtz.jpg
hdPrice: $750
regPrice: $1390
tags: inStock
---
