---
strain: Modified Grapes
profile: indica
priceLevel: Premium AAA+ Indoor
thca: 28.55%
video1: https://media.dont.zone/hs/media/vid/flower/prem-aaa-plus_indica_modified-grapes.webm
photo1: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_modified-grapes_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_modified-grapes_2_cropped.jpeg
photo3: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_modified-grapes.jpeg
hdPrice: $725
regPrice: $1190
tags: inStock
---
