---
strain: no drama llama
profile: indica
priceLevel: a indoor
thca: 32.65%
video1: https://media.dont.zone/hs/media/vid/flower/a-indoor_indica_no-drama-llama.webm
photo1: https://media.dont.zone/hs/media/img/flower/a-indoor_indica_no-drama-llama.jpeg
hdPrice: $975
regPrice: $1390
tags: inStock
---
