---
strain: runtz
profile: hybrid
priceLevel: a indoor
thca: 29.24%
video1: https://media.dont.zone/hs/media/vid/flower/a-indoor_hybrid_runtz.webm
photo1: https://media.dont.zone/hs/media/img/flower/a-indoor_hybrid_runtz.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/a-indoor_hybrid_runtz_2.jpeg
hdPrice: $990
regPrice: $1390
tags: inStock
---
