---
strain: super boof
profile: sativa
priceLevel: premium aaa+ indoor
thca: 23.82%
video1: https://media.dont.zone/hs/media/vid/flower/prem-aaa-plus_sativa_super-boof.webm
photo1: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_sativa_super-boof.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_sativa_super-boof_2.jpeg
hdPrice: $775
regPrice: $1190
tags: inStock
---
