---
strain: tangyland
profile: hybrid
priceLevel: a indoor
thca: 31.56%
video1: https://media.dont.zone/hs/media/vid/flower/a-indoor_hybrid_tangyland.webm
photo1: https://media.dont.zone/hs/media/img/flower/a-indoor_hybrid_tangyland.jpeg
hdPrice: $950
regPrice: $1390
tags: inStock
---
