---
strain: wedding cake
profile: indica
priceLevel: premium aaa+ indoor
thca: 29.36%
video1: https://media.dont.zone/hs/media/vid/flower/prem-aaa-plus_indica_wedding-cake.webm
photo1: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_wedding-cake_2.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_wedding-cake.jpeg
hdPrice: $850
regPrice: $1190
tags: inStock
source: https://www.leafly.com/strains/wedding-cake
---

Wedding Cake, also known as "Triangle Mints #23," is a potent type of indica-hybrid marijuana strain made by crossing Triangle Kush with Animal Mints. Fun fact: In Canada, this strain is known as Pink Cookies. The Wedding Cake strain provides relaxing and euphoric effects that calm the body and mind. This strain yields a rich and tangy flavor profile with undertones of earthy pepper. [via <a href="{{ source }}">Leafly</a>]
