---
strain: wedding cake
profile: indica
priceLevel: premium aaa+ indoor
thca: 29.36%
video1: https://media.dont.zone/hs/media/vid/flower/prem-aaa-plus_indica_wedding-cake.webm
photo1: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_wedding-cake_2.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_wedding-cake.jpeg
hdPrice: $850
regPrice: $1190
tags: inStock
---
