---
strain: white gelato
profile: indica
thca: 20.35%
priceLevel: premium aaa+ indoor
photo1: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_white-gelato.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_white-gelato_2.jpeg
video1: https://media.dont.zone/hs/media/vid/flower/prem-aaa-plus_indica_white-gelato.webm
hdPrice: $850
regPrice: $1190
tags: inStock
---
