---
strain: white gelato
profile: indica
thca: 20.35%
priceLevel: premium aaa+ indoor
photo1: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_white-gelato_1_cropped.jpg
photo2: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_white-gelato_2_cropped.jpg
video1: https://media.dont.zone/hs/media/vid/flower/prem-aaa-plus_indica_white-gelato.webm
hdPrice: $850
regPrice: $1190
tags: inStock
source: https://www.leafly.com/strains/white-cherry-gelato
---

White Cherry Gelato is a hybrid [...] strain made by crossing Gelato with White Cherry. The effects of this strain are believed to be balancing. [Consumers] say this strain makes them feel relaxed and sleepy [and] say this [...] the effects will hit you later than you might expect [...]. [via <a href="{{ source }}">Leafly</a>]
