---
strain: yellow mermaid
profile: hybrid
priceLevel: aa indoor
thca: 27.87%
video1: https://media.dont.zone/hs/media/vid/flower/aa-indoor_hybrid_yellow-mermaid.webm
photo1: https://media.dont.zone/hs/media/img/flower/aa-indoor_hybrid_yellow-mermaid-square.jpg
hdPrice: $975
regPrice: $1590
---
