#age-modal {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: center;
	 align-items: center;
	z-index: 99;

	#age-modal-content {
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	background: white;
	padding: 2rem;
	text-align: center;
	width: min(90%, 65ch);
	margin-inline: auto;
	border-radius: 1rem 0.25rem;
	box-shadow: 0 0 10px black;
	aspect-ratio: 4/3;
	height: auto;
	display: grid;
	place-content: center;
	gap: 1rem;
	background-image: url(/img/site/background-purple.png);
	background-size: 500%;
	background-position: center;
	& button {
		color: white;
		margin: 0;
		padding: 1rem 2rem;
		border: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: none;
		cursor: pointer;
		font-weight: bold;
		font-size: 18px;
		background-color: transparent;
		outline: 2px solid white;
		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
		transition:
			color 200ms ease-out,
			outline 200ms ease-out;
		&:first-of-type {
			border-radius: 0.25rem;
			&:hover {
				color: hsl(110, 75%, 75%);
				outline: 2px solid hsl(110, 75%, 75%);
				transition:
				color 200ms ease-in,
				outline 200ms ease-in;
			}
		}
		&:last-of-type {
			border-radius: 0.25rem;
			&:hover {
				color: hsl(360, 74%, 57%);
				outline: 2px solid hsl(360, 74%, 57%);
				transition:
					color 200ms ease-in,
					outline 200ms ease-in;
			}
		}
		}
	}

}
