*,
::after,
::before {
	box-sizing: border-box
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
	margin: 0
}

ol[role=list],
ul[role=list] {
	list-style: none
}

body {
	min-height: 100vh;
	line-height: 1.5
}

button,
h1,
h2,
h3,
h4,
input,
label {
	line-height: 1.1
}

h1,
h2,
h3,
h4 {
	text-wrap: balance
}

a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor
}

img,
picture {
	max-width: 100%;
	display: block
}

button,
input,
select,
textarea {
	font: inherit
}

textarea:not([rows]) {
	min-height: 10em
}

:target {
	scroll-margin-block: 5ex
}

@font-face {
	font-family: 'Cooper';
	src: local('Cooper'), url('/fonts/COOPBL.woff') format('woff');
}

@font-face {
	font-family: 'Graphik';
	src: local('Graphik'), url('/fonts/GraphikCondensed-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'RobotoCondensed';
	src: local('RobotoCondensed'), url('/fonts/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
}

@view-transition {
	navigation: auto;
}

:root {

	--box-shadow-66: 0 4px 2px rgba(0, 0, 0, 0.33);
	--text-shadow: 0 1px 2px rgba(0, 0, 0, 0.66);
	--font-body-family: "RobotoCondensed", ui-sans-serif, sans-serif;
	--font-heading-family: "Cooper", ui-sans-serif, sans-serif;
	--font-body-size: 18px;
	--font-heading-size: 2rem;
	--font-color-default: whitesmoke;
	--font-color-dark: black;
	--font-color-secondary: rgb(255, 255, 77);
	--border-radius: 0.33rem;

}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

html {
	color: var(--font-color-default);
	font-size: var(--font-body-size);
	scroll-behavior: smooth;
	background-image: linear-gradient(hsla(0, 0%, 16%, 1), hsla(360, 1%, 11%, 1));
	background-size: cover;
	background-attachment: fixed;
}

body {
	font-family: var(--font-body-family);
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-heading-family);
	text-transform: uppercase;
	padding-block: 0.5rem;
	letter-spacing: 1px;
	color: var(--font-color-default);
}

img {
	border-radius: var(--border-radius);
}

p {
	margin-bottom: 1rem;
}

.tip {
	width: min(100%, 90ch)!important;
	border-radius: 0.25rem;
	letter-spacing: 1px;
	margin-block: 1dvw 0;
	line-height: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
	padding-innline: 1rem;
	font-size: 0.75rem;
	box-shadow: var(--box-shadow-66);
	text-shadow: none!important;
	font-weight: bold;
	border: 3px solid rgba(251, 250, 121, 1);

	&::before {
		content: "Tip ";
		font-weight: bold;
		text-transform: uppercase;
		background-color: rgba(251, 250, 121, 1);
		margin-right: 1rem;
		display: block;
		padding: 2dvw;
		color: var(--font-color-dark);
	}
}

kbd {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	font-size: 0.5rem;
	text-transform: uppercase;
	margin-inline: 0.5ch;
	color: var(--font-color-dark);
}

.left {
	text-align: left;
}

.notice {
	font-size: 0.75rem;
	background-color: rgba(255, 255, 255, 0.1);
	display: block;
	text-align: center;
	padding: 0.25rem;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.33);
	letter-spacing: 1px;
}

.flex-row {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1dvw;
}

.flex-column {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: flex-start;
		gap: 0.5rem;
}

.center {
	text-align: center;
}

.wrapper {
	width: 100%;
}

header.site-header {
	width: 100%;
	background-image: url(/img/background-purple.png);
	background-size: cover;
	background-position: bottom;
	box-shadow: var(--box-shadow-66);

	& .inner-header {
		width: min(100%, 90ch);
		margin-inline: auto;
		padding-inline: 0.5rem;

		&.flex-row {
			align-items: flex-end;

			.site-title,
			.page-title {
				width: min(100%, 40ch);
				flex-grow: 1;
			}

			.page-title h2 {
				font-size: clamp(2rem, 5.33dvw, 2.33rem);
				padding: 0;
			}
		}
	}

	& .site-title {
		padding-inline: 1rem;

		& img {
			margin-inline: auto;
			margin-top: 0.5rem;
			width: calc(100% - 2dvw);
		}
	}

	@supports (paint-order: stroke fill) {
		.today {
			-webkit-text-stroke: 8px black;
			paint-order: stroke fill;
			text-shadow: none!important;
			}
	}

	& .page-title {

		& h2,
		h3 {
			font-size: clamp(1rem, 5dvw, 2rem);
			letter-spacing: 1px;
			color: white;
			text-align: center;
		}

		& h2 {
			padding-block: 1rem 0;
			color: var(--font-color-secondary);
		}

		& h3 {
			padding-block: 0 1rem;
		}
	}
	}

	& p {
		font-size: 1rem;
	}

	nav {
		background-color: rgba(255, 255, 255, 0.1);
		overflow: hidden;
		text-align: center;
		text-transform: uppercase;
		font-family: 'RobotoCondensed', ui-sans-serif, sans-serif;
		backdrop-filter: blur(3px);
		letter-spacing: 1px;
		font-weight: bold;

			& a[href] {
			display: block;
			text-decoration: none;
			padding: 0.5rem 0.5rem;
			color: white;
			font-size: clamp(0.5rem, 3dvw, 0.75rem);
			height: 100%;
			flex-grow: 1;
			text-shadow: var(--text-shadow);

			&:hover {
				background-color: rgba(255, 255, 255, 0.1);
				transition:
					background-color ease-in 250ms,
					color ease-in 250ms;
				color: yellow;
			}

			& .focus {
			color: var(--font-color-secondary) !important;
			}
		}
}

#homepage h2 {
	margin-block: 2dvw;
}

#homepage .flex-row { align-items: stretch; }

main {
	width: 100%;
	margin-inline: auto;

	& p {
		margin-bottom: 1rem;
	}

	.content {
		border-radius: var(--border-radius);
		width: calc(100% - 1rem);
		margin-inline: auto;
	}

	.page-content {
		background-color: whitesmoke;
		background-image: linear-gradient(rgb(255, 255, 255), rgb(239, 239, 239));
		color: var(--font-color-dark);
		width: min(100% - 2dvw, 90ch);
		margin-inline: auto;
		margin-block: 2rem 1rem;
		padding: 2rem;
		box-shadow: var(--box-shadow-66);

		& h2 {
			color: var(--font-color-dark);
			padding-block: 0 2rem;
			font-size: 2rem;
			text-align: center;
		}

		& h3 {
			font-size: 1.25rem;
			color: var(--font-color-dark);
			text-shadow: none;
		}

		& p {
			text-align: justify;
			margin-inline: auto;
		}
	}
}

.intro, .page-header {
	margin-inline: auto;
	padding: 1rem 2rem;
	outline: 1px solid rgba(0, 0, 0, 0.1);
	background-image: url(/img/background-green.png);
	background-size: 300%;
	background-position: center;
	color: white;
	box-shadow: var(--box-shadow-66);
	overflow: hidden;
	text-align: justify;

	& p {
		text-shadow: var(--text-shadow);
		margin-bottom: 0;
		margin-inline: auto;
		width: min(100%, 120ch);
	}

	& .fake-header {
		font-weight: bold;
		letter-spacing: 1px;
	}
}

& .about {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 1rem 2rem 0.1rem 2rem;
	border-radius: var(--border-radius);
	margin-block: 1rem;
	color: var(--font-color-dark);
	width: fit-content;
	margin-inline: auto;
}

#new-flower {
	font-size: 2.5rem;
	letter-spacing: 2px;
}

#page {

	.page-header {
		padding-bottom: 2rem;
		margin-bottom: 2rem;

		.page-title {
		font-size: 2rem;
		margin-block: 0;
		text-shadow: var(--text-shadow);
		}
	}
}

#media-page {
	width: calc(100% - 2dvw);
	color: var(--font-color-dark);
	.post {
		width: min(100%, 95ch);
		margin-top: 2dvw;
		header {
			.flex-row {
				gap: 1dvw;
				align-items: stretch;
				align-content: center;
			 }
			.price-compare {
				width: min(100%, 40ch);
				flex-grow: 1;
			}
		}
	}
}

.post {
		background-color: whitesmoke;
		padding: 1rem;
		width: min(100%, 45ch);
		margin-inline: auto;
		margin-block: 0;
		color: var(--font-color-dark);
		border-radius: var(--border-radius);
		overflow: hidden;
		text-transform: uppercase;
		flex-grow: 1;

	& header {
		padding-inline: 0;
		padding-block: 0 1dvw;
		text-transform: uppercase;

		&.flex-column {
			gap: 0;
			align-items: flex-start;
			align-content: flex-start;
		}

		& h3 {
			font-family: 'RobotoCondensed', ui-sans-serif, sans-serif;
		}

		&.flex-row {
			justify-content: space-between;
			align-items: stretch;
			flex-flow: row wrap;

			& span {
				displplay: block;
				width: 100%;
			}
		}
		& .price-compare {
			width: 100%;
			border: 3px solid  rgba(195, 30, 30, 1);
			border-radius: var(--border-radius);
			overflow: hidden;
			padding: 3px;
			margin: 0;
			&.flex-row {
				justify-content: space-between;
				justify-items: center;
				align-items: center;
				background-color: whitesmoke;
				padding-block: 0 1dvw;
				gap: 0;
			}
			& p {
				margin: 0;
				width: min(100%, fit-content);
				padding: 0;
				flex-grow: 1;
				&:first-of-type {
					font-size: 2rem;
					line-height: 1;
					font-family: 'Cooper', ui-sans-serif, sans-serif;
					color: rgba(195, 30, 30, 1);

					& strong {
						font-size: 1rem;
						font-family: 'RobotoCondensed', ui-sans-serif, sans-serif;
						color: var(--font-color-dark);;
					}
				}
				&:last-of-type {
					span {
						display: block;
						padding-top: 1dvw;
					}
				}
			}
		}
		& .row {
			width: 100%;
			align-items: flex-start;
			margin-bottom: 1dvw;
			flex-wrap: nowrap;
			& .flex-column {
				gap: 0;
			}
		}
		& .strain-info {
			width: 66%;
			flex-grow: 1;
			padding-right: 1dvw;
			h2 {
				font-size: clamp(1.5rem, 4dvw, 2rem);
				line-height: 1;
			}
		}

		& .other-info {
			width: 33%;
			flex-grow: 1;
			border-radius: var(--border-radius);

			&.indica {
				background-color: rgba(111, 52, 172, 1);
				background-image: linear-gradient(rgba(111, 52, 172, 1), rgba(96, 45, 149, 1));
			}

			&.sativa {
				background-color: rgba(172, 52, 52, 1);
				background-image: linear-gradient(rgba(172, 52, 52, 1), rgba(144, 44, 44, 1));
			}

			&.hybrid {
				background-color: rgba(65, 172, 52, 1);
				background-image: linear-gradient(rgba(65, 172, 52, 1), rgba(56, 145, 45, 1));
			}
		}
	}
	& .media-area img, video {
		outline: 3px solid black;
	}

	& video,
		img {
			background-color: rgba(0, 0, 0, 0.1);
			border-radius: var(--border-radius);
			aspect-ratio: 1 / 1;
			object-fit: cover;
			object-position: center;
			height: auto;
			width: 100%;
			padding: 0;
			margin: 0;
		}
	& h2 {
		font-size: 2rem;
		padding-block: 0!important;
		color: var(--font-color-dark);

	}

	& .price-level {
		font-size: 1rem;
		padding: 0;
		color: var(--font-color-dark);
	}

	& .thca {
		font-weight: 900;
		background-color: whitesmoke;
		border-radius: 0.25rem;
		padding: 0.5rem;
		font-size: 1.25rem;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 50%;
		width: calc(100% - 6px);
		margin-inline: auto;
		margin-bottom: 3px;
	}

	& .profile {
		text-align: center;
		color: white;
		text-shadow: var(--text-shadow);
		font-size: 0.75rem;
		display: block;
		padding: 0.5rem;
		border-radius: var(--border-radius);
		font-size: 1.25rem;
		height: 50%;
		width: 100%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	& .media-area {

		& .flex-row {
			gap: 1rem;
			align-items: center;
			justify-content: space-between;
		}

		.item {
		width: min(100%, 45ch - 1.5rem);
		overflow: hidden;
		border-radius: var(--border-radius);
		outline: 3px solid black;
		flex-grow: 1;
		&:first-of-type {
			width: 100%;
		}

		& img, video {
			aspect-ratio: 1 / 1;
			object-fit: cover;
			object-position: center;
			height: auto;
			display: block;
			width: 100%;
		}
	}
}

}

@media (max-width: 500px) {

	.home section h3 { font-size: 1rem!important; margin-block: 3dvw!important; }
	.home .flex-row { gap: 0!important; }

	.site-title {
		padding-inline: 1dvw!important;

		img {
		width: 75%!important;
		margin-block: 0!important;
	}
}

	nav {
		font-size: 0.75rem!important;
		gap: 0!important;
		a[href] {
			padding-block: 3dvw!important;
			padding-inline: 2dvw!important;
			letter-spacing: 0;
		}
	}

	.intro {
		p {
		font-size: 0.75rem!important;
	}
}
	.page-header {
		padding-bottom: 1rem!important;
		margin-bottom: 2dvw!important;
		h2 {
			font-size: 1rem!important;
			margin-bottom: 0;
		}
		.tip {
			display: none;
			}
			.desc {
				font-size: 0.75rem!important;
			}
		}

	.page-content {
		font-size: 0.75rem!important;
		padding: 1rem!important;
		margin-top: 2dvw!important;
	 	.coa-list {
			 columns: 2!important;
			 width: 100%!important;
			 margin: 1rem 0 1rem 0!important;
			 padding: 0;
		 }
	 }

	.post { padding: 2dvw; }
	.post .profile, .post .thca { padding: 1dvw!important; }
	.post .flex-row { gap: 2dvw!important; }
	#media-page {
		.flex-row { gap: 3dvw!important; }
		.price-compare { margin-bottom: 0!important; }
	}
	.price-compare, .row {
		margin-bottom: 2dvw!important;
	}
	#site-footer p {
		font-size: 0.75rem!important;
	}
#media-list {
	width: calc(100% - 2dvw);
	margin-inline: auto;

	&.flex-row {
		align-items: stretch!important;
		justify-content: space-between;
		gap: 2dvw!important;
	}
	& .strain-info h2 { font-size: 2rem; padding-bottom: 3dvw!important; }
	.price-compare { padding-bottom: 3dvw!important;}
}
 main {
	 padding-bottom: 2dvw!important;
 }

 .about {
	 padding: 2dvw!important;
	 p { font-size: 0.75rem; margin-bottom: 0!important; }
 }
}



/* footer */

#site-footer {
	background-image: url(/img/background-purple.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 2rem 1rem 5rem 1rem;
	margin-top: 2rem;
	position: relative;

	& .flex-row {
		align-items: flex-start;
		gap: 1rem;

		&>* {
			flex-grow: 1;
			width: min(100%, 30ch);
			background-color: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(10px);
			padding: 1rem;
			border-radius: var(--border-radius);
		}
	}

	& .footer-nav {
		gap: 1rem;
		display: none;

		& a[href] {
			color: white;
			display: block;
			width: fit-content;
			text-transform: capitalize;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.footer-text {
		& .emailoctopus-form input:not([type=submit]) {
			border: 1px solid white;
			background: none !important;
			border-radius: var(--border-radius);
			color: white;

			&::placeholder {
				color: white;
				opacity: 0.75;
				font-family: 'RobotoCondensed', sans-serif, ui-sans-serif;
			}
		}

		& form label {
			color: whitesmoke;

		}
	}

	[data-form="692429b2-6b0d-11ef-b669-f17af538ed72"] .mastfoot.no-bg p {
		display: none;
	}

	.copy {
		background-color: rgba(255, 255, 255, 0.1);
		margin-block: 1rem 0;
		padding: 1rem;
		font-size: 0.75rem;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

/* menu */


.page-header {
	color: white;
	text-shadow: 0 2px 1px black;

	& h2 {
		font-size: 2rem;
		padding-block: 0;
	}
}

.content.menu .padding {
	margin-top: 1rem;
	padding: 0;

	.flex-row {
		gap: 1rem;
		align-items: stretch;
	}

	.indicas {
		background-image: url(/img/background-purple.png);
	}

	.sativas {
		background-image: url(/img/background-red.png);
	}

	.hybrids {
		background-image: url(/img/background-green.png);
	}

	.prices {
		background-image: url(/img/background-green.png);
		filter: grayscale(100%);
	}

	.indicas,
	.sativas,
	.hybrids,
	.prices {
		margin-bottom: 0.5rem;
		background-position: center;
		background-size: cover;
		padding: 1rem 0.5rem 2rem 0.5rem;
		border-radius: var(--border-radius);
		box-shadow: 0 3px 0 rgba(0, 0, 0, 0.66);
		width: min(100%, 45ch - 1rem);
		flex-grow: 1;

		& h4 {
			color: whitesmoke;
			padding-block: 0.25rem 1rem;
		}
	}

	.prices {
		outline: 1px solid rgba(0, 0, 0, 0.1);

		& .strain span {
			flex-grow: 1;
		}

		& .list {
			align-items: flex-start;
			padding: 0.5rem;
			gap: 1rem;

			& .jars,
			.lbs {
				flex-grow: 1;

				& span:first-of-type {
					font-weight: bold;
					text-transform: lowercase;
				}
			}
		}
	}



	.strain-body {
		text-transform: uppercase;
		table-layout: auto;
		color: var(--font-color-dark);
		background-color: whitesmoke;
		border-radius: var(--border-radius);
		overflow: hidden;
		font-size: 0.75rem;
		height: calc(100% - 2rem);
		padding-top: 0.5rem;

		& header {
			padding-bottom: 0.33rem;
		}

		table {
			border-collapse: collapse;
			width: 100%;

			& thead {
				font-size: 0.66rem;
			}

			& th {
				font-weight: 800;
				text-align: left;
			}

			& th,
			td {
				padding: 0.33rem;
			}

			& tbody tr:nth-of-type(even) {
				background-color: rgba(0, 0, 0, 0.05);
			}

			.strain-name {
				& a[href] {
					text-decoration-line: underline;
					text-decoration-thickness: 3px;
					text-decoration-color: blue;
				}
			}

			& td:first-of-type {
				font-weight: 500;
			}
		}
	}
}

h3 {
	font-size: 2rem;
}

.menu-nav {
	background-color: hsla(123, 50%, 41%, 1);
	background-image: url(/img/background-green.png);
	background-size: 200%;
	background-position: center;
	color: white;
	font-size: 0.75rem;
	justify-content: center;
	letter-spacing: 1px;
	outline: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.66);
	justify-content: space-between;
	border-radius: var(--border-radius);
	overflow: hidden;
	margin-top: 1rem;

	& a[href] {
		flex-basis: 10%;
		display: block;
		padding: 0.75rem 0.5rem;
		text-decoration: none;
		flex-grow: 1;
		text-align: center;
		text-shadow: var(--text-shadow);
		font-weight: 500;

		&:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}

		&:last-child {
			width: 100%;
			text-align: center;
		}
	}
}


.others,
.exotics,
.indoor {
	position: relative;

	.others-nav,
	.exotics-nav,
	.indoor-nav {
		position: sticky;
		left: 0;
		right: 0;
		top: 0;
		z-index: 99;
	}
}

.padding {
	padding: 1dvw;
}


/* COA LIST, CONTACT US, ABOUT */

.contact-sheet {
	color: var(--font-color-dark);;
	width: min(100%, 90ch);
	margin-inline: auto;
	& .flex-row {
		gap: 1rem;
		align-items: stretch;
		justify-content: space-between;
		}
	& .box {
		width: min(100%, 40ch - 1rem);
		background-color: whitesmoke;
		padding: 1rem;
		border-radius: var(--border-radius);
		flex-grow: 1;

		& span {
			display: block;

		&.name {
			font-weight: 500;
			text-transform: uppercase;
			font-family: 'Cooper', ui-sans-serif, sans-serif;
			}

			& a[href^="tel:"] {
				font-weight: 500;
				color: rgb(99, 72, 157);
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.page-content:has(.coa-list),
.page-content.contact {
	border-radius: var(--border-radius);

	& .coa-list {
		width: min(100%, 90ch);
		margin-inline: auto;
		columns: 25ch auto;

		li {
			list-style-type: none;
		}
	}

	& form input, form textarea, form button {
		outline: 1px solid black;
		border: 0;
		border-radius: 0.25rem;

		&:focus {
			outline: 2px solid greenyellow;
			box-shadow: 0 0 5px 1px greenyellow;
		}
	}
	& form input, form textarea {
		padding: 0.25rem 0.5rem;
		width: 100%;
	}

	& form button {
		background-color: var(--font-color-dark);
		color: white;
		padding: 1rem;
		margin-inline: auto;
		display: block;
		&:hover {
			background-color: #333;
			cursor: pointer;
		}
	}
}

main {
	padding-bottom: 2rem;
	width: 100%;
}
