@import url("/css/reset.css");
@import url("/css/menu.css");
@import url("/css/age-verification.css");
@import url("/css/mobile.css");

:target {
	scroll-margin-block: 5ex;
}

@font-face {
	font-family: 'Cooper';
	src: local('Cooper'), url('/fonts/COOPBL.woff') format('woff');
}

@font-face {
	font-family: 'National Park';
	src: local('National Park'), url('/fonts/NationalPark-VariableFont_wght.ttf') format('truetype');
}

@view-transition {
	navigation: auto;
}

:root {
	--box-shadow-66: 0 4px 2px rgba(0, 0, 0, 0.33);
	--box-shadow-10: 0 4px 2px rgba(0, 0, 0, 0.1);
	--text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	--font-body-family: "National Park";
	--font-heading-family: "Cooper", ui-sans-serif, sans-serif;
	--font-body-size: 16px;
	--font-heading-size: 2rem;
	--font-color-default: whitesmoke;
	--font-color-dark: black;
	--font-color-secondary: rgb(255, 255, 77);
	--border-radius: 0.25rem;
	--border-radius-odd: 1rem 0.25rem;
}

.white-glass {
	backdrop-filter: blur(3px) brightness(120%);
	border-top: 1px solid rgba(255, 255, 255, 0.25);
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.rounded {
	border-radius: var(--border-radius);
}

@supports (paint-order: stroke fill) {
	.yellow {
		-webkit-text-stroke: 4px black;
		paint-order: stroke fill;
		text-shadow: none !important;
		color: var(--font-color-secondary);
	}
}

.visually-hidden {
	display: none!important;
}

.is {
	background-color: rgb(51, 144, 51);
}

.oos {
	background-color: rgb(189, 62, 62);
}

html {
	color: var(--font-color-default);
	font-size: var(--font-body-size);
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-body-family);
	background-color: #171614;
}

h1,
h2,
h3,
h4 {
	padding-block: 0.5rem;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--font-heading-family);
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 1px;
}

img {
	border-radius: var(--border-radius);
}

p {
	margin-bottom: 1rem;
	letter-spacing: 0.25px;
}

blockquote {
	padding-left: 2rem;
	margin-bottom: 1rem;
	font-style: italic;
}

main a[href] {
	text-decoration: underline;
	text-decoration-color: blue;

	&:hover {
		text-decoration: none;
	}
}

.page-content a[href] {
	text-decoration-thickness: 1px;
}

/* pricing page */

.pricing-info {
	table-layout: fixed;
	width: 100%;
	margin: 0;
	border: none !important;
	border-collapse: collapse;
	outline: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0.5rem;
	overflow: hidden;
	font-family: var(--font-body-family);
	font-size: calc(1rem - 2px);

	caption {
		color: whitesmoke;
		padding: 3dvw;
		font-size: calc(1rem + 6px);
		text-transform: uppercase;
		font-family: var(--font-heading-family);
		letter-spacing: 2px;
		text-shadow: var(--text-shadow);
		background: transparent;
	}

	thead {

		th {
			color: whitesmoke;
			font-weight: bold;
			text-shadow: var(--text-shadow);

		}
	}

	tbody {
		tr {
			&:nth-of-type(even) {
				background-color: rgba(244, 244, 244, 0.05);
				backdrop-filter: brightness(125%);
			}

			.reg-price, .hd-price {
				letter-spacing: 1px;
			}

			td {
color: whitesmoke;
			text-shadow: var(--text-shadow);			}

			td.price-level {
				font-size: calc(1rem - 2px);
				font-weight: bold;
			}

			td.reg-price {
				font-size: calc(1rem - 2px);
			}

			td.hd-price {
				font-weight: bolder;
			}

		}
	}

	tfoot {
		tr {
			background-color: whitesmoke;

			th {
				color: black;

				a[href] {
					color: whitesmoke;
					text-transform: uppercase;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
						text-decoration-color: var(--font-color-secondary);
					}
				}
			}
		}
	}
}

.pricing-info:first-of-type {
	background-image: radial-gradient(hsla(113, 40%, 42%, 1), hsla(146, 87%, 30%, 1));
	caption, thead th, tfoot th {
		background-color: hsla(146, 87%, 14%, 1);
	}
}

.pricing-info:last-of-type {
	background-image: radial-gradient(hsla(254, 37%, 45%, 1), #89608E);
	caption, thead th, tfoot th {
		background-color: hsla(254, 37%, 45%, 1);
	}
}

.full-width {
	width: 100%;
	margin-block: 0 2dvw;
	border-collapse: collapse;
	border: 1px solid rgba(0, 0, 0, 0.5);

	th {
		text-align: left;
	}

	th:first-of-type {
		overflow: hidden;
	}

	th,
	td {
		padding: 0.5rem;
		color: black;
	}

	.profile {
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
	}
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	z-index: 0;
	display: none;
}
@supports (mix-blend-mode: plus-darker) {
	.overlay {
		display: block;
		background-size: 25%;
		background-repeat: repeat;
		background-image: url("/img/site/overlay.jpg");
		mix-blend-mode: plus-darker;
	}
}
@supports (mix-blend-mode: multiply) {
	.overlay {
		display: block;
		background-size: 25%;
		background-repeat: repeat;
		background-image: url("/img/site/overlay.jpg");
		mix-blend-mode: multiply;
	}
}


/* profile colors */

.profile.hybrid {
	background-color: rgba(122, 193, 67, 0.66);
}

.profile.indica {
	background-color: rgba(149, 117, 180, 0.66);
}

.profile.sativa {
	background-color: rgba(225, 34, 38, 0.66);
}


kbd {
	background-color: var(--font-color-dark);
	padding: 0.25rem 0.5rem;
	border-radius: var(--border-radius);
	font-size: 0.5rem;
	text-transform: uppercase;
	margin-inline: 2ch;
	color: var(--font-color-secondary);
}

.left {
	text-align: left !important;
}

.right {
	text-align: right !important;
}

.center {
	text-align: center !important;
}

.grid-center {
	display: grid;
	place-items: center;
}

.justify {
	text-align: justify !important;
}

.dark {
	color: var(--font-color-dark);
}

.red {
	color: rgba(195, 30, 30, 1) !important;
}

h3.red {
	margin-block: 1.5dvh 2dvh !important;
	width: 100%;
	font-family: 'Cooper' !important;
}


.notice {
	font-size: 0.75rem;
	background-color: rgba(255, 255, 255, 0.1);
	display: block;
	text-align: center;
	padding: 0.5rem;
	backdrop-filter: blur(3px);
}

/* utility */

.flex-row {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
}

.flex-column {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 0.5rem;
}


/* layout */

.wrapper {
	width: 100%;
}

/* header */

header.site-header {
	width: 100%;
	background-image: url(/img/site/background-green.png);
	background-size: 300%;
	background-position: center bottom;
	position: relative;
	z-index: 99;

	& .inner-header {
		width: min(100%, 120ch);
		margin-inline: auto;
		padding-inline: 0.5rem;

		&.flex-row {
			align-items: center;
			gap: 0;

			.site-title,
			.nav-area {
				width: min(100%, 45ch);
				flex-grow: 1;
			}

			.page-title {
				h2 {
					font-size: clamp(1.25rem, 5.33dvw, 2.33rem);
					padding: 0;
					margin-bottom: 1dvh;
				}

				h3 {
					text-shadow: var(--text-shadow);
					font-size: 1rem;
					text-transform: uppercase;
				}

				h4 {
					text-align: center;
					text-shadow: var(--text-shadow);
					font-size: clamp(1rem, 3dvw, 1.25rem);
				}
			}
		}
	}

	& .site-title {
		padding-inline: 1rem;
		margin: 0;

		.hd-title {
			text-align: center;
			margin: 0;
			padding: 0 0 1rem 0;
		}

		& img {
			margin-inline: auto;
			margin-block: 0 0.5rem !important;
			width: calc(100% - 2dvw);
			max-width: 25ch;
			height: auto;
		}
	}

	@supports (paint-order: stroke fill) {
		.hd-title {
			-webkit-text-stroke: 6px black;
			paint-order: stroke fill;
			text-shadow: none !important;
			letter-spacing: 2px !important;
		}
	}

	& h2 {
		font-size: clamp(1rem, 5dvw, 2rem);
		letter-spacing: 1px;
		color: var(--font-color-secondary);
	}

	.today {
		align-items: center;
		margin-block: 1rem 0.5rem;
	}

	.last-updated,
	.minimum {
		flex-grow: 1;
		padding: 0;
		text-align: center;
	}

	.last-updated {
		width: fit-content;

		date {
			font-weight: bold;
			color: var(--font-color-secondary);
			text-shadow: 0 1px 1px rgba(13, 52, 12, .5);
		}
	}

	.minimum {
		width: fit-content;
		font-size: clamp(14px, 3dvw, 1rem);
		font-weight: bold;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
		color: var(--font-color-secondary);
		padding: 1rem;
	}
}

nav {
	background-color: rgba(255, 255, 255, 0.1);
	text-align: center;
	backdrop-filter: blur(3px) brightness(120%);
	border-top: 1px solid rgba(255, 255, 255, 0.25);
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	border-right: 1px solid rgba(255, 255, 255, 0.05);
	margin-inline: auto;
	margin-bottom: 1rem;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow-10);

	.inner-nav {
		margin-inline: auto;

		&.flex-row {
			justify-content: center;
			flex-wrap: nowrap;
			gap: 0;
		}
	}

	& h4 {
		text-align: left;
	}

	&.nav-grid {
		display: grid;
		place-items: center;
	}



	& a[href],
	.feed-page .menu-nav a[href] {
		display: block;
		text-decoration: none;
		padding: 1rem;
		color: white;
		font-size: clamp(0.75rem, 3dvw, 1rem);
		height: 100%;
		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
		letter-spacing: 0.5px;
		flex-grow: 1;

		&:hover {
			color: var(--font-color-secondary);
			transition:
				color ease-in 250ms;
		}

		& .focus {
			color: var(--font-color-secondary) !important;
		}
	}
}

#homepage {
	margin-top: 1rem;

	.flex-row {
		align-items: stretch;
	}

	h2.center {
		margin-block: 2dvw;
	}
}

main {
	width: 100%;
	margin-inline: auto;

	& p {
		margin-bottom: 1rem;
	}

	.content {
		border-radius: var(--border-radius);
		width: min(100% - 1rem, 150ch);
		margin-inline: auto;
		position: relative;
		z-index: 1;
	}

	.page-content {
		color: var(--font-color-dark);
		width: min(100% - 1rem, 135ch);
		margin-inline: auto;
		padding-inline: 2dvw;
		padding-block: 3rem 2rem;
		min-height: 50dvh;
		position: relative;
		z-index: 0;

		& h2 {
			color: var(--font-color-dark);
			padding-block: 0 2rem;
			font-size: 2rem;
			text-align: center;
		}

		& h3 {
			font-size: 1.25rem;
			color: var(--font-color-dark);
			text-shadow: none;
			margin-block: 0 1dvw;
		}

		& h4 {
			padding: 0;
			margin-block: 0 1dvw;
			color: rgb(99, 72, 157);
		}

		& p {
			text-align: justify;
			margin-inline: auto;
		}
	}
}

.gcp {
	&>* {
		padding: 2dvw;
	}

	.iframe {
		float: left;
	}
}

.homepage,
.feed-page {
	margin-inline: auto;
}
.feed-page .menu-nav {
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow-66);
}

/* page header */

.page-header {
	padding: 5dvw 2dvw;
	background-image: radial-gradient(hsla(113, 40%, 42%, 1), hsla(146, 87%, 30%, 1));
	color: whitesmoke;
	text-shadow: var(--text-shadow);

	.desc {
		font-size: clamp(1rem, 4dvw, 1.5rem);
		width: fit-content;
		margin-inline: auto;
		text-align: center;
		width: calc(100% - 2dvw)
	}
}

.page-header:has(.price-level) {
	.page-title {
		font-size: clamp(3rem, 6dvw, 4rem);
	}

	.price-level {
		font-size: clamp(2rem, 5dvw, 2.5rem);
		text-align: center;
	}

	.desc {
		display: none;
	}
}

.strain-desc {
	font-family: var(--font-body-family);
	text-transform: none;
	text-align: justify;
	padding-top: 1rem;
	font-weight: normal;
	letter-spacing: 0;
	line-height: 1.3;

	& a[href] {
		text-decoration-color: white;
		text-decoration-thickness: 1px;
	}
}

.page-header {
	margin-inline: auto;
	overflow: hidden;

	& p {
		margin-block: 0;
		line-height: 1.5;
		width: min(100%, 90ch);
	}


}

/* homepage */

.intro {
	text-align: justify;
	padding: 4dvw 2dvw;
	position: relative;
	background:
	radial-gradient(farthest-corner, hsla(163, 11%, 12%, 1), hsla(163, 11%, 22%, 1));
	color: whitesmoke;
	position: relative;
	text-shadow: var(--text-shadow);

	p {
		margin-inline: auto;
		width: min(100% - 1rem, 60ch);
		font-size: clamp(1rem, 3dvw, 1.25rem);
	}

	h2 {
		font-size: clamp(2rem, 5dvw, 3rem);
		text-align: center;
		margin-block: 0 1rem;
		letter-spacing: 2px;
	}

	.flex-row {
		justify-content: center;
		margin-block: 5dvw 2dvw;
		gap: 2rem;

		a[href] {
			text-shadow: none;
			border-radius: var(--border-radius-odd);
			display: inline-flex;
			background-color: var(--font-color-secondary);
			color: black;
			padding: 1rem 2rem;
			font-weight: bold;
			font-optical-sizing: none;
			text-decoration: none;
			box-shadow: 0 0 0 0 black;
			transition:
				box-shadow 200ms ease-out,
				background-color 200ms ease-out;

			&:hover {
				color: black;
				box-shadow: var(--box-shadow-66);
				background-color: var(--font-color-secondary);
				transition:
					box-shadow 100ms ease-in,
					background-color 100ms ease-in;
			}
		}
	}
}



#page {
	background-color: whitesmoke;
	.page-content {
		width: min(100%, 95ch);
	}
}

#page .page-header {
	font-size: clamp(1.5rem, 5dvw, 2.5rem);
	text-align: center;
}

#homepage {
	margin-block: 0;
}

.homepage .featured {

	#media-list {
		padding-inline: 0.5rem;
	}

	footer {
		text-align: center;
		padding-inline: 1rem;
		padding-block: 0 1rem;

		a[href] {
			border-radius: var(--border-radius-odd);
			display: inline-flex;
			background-color: var(--font-color-secondary);
			color: black;
			padding: 1rem 2rem;
			font-weight: bold;
			font-optical-sizing: none;
			text-decoration: none;
			box-shadow: 0 0 0 0 black;
			transition:
				box-shadow 200ms ease-out,
				background-color 200ms ease-out;

			&:hover {
				color: black;
				box-shadow: var(--box-shadow-66);
				background-color: var(--font-color-secondary);
				transition:
					box-shadow 100ms ease-in,
					background-color 100ms ease-in;
			}
		}
	}
}

/* specials page */

.specials-page {
	.flex-row {
		align-items: flex-start;
		gap: 1rem;

		section {
			flex-grow: 1;
			width: min(100%, 45ch);

			header.flex-row {
				flex-wrap: nowrap;
			}
		}
	}

	header .price {
		.red {
			font-size: 3rem;
		}
	}

	.flex-column {
		align-items: center;
		justify-content: center;
		gap: 0;
		margin-block: 1rem;

		h2,
		h3 {
			margin-block: 0;
			padding-block: 0 !important;
			line-height: 1;
		}
	}
}


/* post lists */

.feed-page {
	position: relative !important;

	.feed-nav {
		position: sticky;
		inset: 0;
		z-index: 99;
	}
}

.featured {
	padding-inline: 0.5rem;
	position: relative;
	overflow: hidden;
	box-shadow: var(--box-shadow-66);
	padding-block: 3dvw;

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		pointer-events: none;
		z-index: 0;
		display: none;
	}

	@supports (mix-blend-mode: plus-darker) {
		.overlay {
			display: block;
			background-size: 25%;
			background-repeat: repeat;
			background-image: url("/img/site/overlay.jpg");
			mix-blend-mode: plus-darker;
		}
	}

	@supports (mix-blend-mode: multiply) {
		.overlay {
			display: block;
			background-size: 25%;
			background-repeat: repeat;
			background-image: url("/img/site/overlay.jpg");
			mix-blend-mode: multiply;
		}
	}

	&:nth-of-type(odd) {
		background-image: radial-gradient(hsla(254, 37%, 45%, 1), #89608E);
	}

	&:nth-of-type(even) {
		background-image: radial-gradient(hsla(103, 41%, 44%, 1), #3A7F44);
	}

	.section-header h2 {
		color: white;
		letter-spacing: 2px;
		font-size: clamp(3rem, 4dvw, 3.5rem);
		text-shadow: var(--text-shadow);
		padding: 2rem 1rem 1rem 1rem;

		span {
			color: var(--font-color-secondary);
		}
	}

	footer {
		text-align: center;
		padding-block: 3dvw;

		a[href] {
			text-decoration: none;
		}
	}
}

#media-list {
	margin-block: 1rem 0;
	padding-bottom: 1rem;

	&.flex-row {
		align-items: stretch;
	}
}

#media-list .post {
	background-color: rgba(255, 255, 255, 0.33);
	backdrop-filter: blur(2px) brightness(125%);
	border-top: 1px solid rgba(255, 255, 255, 0.25);
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.05);
	overflow: hidden;
}

#media-list .post:is(:nth-of-type(odd)):last-of-type {
	max-width: 595px !important;
}

/* post item */

.post {
	background-color: rgba(255, 255, 255, 0.75);
	width: min(100%, 45ch);
	margin-inline: auto;
	margin-block: 0;
	color: var(--font-color-dark);
	border-radius: var(--border-radius-odd);
	text-transform: uppercase;
	flex-grow: 1;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	backdrop-filter: blur(3px) brightness(200%);
	position: relative;
	z-index: 1;
	box-shadow: var(--box-shadow-10);
}

.post.flex-row {
	flex-flow: row nowrap;
	align-items: stretch;
	gap: 0;

	header,
	.media-area {
		width: 50%;
		flex-grow: 1;
	}

	.media-area {}

	.item {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;
		height: 100%;
		background-color: white;
	}
}

.post header {
	padding: 1rem;
	text-transform: uppercase;

	&.flex-column {
		gap: 0;
		place-items: center;
		place-content: center;
	}
}

.post header .row {
	align-items: flex-start;
	margin-bottom: 0.5rem;
	width: 100%;



	& .meta {
		gap: 0.25rem;
		align-items: flex-start !important;
		justify-content: flex-start;
		width: 100%;
	}

	& .strain-info {
		& h2 {
			line-height: 0.9;
			margin: 1rem 0;
			font-size: 2rem;
			color: var(--font-color-default);
			font-size: clamp(2rem, 4dvw, 3rem);
			text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
			line-break: normal;
		}
		@media (width < 950px) {
			h2 {
			font-size: 3rem!important;
			}
		}
		@media (width < 525px) {
			h2 {
			font-size: 2rem!important;
			}
		}



		& a[href] {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	& .price-level,
	.profile,
	.thca {
		width: fit-content;
		padding: 0.5rem;
		text-wrap: nowrap;
		font-weight: bold;
		border-radius: var(--border-radius);
		outline: 1px solid rgba(0, 0, 0, 0.05);
		text-transform: uppercase;
		font-size: calc(1rem - 4px);
		flex-grow: 1;
		text-align: center;
	}

	& .price-level {
		background-color: white;
		width: 100%;
	}

	& .profile {
		color: white;

		&.indica {
			background-color: rgba(111, 52, 172, 1);
			background-image: linear-gradient(rgba(111, 52, 172, 1), rgba(96, 45, 149, 1));
		}

		&.sativa {
			background-color: rgba(172, 52, 52, 1);
			background-image: linear-gradient(rgba(172, 52, 52, 1), rgba(144, 44, 44, 1));
		}

		&.hybrid {
			background-color: rgba(65, 172, 52, 1);
			background-image: linear-gradient(rgba(65, 172, 52, 1), rgba(56, 145, 45, 1));
		}
	}

	& .thca {
		background-color: white;
	}
}

.post header .price-compare {
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border-radius: 0.9rem 0.25rem;
	background-color: white;
	box-shadow: var(--box-shadow-10);

	&.flex-row {
		justify-content: space-between;
		justify-items: center;
		align-items: center;
		flex-wrap: nowrap;
		gap: 0;
	}

	& div {
		margin: 0;
		width: (100%, 25ch);

		&.reg {
			flex-grow: 1;

			.inner-reg {
				border-top-right-radius: var(--border-radius);
				border-bottom-right-radius: var(--border-radius);
				height: 100%;
				display: grid;
				place-content: center;

				h5 {
					padding-block: 0.5rem 0;
					margin-block: 0 0.75rem;
				}

				span {
					padding-block: 0 0.5rem;
				}
			}
		}

		&.hd {
			flex-grow: 2;
			background-color: rgba(195, 30, 30, 1);
			color: white;
			border-radius: var(--border-radius);
			padding-block: 0.5rem 0;

			span {
				background-color: white;
				width: calc(100% - 10px);
				color: black;
				margin-inline: auto;
				border-radius: var(--border-radius);
				font-weight: bold;
				font-size: calc(1rem - 2px);
			}
		}

		h5 {
			margin-block: 0 0.5rem;
			padding-inline: 0.5rem;
			font-family: var(--font-body-family);
			text-transform: capitalize;
			font-size: calc(1rem - 4px);

		}

		span {
			font-size: 1rem;
			display: block;
			padding: 0.5rem;
			margin-bottom: 5px;
			font-size: calc(1rem - 4px);

		}
	}
}

.post .media-area {

	& video,
	img {
		aspect-ratio: 1 / 1;
		object-fit: cover;
		object-position: center;
		height: auto;
		width: 100%;
		padding: 0;
		margin: 0;
	}

	& .flex-row {
		gap: 1rem;
		align-items: center;
		justify-content: space-between;
	}

	.item {
		width: min(100%, 45ch - 1.5rem);
		flex-grow: 1;
		overflow: hidden!important;

		&:first-of-type {
			width: 100%;
		}

		& img,
		video {
			aspect-ratio: 1 / 1;
			object-fit: cover;
			object-position: center;
			height: auto;
			display: block;
			width: 100%;
			border-radius: 0;
		}

	}
}

#media-page:has(.post) {
	width: min(100%, 90ch);
	margin-inline: auto;

	& .post {
		width: 100%;
		background-color: whitesmoke;
		padding-block: 1rem;
		border-radius: 0!important;
		.row {
			margin-block: 0;
		}

		& .flex-column:first-of-type {
			flex-flow: row wrap;
			gap: 1rem;
			&> * {
				width: min(100%, 33ch);
				flex-grow: 1;
			}
		}
		.profile,
		.thca {
			font-size: clamp(1rem, 4dvw, 2rem) !important;
		}

		.price-level {
			display: none;
		}

		.price-compare {
			h5,
			span {
				font-size: 1rem !important;
			}
		}

		.item {
			width: min(100%, 35ch);
			flex-grow: 1;
			border-radius: 0.25rem;
		}
	}
}

#media-page:has(.item) {
	.media-area {
		padding: 1rem 1rem 0 1rem;

		iframe {

		}

		.item, iframe {
			outline: 1px solid rgba(0, 0, 0, 0.1);
		}
	}
}

/* footer */

#site-footer {
	background-image: url(/img/site/background-purple.png);
	background-size: 600%;
	background-position: center bottom;
	padding: 3dvw 2dvw;

	& .footer-nav,
	.sub-notice,
	.footer-text {
		border-top: 1px ridge rgba(255, 255, 255, 0.25);
		border-bottom: 1px ridge rgba(255, 255, 255, 0.05);
		border-right: 1px ridge rgba(255, 255, 255, 0.05);
		border-left: 1px ridge rgba(255, 255, 255, 0.1);
		background-color: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(5px) brightness(125%);
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow-10);
	}

	& .sub-notice,
	.footer-text {
		padding: 2rem 1rem;
	}

	p {
		text-align: justify;
	}

	& .flex-row {
		align-items: flex-start;
		gap: 1rem;

		.footer-nav,
		.footer-text,
		.sub-notice {
			flex-grow: 1;
			width: min(100%, 30ch);

		}
	}

	h4 {
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
		font-size: calc(1rem + 1dvw);
		margin-block: 0 1rem;

		&:nth-of-type(even) {
			margin-block: 1rem 1rem;
		}
	}

	& .footer-nav {
		gap: 1rem;
		padding: 2rem 1rem;

		& a[href] {
			color: white;
			display: block;
			width: fit-content;
			text-transform: capitalize;
			font-weight: normal;
			font-size: 1rem;
			line-height: 0.5;
			padding: 0.75rem 0;
			text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

			&:hover {
				text-decoration: none;
				border-radius: var(--border-radius);
				color: var(--font-color-secondary);
				background: none;
			}
		}
	}

	.footer-text {

		& .inline-container {
			margin-inline: auto;
		}

		& .emailoctopus-form input:not([type=submit]) {
			border: 1px solid white;
			background: none !important;
			border-radius: var(--border-radius);
			color: white;

			&::placeholder {
				color: white;
				opacity: 0.75;
				font-family: var(--font-body-family);
			}
		}

		& form label {
			color: whitesmoke;

		}
	}

	[data-form="692429b2-6b0d-11ef-b669-f17af538ed72"] .mastfoot.no-bg p {
		display: none;
	}

	.copy {
		margin-block: 1rem 0;
	}
}

/* contact page */

.page-content.contact {

	form {
		width: min(100%, 75ch);
		margin-inline: auto;
		background-color: white;
		padding: 1rem;
		border-radius: 1.5rem 0.25rem;

		div {
			padding: 1rem;
			border-radius: 0.25rem;
			margin-block: 0.5rem 1rem;
			background-color: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(3px);
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			border-right: 1px solid rgba(0, 0, 0, 0.05);
			border-bottom: 1px solid rgba(0, 0, 0, 0.02);
			border-left: 1px solid rgba(0, 0, 0, 0.1);
			box-shadow: var(--box-shadow-10);

			label {
				margin-block: 0.25rem 0;
				display: block;
				font-weight: bold;
			}
		}
	}

	& form input,
	form textarea,
	form button {
		outline: 1px solid rgba(0, 0, 0, 0.1);
		border: 0;
		border-radius: 0.25rem;

		&:focus {
			outline: 1px solid greenyellow;
			box-shadow: 0 0 5px 1px greenyellow;
		}
	}

	& form input,
	form textarea {
		padding: 1rem;
		width: 100%;
	}

	& form button {
		background-color: var(--font-color-dark);
		color: white;
		padding: 1rem;
		margin-inline: auto;
		display: block;
		border-radius: 1.5rem 0.25rem;

		&:hover {
			background-color: #333;
			cursor: pointer;
		}
	}
}

.contact-sheet {
	color: var(--font-color-dark);
	margin-inline: auto;

	table {
		width: 100%;
		table-layout: auto;

		th {
			text-align: left;
			padding-block: 0 1rem;

			&.name {
				font-family: var(--font-heading-family);
				text-transform: uppercase;
				font-size: calc(1rem + 1dvw);
			}
		}

		td {
			padding: 0.33rem;
		}

		td:nth-of-type(odd) {
			width: 33%;
			font-weight: 700;
			padding-inline: 0;
		}
	}

	h2 {
		margin-block: 2rem 1rem;
	}

	p {
		margin-block: 0 2rem;
		width: min(100% - 1rem, 90ch);
	}

	& .flex-row {
		gap: 1rem;
		align-items: stretch;
		justify-content: space-between;
	}

	& .box {
		width: min(100%, 40ch - 1rem);
		background-color: white;
		padding: 1rem;
		border-radius: var(--border-radius-odd);
		flex-grow: 1;
		outline: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: var(--box-shadow-10);

		& table tr td {
			&.name {
				font-weight: 500;
				text-transform: uppercase;
				font-family: 'Cooper', ui-sans-serif, sans-serif;
			}

			& a[href^="tel:"],
			a[href^="mailto:"] {
				font-weight: 500;
				color: rgb(99, 72, 157) !important;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

/* COA page */
nav.toc {
	position: sticky;
	inset: 0;
	margin-block: 0 2rem;
	box-shadow: var(--box-shadow-66);
	font-size: 1rem;
	text-transform: uppercase;
	border-radius: var(--border-radius);
	background-color: hsla(139, 60%, 35%, 1);
	margin-inline: 0;
	padding-inline: 1rem;

	a[href] {
		padding-inline: 0.25rem;
		display: inline-block;
		text-shadow: var(--text-shadow);
		color: white;
		width: fit-content;
		padding-block: 2dvw;

		&:hover {
			text-decoration: underline;
			background: none !important;
			color: white;
		}
	}
}
.page-content:has(.coa-list) {
	position: relative;

	h2 {
		font-size: 3rem;
	}
	h3 {
		font-size: 2rem;
		text-align: center;
	}
	h3:last-of-type {
		margin-block: 2rem 1rem;
		padding-top: 0;
	}

	.outline {
		outline: 1px solid rgba(127, 127, 127, 0.1);
		border-radius: var(--border-radius-odd);
		padding: 1rem;
		margin-block: 1rem;
		text-align: center;
		background-color: white;
		box-shadow: var(--box-shadow-10);
	}

	& .coa-list {
		width: 100%;
		margin-block: 0 2dvh;
		columns: 26ch auto;
		font-size: calc(1rem - 2px);

		& li {
			list-style-type: none;
			margin-block: 0.25rem;

			& a[href] {
				text-transform: uppercase !important;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}


}
.tip {
	margin-block: 1rem 0;
	width: fit-content !important;
	border-radius: var(--border-radius-odd);
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
	padding: 1rem;
	font-size: 1rem;
	text-shadow: none !important;
	font-weight: bold;
	text-wrap: nowrap;
	overflow: hidden;

	&::before {
		border-radius: var(--border-radius-odd);
		content: "Tip ";
		background-color: rgba(251, 250, 121, 1);
		margin-right: 1rem;
		display: block;
		padding: 1dvw;
		color: var(--font-color-dark);
		outline: 6px solid rgba(251, 250, 121, 1);
	}
}
