.hd,
.reg {
	font-size: clamp(1rem, 4dvw, 1.25rem) !important;
}

hr {
	margin-block: 0.25rem !important;
	padding: 0 !important;
	border: 0.5px solid rgba(0, 0, 0, 0.1) !important;
}

.content.menu {
	padding: 0;
	width: 100%;
}

.content.menu .padding {
	margin-block: 0;
	padding: 0;
	background-image: linear-gradient(0.33turn, #232c2a, #181818);
	position: relative;

	.white-bg {
		background-color: whitesmoke;
		border-radius: var(--border-radius);
		padding-inline: 1rem;
		padding-block: 0 1rem;
		margin-block: 0 1rem;
	}

	section {
		padding-block: 4dvw;
		padding-inline: 2dvw;
		header .price-compare {
			.reg {
				color: #1C2321;
			}
		}
		h3 {
			font-size: clamp(2rem, 5dvw, 3rem);
			padding-block: 0 1rem;
		}
	}

	section header {
		margin-block: 1rem;
		text-shadow: var(--text-shadow);
		padding-block: 1rem 0;
		justify-content: space-between;
		align-items: center !important;
		&.flex-row {
			flex-wrap: nowrap;
		}

		.price-compare {
			width: min(100%, 35ch);
			flex-grow: 1;
			overflow: hidden;
			margin: 0;
			padding: 0;
			border-radius: 1.5rem 0.25rem;
			background-color: white;
			font-size: calc(1rem - 2px);

			&.flex-row {
				justify-content: space-between;
				justify-items: center;
				align-items: center;
				flex-wrap: nowrap;
				gap: 0;
			}

			& div {
				margin: 0;
				width: (100%, 25ch);

				&.reg {
					flex-grow: 1;

					.inner-reg {
						border-top-right-radius: var(--border-radius);
						border-bottom-right-radius: var(--border-radius);
						height: 100%;
						display: grid;
						place-content: center;

						h5 {
							padding-block: 0.5rem 0;
							margin-block: 0 0.75rem;
						}

						span {
							padding-block: 0 0.5rem;
						}
					}
				}

				&.hd {
					flex-grow: 2;
					background-color: rgba(195, 30, 30, 1);
					color: white;
					border-radius: var(--border-radius);
					padding-block: 0.5rem 0;

					span {
						background-color: white;
						width: calc(100% - 10px);
						color: black;
						margin-inline: auto;
						border-radius: var(--border-radius);
						font-weight: bold;
						font-size: calc(1rem - 2px);
					}
				}

				h5 {
					margin-block: 0 0.5rem;
					padding-inline: 0.5rem;
					font-family: var(--font-body-family);
					text-transform: capitalize;
					font-size: calc(1rem - 4px);

				}

				span {
					font-size: 1rem;
					display: block;
					padding: 0.5rem;
					margin-bottom: 5px;
					font-size: calc(1rem - 4px);

				}
			}
		}

		@media (max-width: 500px) {
			h3 {
				margin-block: 0 0.25rem !important;
			}
		}

		h3 {
			width: min(100%, 30ch);
			flex-grow: 2;
		}

		h3,
		.price-compare {
			text-align: center;
		}
	}

	.indicas {
		background-color: rgba(111, 52, 172, 1);

		table thead {
			background-color: rgba(104, 73, 157, 0.5);
		}

		table tbody tr:nth-of-type(even) {
			background-color: rgba(101, 73, 158, 0.1);
		}
	}

	.sativas {
		background-color: rgba(172, 52, 52, 1);

		table thead {
			background-color: rgba(215, 71, 53, 0.5);
		}

		table tbody tr:nth-of-type(even) {
			background-color: rgba(215, 71, 53, 0.1);
		}
	}

	.hybrids {
		background-color: rgba(55, 145, 44, 1);

		table thead {
			background-color: rgba(12, 142, 68, 0.5);
		}

		table tbody tr:nth-of-type(even) {
			background-color: rgba(12, 142, 68, 0.1);
		}
	}

	.flex-row {
		align-items: flex-start;
		gap: 0.5rem;
	}



	.indicas,
	.sativas,
	.hybrids {
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		padding: 0.25rem;
		box-shadow: var(--box-shadow-66);
		width: min(100%, 30ch);
		flex-grow: 1;
		margin-bottom: 1rem;
		border-radius: var(--border-radius-odd);

		& h4 {
			color: whitesmoke;
			padding-block: 0.25rem;
			text-shadow: var(--text-shadow);
			letter-spacing: 2px;
		}

		.profile-header {
			padding: 0;
		}
	}

	@media (max-width: 500px) {

		.indicas,
		.sativas,
		.hybrids {
			margin-bottom: 0;
		}
	}

	.strain-body {
		text-transform: uppercase;
		color: var(--font-color-dark);
		background-color: whitesmoke;
		border-radius: var(--border-radius-odd);
		overflow: hidden;
		font-size: 0.75rem;
		padding-top: 0;

		table {
			table-layout: auto;
			border-collapse: collapse;
			width: 100%;

			& thead {
				font-size: calc(1rem - 6px);
				border-bottom: 1px solid rgba(127, 127, 127, 0.1);

				tr th.left {
					padding-left: 1rem;
				}
			}

			& th {
				font-weight: bolder;
			}

			& th,
			td {
				padding: 0.5rem 0.25rem;
			}

			.strain-name {
				padding-right: 0.5rem;
				font-weight: bolder !important;

				& a[href] {
					text-decoration-line: underline;
					text-decoration-thickness: 1px;
					text-decoration-color: blue;
				}
			}

			& td:first-of-type {
				font-weight: 500;
			}
		}
	}
}

.menu-nav {
	color: whitesmoke;
	background-color: hsla(139, 60%, 35%, 1);
	font-size: 0.75rem;
	justify-content: center !important;
	outline: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: var(--box-shadow-66);
	overflow: hidden;
	gap: 0 !important;
	flex-wrap: nowrap;
	align-items: stretch;
	margin: 0;
	border-radius: 0 !important;
	text-shadow: none;

	& a[href] {
		flex-basis: 10%;
		flex-grow: 1;
		height: 100%;
		line-height: 0.9;
		padding: 0.75rem 0.5rem;
		text-decoration: none;
		text-align: center;
		font-weight: 500;
		letter-spacing: 0.5px;
		padding: 1rem;

		&:hover {
			text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
		}

		&:last-child {
			width: 100%;
			text-align: center;
		}
	}
}

.others,
.exotics,
.indoor {
	position: relative;

	.others-nav,
	.exotics-nav,
	.indoor-nav {
		position: sticky;
		left: 0;
		right: 0;
		top: 0;
		z-index: 99;
	}
}
