.hd,
.reg {
	font-size: clamp(1rem, 4dvw, 1.25rem) !important;
}

hr {
	margin-block: 0.25rem!important;
	padding: 0!important;
	border: 0.5px solid rgba(0, 0, 0, 0.1)!important;
}

@media (max-width: 500px) {
.menu {
	margin-top: 1rem;
	.padding {
		margin-top: 0!important;
		section header {
			margin-top: 0!important;
		}
		.profile-header {
			padding-block: 0.5rem!important;
			margin-block: 0!important;
		}
	}
}

}

.content.menu .padding {
	margin-top: 1rem;
	padding: 0;
	margin-inline: auto;

	.white-bg {
		background-color: whitesmoke;
		border-radius: var(--border-radius);
		padding-inline: 1rem;
		padding-block: 0 1rem;
		margin-block: 0 1rem;
	}

	section header {
		margin-block: 1rem;
		color: black;
		padding-block: 1rem 0;
		justify-content: space-between;
		align-items: center!important;
		& .price-compare {
			border-radius: var(--border-radius);
			overflow: hidden;
			margin: 0;
			background-color: white;
			box-shadow: var(--box-shadow-66);

			&.flex-row {
				justify-content: space-between;
				justify-items: center;
				align-items: flex-start;
				padding-block: 1rem;
				gap: 0;
			}

			& p {
				margin: 0;
				width: min(100%, fit-content);
				padding: 0;
				flex-grow: 1;

				&:first-of-type {
					font-size: 2rem;
					line-height: 1;
					font-family: 'Cooper', ui-sans-serif, sans-serif;
					color: rgba(195, 30, 30, 1);

					& strong {
						font-size: 1rem;
						font-family: var(--font-body-family);
						color: var(--font-color-dark);
						;
					}
				}

				&:last-of-type {
					font-size: 1.33rem;
					font-weight: bold;
					font-family: 'Cooper', ui-sans-serif, sans-serif;

					span:first-of-type {
						font-family: var(--font-body-family);
						display: block;
						font-size: 1rem;
						font-weight: normal;
					}
				}
			}
		}

		h3 {
			letter-spacing: 2px!important;
			font-size: 2rem;
			padding-inline: 1rem;
		}

		@media (max-width: 500px) {
			h3 {
				margin-block: 0 0.25rem!important;
			}
		}
		h3, .price-compare {
			flex-grow: 1;
			text-align: center;
			width: min(100%, 35ch);
		}

		.more {
			background-color: white;
			padding: 1rem;
			outline: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: var(--border-radius);
			width: min(100% - 1rem, 40ch);
			margin-inline: auto;
			align-items: center;
			justify-content: center;
			gap: 1rem;
			sup {
				font-size: 0.75rem;
			}
			div {
				padding-inline: 1rem;
				margin-block: 0.25rem;
			}
			.left {
				width: fit-content;
				margin-inline: auto;
				font-size: 1.1rem;
				font-weight: bold;
				line-height: 1.5;
			}
		}

		.more span {
			font-family: var(--font-heading-family);
			text-transform: uppercase;
			color: black;
			margin-right: 1rem;
			font-size: 1rem;
			&.red {
				font-color: red;
			}
			&:not(.red) {
				font-size: calc(1rem - 2px);
			}
		}
	}

	.indicas {
		background-color: rgba(111, 52, 172, 1);
		table thead {
			background-color: rgba(104, 73, 157, 0.5);
		}

		table tbody tr:nth-of-type(even) {
			background-color: rgba(101, 73, 158, 0.1);
		}
	}

	.sativas {
				background-color: rgba(172, 52, 52, 1);
		table thead {
			background-color: rgba(215, 71, 53, 0.5);
		}

		table tbody tr:nth-of-type(even) {
			background-color: rgba(215, 71, 53, 0.1);
		}
	}

	.hybrids {
		background-color: rgba(55, 145, 44, 1);
		table thead {
			background-color: rgba(12, 142, 68, 0.5);
		}

		table tbody tr:nth-of-type(even) {
			background-color: rgba(12, 142, 68, 0.1);
		}
	}

	.flex-row {
		align-items: flex-start;
		gap: 0.5rem;
	}

	.indicas,
	.sativas,
	.hybrids {
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		padding: 0.25rem;
		border-radius: var(--border-radius);
		box-shadow: 0 3px 0 rgba(0, 0, 0, 0.66);
		width: min(100%, 30ch);
		flex-grow: 1;
		margin-bottom: 1rem;

		& h4 {
			color: whitesmoke;
			padding-block: 0.25rem;
			text-shadow: var(--text-shadow);
			letter-spacing: 2px;
		}

		.profile-header {
			padding: 0;
		}
	}

	@media (max-width: 500px) {
		.indicas,
		.sativas,
		.hybrids {
			margin-bottom: 0;
		}
	}

	.strain-body {
		text-transform: uppercase;
		color: var(--font-color-dark);
		background-color: whitesmoke;
		border-radius: var(--border-radius);
		overflow: hidden;
		font-size: 0.75rem;
		padding-top: 0;
		table {
			table-layout: auto;
			border-collapse: collapse;
			width: 100%;

			& thead {
				font-size: calc(1rem - 6px);
				border-bottom: 1px solid rgba(127, 127, 127, 0.1);
			}

			& th {
				font-weight: bolder;
				text-align: left;
			}

			& th,
			td {
				padding: 0.5rem 0.25rem;
			}

			.strain-name {
				padding-right: 0.5rem;
				font-weight: bolder!important;
				& a[href] {
					text-decoration-line: underline;
					text-decoration-thickness: 1px;
					text-decoration-color: blue;
				}
			}

			& td:first-of-type {
				font-weight: 500;
			}
		}
	}
}

.menu-nav {
	background-color: hsla(123, 50%, 41%, 1);
	background-image: url(/img/site/background-green.png);
	background-size: 300%;
	background-position: center top;
	color: white;
	font-size: 0.75rem;
	justify-content: center!important;
	outline: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.66);
	border-radius: var(--border-radius);
	overflow: hidden;
	margin-top: 1rem;
	gap: 0!important;
	flex-wrap: nowrap;
	align-items: stretch;

	& a[href] {
		flex-basis: 10%;
		flex-grow: 1;
		height: 100%;
		line-height: 0.9;
		padding: 0.75rem 0.5rem;
		text-decoration: none;
		text-align: center;
		font-weight: 500;
		letter-spacing: 0.5px;
		padding: 1rem;

		&:hover {
			background-color: rgba(255, 255, 255, 0.2);
			text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
		}

		&:last-child {
			width: 100%;
			text-align: center;
		}
	}
}

.exotics {
	h3 {
		margin-block: 1rem;
	}
}


.others,
.exotics,
.indoor {
	position: relative;

	.others-nav,
	.exotics-nav,
	.indoor-nav {
		position: sticky;
		left: 0;
		right: 0;
		top: 0;
		z-index: 99;
	}
}
