*,
::after,
::before {
	box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
	margin: 0;
}

ol[role=list],
ul[role=list] {
	list-style: none;
}

body {
	min-height: 100vh;
	line-height: 1.2;
}

button,
h1,
h2,
h3,
h4,
input,
label {
	line-height: 1.1;
}

h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

img,
picture {
	max-width: 100%;
	display: block;
	height: auto;
	vertical-align: middle;
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
	shape-margin: 1rem;
}

button,
input,
select,
textarea {
	font: inherit;
}

textarea:not([rows]) {
	min-height: 10em;
}
