---
strain: gorilla blue smalls
priceLevel: light dep smalls
thca: 23.6%
profile: indica
hdPrice: $343.65
regPrice: $395.00
photo1: https://media.dont.zone/hs/media/img/flower/light-dep-smalls_hybrid_gorilla-blue.jpg
photo2: https://media.dont.zone/hs/media/img/flower/light-dep-smalls_hybrid_gorilla-blue-2.jpg
tags: inStock
---
