---
title: Age Policy
layout: layouts/page.njk
eleventyExcludeFromCollections: true
---

<h3>This site is not intended for children</h3>

<p>We are not responsible and cannot be held responsible for any misunderstandings regarding our Age Policy, so please take the time to read it carefully.</p>

<p>Our website has an age policy of 21 years old or over. This policy is in place to ensure that our website and services are used in a responsible manner. Visitors to our website must be 21 years old or over to access our services. Those under the age of 21 are not allowed to use our services.</p>

<p>We may take additional steps to verify the age of visitors to our website if needed.</p>

<p>Our site is meant for adults. We do not knowingly collect personally identifiable data from children under 13. If you are a parent or legal guardian and think your child has given us information, you can write to us . Please mark your inquiries "COPPA Information Request."</p>

<p>Parents, you can learn more about how to protect children's privacy online visiting <a href="https://consumer.ftc.gov/identity-theft-and-online-security/protecting-kids-online" target=_blank">this website »</a>
