---
title: COAs
layout: layouts/base.njk
eleventyExcludeFromCollections: true
desc: All available COAs
tip: 'Use <kbd>Ctrl</kbd> + <kbd>F</kbd> (Windows) or <kbd>CMD</kbd> + <kbd>F</kbd> (Mac) to search.'
---

<div id="page">
{% include "parts/page-header.njk" %}
<section class="page-content">

	<h3 class="center">Flower</h3>
	{% include "coa/flower.njk" %}

	<h3 class="center">Concentrates</h3>
	{% include "coa/concentrate.njk" %}

</section>

</div>
