---
title: COAs
layout: layouts/base.njk
eleventyExcludeFromCollections: true
tip: 'Use <kbd>Ctrl</kbd> or <kbd>CMD</kbd> + <kbd>F</kbd> to search.'
---

<div id="page">
{% include "parts/page-header.njk" %}
<section class="page-content">
		<h3>Flower</h3>
		{% include "coa/flower.njk" %}

		<h3>Concentrates</h3>
		{% include "coa/concentrate.njk" %}

</section>

</div>
