---
title: Learn
layout: layouts/page.njk
eleventyExcludeFromCollections: true
---

<h3>Is HAPPY SHAMAN THCA Flower Lab-Tested?</h3>

<p>Here at HAPPY SHAMAN, we pride ourselves on offering some of the highest-quality hemp flower on the market. That’s why we send each and every batch of our flower to an unbiased, third-party lab for a complete panel of tests.</p>

<p>Our buds are 100% free of pesticides, herbicides, and heavy metals, we also want to test for potency and ensure our hemp is completely compliant with federal regulations.</p>

<p>We are committed to sourcing the highest quality, ethically harvested products and providing transparent and accurate information about the composition and purity of our products.</p>

<p>We’ve provided links to our most current Certificates of Analysis on our website. Head over to our <a href="/coas">COA page</a>. </p>


<h3>Types of Cannabis Strains</h3>

<p>Cannabis strains are generally classified into three main types, each with distinct characteristics and effects:</p>
<ul style="padding-left: 0;">
	<li style="list-style-type: none;">
		<h4>Indica</h4>
		<p>Known for their relaxing and calming effects, Indica strains are often favored for evening use, stress relief, and relaxation. They are typically associated with a "body high" and may promote physical relaxation and sleep.</p>
	</li>

	<li style="list-style-type: none;">
		<h4 style="color: rgb(199, 35, 35);">Sativa</h4>
		<p>Sativa strains are known for their uplifting and energizing effects, making them popular for daytime activities, creative pursuits, and socializing. They tend to produce a more cerebral or "head high" and may stimulate creativity and focus.</p>
	</li>

	<li style="list-style-type: none;">
		<h4 style="color: #32A535;">Hybrid</h4>
		<p>Hybrid strains are a combination of Indica and Sativa genetics and offer a balance of effects. They are available in various ratios (e.g., Indica-dominant, Sativa-dominant, or balanced) and may exhibit characteristics of both parent strains.</p>
</li>
</ul>

<h3>Delta 8 vs Delta 9 THC: The Differences Explained</h3>

<p>Every year, the laws around cannabis in the US become more lenient. This is because extensive scientific research and testing has proven that not only is cannabis harmless, it can also have a number of health benefits.</p>

<p>As the laws have loosened, many companies specializing in all of the components of the cannabis plant have started to experiment and delve further into what really makes up cannabis. Though it is no new study, a lot more work has gone into delving into the differing structures of THC that can be found within cannabis. All of this work has been done with one thing in mind, using the new found legalization to market all of the wonderful components that cannabis has to offer.</p>

<h3>Delta-8 THC vs Delta-9 THC</h3>

<p>As just discussed, the main body of the cannabis plant that a lot of businesses are focusing on is THC, but what exactly is THC and what is the difference between Delta 8 THC and Delta 9 THC? To answer that first we need to understand what THC itself is.</p>

<p>THC stands for Tetrahydrocannabinol and is one of the 113 cannabinoids that can be found in cannabis. THC is arguably the key component as it produces the psychoactive effect that cannabis is best known and sought after for. THC is basically the reason that you feel high when you smoke weed. However, THC is not just as simple as being the crystalized element in your joint that gets you high, it is far more complex than that and is made up of a number of different strands and structures.</p>

<h3>The different kinds of THC</h3>

<h4>THCa</h4>

<p>THCa("a" is for acid) is one of the only types of THC that has no psychoactive properties, meaning that if you were to just smoke or ingest THCa, you wouldn’t get that ‘high feeling’.</p>

<p>What isn’t really known about THCa is that it is actually the main source for the other strands of THC. This conversion in THCa is caused by heat, which can naturally occur via sunlight or even simulated natural lighting. This application of heat allows it to become the other structures and the main difference that is seen after being exposed to heat is that it can now fit into the body’s CB1 receptors, which leads to the high feeling.</p>

<p>THCa, or tetrahydrocannabinolic acid, is one of the major cannabinoids found in the cannabis, or hemp, plant. THCa is unlike other cannabinoids in that it doesn’t produce a psychotropic effect when ingested, but rather when heated through a process called decarboxylation. Decarboxylation, or “decarbing” for short, converts some of the available THCa to Delta-9-THC.</p>

<p>According to the 2018 Farm Bill, there is one big difference between these two – D9 levels! Hemp with no more than 0.3% of this compound by dry weight is legal. It turns out that THCa-rich Hemp flowers do qualify as ‘legal’ under federal law as long as they meet this requirement.</p>

<p>Our THCa Flower is grown in the Emerald Triangle of Northern California which is the most experienced Hemp/Cannabis farmers in the world.</p>

<p>All our THCa is unadulterated.</p>

<h4>THCV</h4>

<p>THCV is a byproduct of the breakdown that happens when THCa is exposed to heat. In low doses, this strand of THC will not have any mind altering effects, meaning you won’t really experience that feeling of being high. If you take THCV in high doses, you will experience a high feeling, however it won’t last too long.</p>

<h4>Delta-9 THC</h4>

<p>For people who don’t really know what THC is, they usually associate the effects of general THC with the actuality of the effects of delta-9. This is because delta-9 is the main psychoactive compound that can be found in a cannabis plant and it is what produces the feeling of being high that you get from weed. It is not too dissimilar from THCV, but the effects are more intense and last for a longer period of time.</p>

<h4>Delta-8 THC</h4>

<p>As delta 9 oxidases, it is converted into Delta-8. This means that it is not as potent as Delta-9, but it can still produce a high feeling. In recent years, there has been an increase in people that vape Delta 8 due to the vast amount of health benefits that it can produce.</p>

<h4>The main THC strains</h4>

<p>Before we get into the two main THC strains, we found that it was important that you knew some information about all of the THC strains that you can find in cannabis, just know you can have an idea of their effects and which one caters more towards your taste.</p>

<p>Among the four that we have discussed, the most popular two that are sought after and used more are Delta-9 and Delta-8 THC. However, a lot of people have a lot of confusion about what the differences are between the two.</p>

<h3>The difference between Delta-8 and Delta-9 THC</h3>

<h4>The scientific difference</h4>

<p>Both Delta-8 and Delta-9 THC are naturally found in trace amounts in hemp plants. In their initial form, they have no psychoactive effects and to become psychoactive they have to undergo a number of processes. First of all, delta-8 can be created through biosynthesis, which is an enzyme fueled conversion of cannabigerolic acid, which becomes THCA, which was discussed above.</p>

<p>As we know, THCA doesn’t have any initial psychoactive effects. It is not until heat is applied to THC and the process of decarboxylation happens. When THCA is exposed to heat, Delta 9 is formed. Which created the most potent psychoactive effect. At this point, delta-8 is still only present in trace amounts. It is not until delta-9 has been oxidized that the amount of delta-8 starts to increase and becomes a more present element of the cannabis.</p>

<p>Throughout the complete history of Delta 8 THC there was a lot of confusion about how it was actually produced, but now with further research, professionals now understand it much better.</p>

<h4>Potency of Delta-8 Compared with Delta-9</h4>

<p>Studies have shown that delta 8 is 75% less potent than delta 9. This is because delta 9 stimulates a much stronger response from your brain and body. This is because the two interact with the receptors in a different way due to the difference in compound.</p>

<p>The two have a chemical structure that is extremely similar, in fact if you weren’t familiar with this difference then you probably wouldn’t pick it up upon first glance. This difference is the location of their double bond and this difference is simply explained within the name of the two strains. Delta-9’s bond lies on the 9ths carbon and so delta-8’s bond lies on the 8th carbon. This is an incredibly small distinction, however this controls the cognitive effects that the two strains actually have on a person.</p>

<p>Another difference between how they both work structurally and in terms of their potency is how they react with the brain receptors. Both of these strains react with the CB1 receptor, but only delta-8 interacts with the CB2 receptor. This helps to regulate the immune system, which is a reason why Delta 8 THC is better for some people.</p>
