---
title: Offensive Language Policy
layout: layouts/page.njk
desc: We are not responsible and  cannot be held responsible for any misunderstandings regarding our Offensive Language Policy, so please take the time to read it carefully.
eleventyExcludeFromCollections: true
---

<p>This website bulkthca.deals has a zero-tolerance policy towards profane or offensive language. Any language or content that is hateful, obscene, offensive, profane, racist, sexual, defamatory, violent or discriminating, including on the grounds of race, ethnicity, color, religion, disability, national origin, sex, gender and gender identity or sexual orientation is strictly prohibited.</p>

<p>Any user found using profane or offensive language will be immediately blocked from this website bulkthca.deals.</p>

<p>We do not allow any profanity or offensive words to be used on our site.</p>

<p>Any reviews or comments containing profanity will be removed immediately. We strive to create a safe and respectful environment for all our users\customers and we expect everyone to abide by this policy.</p>
