---
title: Payment Policy
layout: layouts/page.njk
eleventyExcludeFromCollections: true
---


<h3>We do not offer credit, payment plans, or NET30</h3>

<p>We accept <strong>bank wire transfers, ACH payments, credit cards,</strong> and <strong>other popular payment methods.</strong> We <ins>do not</ins> offer credit, payment plans, or NET30.</p>

<p>We accept all major credit cards, including Visa, MasterCard, American Express, and Discover. Our payment processing system is secure and reliable, and we take every precaution to ensure your personal information is kept safe. Rest assure, your payment will be processed quickly and safely.</p>

<p>For bank wires and ACH payments, they are recognized once funds show in our bank account. Please <a href="/contact">contact us</a> for more information.</p>

<p>We appreciate your understanding and compliance with our policy.</p>
