---
title: our pricing
layout: layouts/page.njk
desc: Our pricing structure has recently changed -- now saving you <em>even more</em> money on top-quality THCa flower. <br>For questions or more information about pricing, <a href="/contact#sales-reps">contact your sales rep</a>.
---

<table class="pricing-info full-width">
	<caption>Indoor Exotics</caption>
	<thead>
		<tr>
			<th> Price Level</th>
			<th>Regular Price</th>
			<th>Hidden Deals Price</th>
			<th>Availability</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="price-level">AAA+++</td>
			<td class="reg-price">$1,695.00</td>
			<td class="hd-price">$1,474.65</td>
			<td class="linkto">
				<div class="oos">
					<div class="flex-row">
						<div class="text">
						<b>Out of stock</b>
						</div>
						<div class="symbol">
						x
						</div>
				</div>
				</div>
			</td>
		</tr>
		<tr>
			<td class="price-level">AAA++</td>
			<td class="reg-price">$1,495.00</td>
			<td class="hd-price">$1,300.65</td>
			<td class="linkto">
			<a href="" class="is">
				<div class="flex-row">
					<div class="text">
					<b>In Stock</b>
					</div>
					<div class="symbol">
					»
					</div>
			</div>
			</a>
			</td>
		</tr>
		<tr>
			<td class="price-level">AAA+</td>
			<td class="reg-price">$1,290.00</td>
			<td class="hd-price">$1,122.30</td>
			<td class="linkto">
			<a href="" class="is">
				<div class="flex-row">
					<div class="text">
					<b>In Stock</b>
					</div>
					<div class="symbol">
					»
					</div>
			</div>
			</a>
			</td>
		</tr>
		<tr>
			<td class="price-level">AAA</td>
			<td class="reg-price">$1,050.00</td>
			<td class="hd-price">$913.50</td>
			<td class="linkto">
			<a href="" class="is">
				<div class="flex-row">
					<div class="text">
					<b>In Stock</b>
					</div>
					<div class="symbol">
					»
					</div>
			</div>
			</a>
			</td>
		</tr>
		<tr>
			<td class="price-level">Premium Indoor Exotic</td>
			<td class="reg-price">$790.00</td>
			<td class="hd-price">$687.30</td>
			<td class="linkto">
			<a href="" class="is">
				<div class="flex-row">
					<div class="text">
					<b>In Stock</b>
					</div>
					<div class="symbol">
					»
					</div>
			</div>
			</a>
			</td>
		</tr>
		<tr>
			<td class="price-level">Exotic Mediums</td>
			<td class="reg-price">$690.00</td>
			<td class="hd-price">$600.30</td>
			<td class="linkto">
			<a href="" class="is">
				<div class="flex-row">
					<div class="text">
					<b>In Stock</b>
					</div>
					<div class="symbol">
					»
					</div>
			</div>
			</a>
			</td>
		</tr>
		<tr>
			<td class="price-level">Exotic Smalls</td>
			<td class="reg-price">$625.00</td>
			<td class="hd-price">$543.75</td>
			<td class="linkto">
			<a href="" class="is">
				<div class="flex-row">
					<div class="text">
					<b>In Stock</b>
					</div>
					<div class="symbol">
					»
					</div>
			</div>
			</a>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th colspan="4" class="center">
				<span><a href="/indoor-exotics">See all Indoor Exotics »</a></span>
			</th>
		</tr>
	</tfoot>
</table>

<table class="pricing-info full-width">
	<caption>Light Assist & Deps</caption>
	<thead>
		<tr>
			<th> Price Level</th>
			<th>Regular Price</th>
			<th>Hidden Deals Price</th>
			<th> Availability </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="price-level">Light Assist Premium</td>
			<td class="reg-price">$650.00</td>
			<td class="hd-price">$565.50</td>
			<td class="linkto">
			<a href="" class="is">
				<div class="flex-row">
					<div class="text">
					<b>In Stock</b>
					</div>
					<div class="symbol">
					»
					</div>
			</div>
			</a>
			</td>
		</tr>
		<tr>
			<td class="price-level">Premium Smalls</td>
			<td class="reg-price">$495.00</td>
			<td class="hd-price">$430.65</td>
			<td class="linkto">
			<a href="" class="is">
				<div class="flex-row">
					<div class="text">
					<b>In Stock</b>
					</div>
					<div class="symbol">
					»
					</div>
			</div>
			</a>
			</td>
		</tr>
		<tr>
			<td class="price-level">DEP AAA</td>
			<td class="reg-price">$495.00</td>
			<td class="hd-price">$430.65</td>
			<td class="linkto">
			<a href="" class="is">
				<div class="flex-row">
					<div class="text">
					<b>In Stock</b>
					</div>
					<div class="symbol">
					»
					</div>
			</div>
			</a>
			</td>
		</tr>
		<tr>
			<td class="price-level">DEP 5</td>
			<td class="reg-price">$460.00</td>
			<td class="hd-price">$400.20</td>
			<td class="linkto">
			<a href="" class="is">
				<div class="flex-row">
					<div class="text">
					<b>In Stock</b>
					</div>
					<div class="symbol">
					»
					</div>
			</div>
			</a>
			</td>
		</tr>
		<tr>
			<td class="price-level">Light Dep Smalls</td>
			<td class="reg-price">$395.00</td>
			<td class="hd-price">$343.65</td>
			<td class="linkto">
			<a href="" class="is">
				<div class="flex-row">
					<div class="text">
					<b>In Stock</b>
					</div>
					<div class="symbol">
					»
					</div>
			</div>
			</a>
			</td>
		</tr>


	</tbody>
	<tfoot>
		<tr>
			<th colspan="4" class="center">
				<span><a href="/deps-and-more">See all Light Assist, Deps, and more! »</a></span>
			</th>
		</tr>
	</tfoot>
</table>
