---
title: Shipping & Returns
layout: layouts/page.njk
eleventyExcludeFromCollections: true
---

<h3>Shipping Policy</h3>

<h4>Lost or Stolen in Shipping for Business Address Deliveries.</h4>

<p>For accounts that have business addresses only, we will cover only 50% of any lost box(s) or stolen items from boxes in the shipping process.</p>

<p>You will be issued a credit for 50% of the amount of the invoice in which your shipment was lost or stolen and this 50% credit will be applied to your account for any merchandise that may have been stolen out of your box(s).</p>

<p>You will have to purchase the remaining 50% of insurance to protect your merchandise. This insurance is sold to us by UPS at $13 to cover $1000. So if you have a $4000 invoice, you will need to buy 2 units of insurance at $13 each to cover the additional $2000 that we are not covering.</p>

<h4>Residential Deliveries</h4>
<p><strong>Adult Signature Required for Residential Deliveries.</strong><p>
<ol>
	<li>We don't take responsibilities for orders if lost in shipment for Residential.</li>
	<li>We take no responsibility for items that are stolen from the address after delivery. It is the customer's responsibility to ensure that the package is secure after delivery.</li>
</ol>

<h3>ORDER PROCESSING TIME</h3>

<p>Orders are shipped daily Monday – Friday. Typically orders are shipped within 1-3 days of ordering.</p>

<p>Orders placed ON FRIDAY  after the shipping deadline – 3 pm EST will be shipped on Monday, which adds one business day to the estimated arrival.</p>

<p>All orders placed  after the shipping deadline – 3 pm EST will be shipped next day, which adds one business day to the estimated arrival.</p>

<h4>Business Days</h4>

<p>Business days mean working days, Monday through Friday. Saturdays, Sundays, and holidays do not count as shipping days.</p>

<strong><em>When will my order arrive?</em></strong>

<p>The processing time for your order depends on several things: the type of order, whether your order is in stock, and when you place it. If you wish to add an item to your order, cancel, or modify it in any way, you must reach out to us on the same day your order was processed before 3 pm EST.</p>

<h4>Here’s what you can expect:</h4>

<p>Standard UPS 5-7 Business Days. We cannot ship to PO Boxes.</p>

<p>Parcels shipped with express ship methods may take longer than the projected timeline displayed during checkout to arrive due to high shipment volume in relation to COVID-19 and cannot be guaranteed. Any express delays will not be eligible for a refund at this time. Due to current circumstances, it is our highest priority to do our part to ensure the health and safety of our customers. Our shipping partner and fulfillment center, UPS, are working diligently to follow best practices and protocols to ensure your gear is delivered safely while COVID-19 is in effect.</p>

<h3>Shipping Policy</h3>

<h4>DELTA 8 SHIPPING EXCLUSIONS</h4>

<p>We  do not ship Delta 8 products to;</p>
<ul>
	<li>ALASKA</li>
	<li>ARIZONA</li>
	<li>ARKANSAS</li>
	<li>COLORADO</li>
	<li>DELAWARE</li>
	<li>IDAHO</li>
	<li>IOWA</li>
	<li>MISSISSIPPI</li>
	<li>MARYLAND</li>
	<li>MONTANA</li>
	<li>NEVADA</li>
	<li>NEW YORK</li>
	<li>NORTH DAKOTA</li>
	<li>RHODE Island</li>
	<li>UTAH</li>
	<li>VERMONT</li>
	<li>WASHINGTON</li>
	<li>OREGON</li>
</ul>

<h3>Shipments; Delivery; Title and Risk of Loss.</h3>

<p>We will arrange for shipment of the products to you. Please check the individual product page for specific delivery options. You will pay all shipping and handling charges unless otherwise specified in the order confirmation.</p>

<p>Title and risk of loss pass to you upon our transfer of the products to the carrier. Shipping and delivery dates are estimates only and cannot be guaranteed. We are not liable for any delays in shipments.</p>

<h3>Damage due to Freight or Shipping.</h3>

<p>All of our products are tested for quality, and all shipments are carefully inspected before leaving our warehouse. Upon delivery of your order, please check the product carefully to ensure it has not been damaged during shipping. All claims for damaged product must be made within 2 hours after delivery. Please contact us at: 877-807-1023</p>

<p>When you contact us, please provide detailed information for any product damaged during shipping within that time. Please include your order number and a full description of the damages to the product.</p>

<p>ALL ORDERS ship with ADULT SIGNATURE (21) REQUIRED with return receipt. Please be sure you are available to give signature at time of delivery. No refunds will be given for shipping charges if orders are returned to us for lack of signature.</p>

<h3>Return & Exchange Policy</h3>

<p>Items being exchanged must be unopened and not damaged. Used or opened items are not eligible for refund or return.</p>

<p>All returns are to be shipped back to us with appropriate tracking in place. We are not responsible for items returned, lost in transit and unable to be traced. Items shipped without secure wrapping and that are damaged in transit are not eligible for a refund.</p>

<p>Shipping costs on returns and exchanges are the responsibility of the customer.</p>

<p>Shipping costs will not be refunded.</p>

<p>Refunds will be issued in the form of check or reversal of original payment when possible. Credit Card refunds will be for the purchase price of the item less any interchange and/or processing fees associated with the original purchase transaction.</p>

<h3>Shipping Damage</h3>

<p>If a box in your shipment is heavily damaged and or has signs that someone has tampered with the box, you can either refuse it and or receive it. If you refuse it, we will need to wait to receive it back to inspect for missing merchandise. If you receive the box, please take a video of the box being opened and show all contents of the box. If you do this and there is something missing, you will not be responsible for that and we can re-ship you the missing items. Also, when you send us the video evidence, we can file a claim with UPS.</p>
