---
title: Specials
layout: layouts/page.njk
desc: Each Quarter LB Jar is packed individually with a page of stickers for your plastic gram bags.
---

<div class="specials-page">
<header class="flex-column">
	<h2><span>NEW</span> Quarter LB Jars</h2>
	<h3 class="red center">Offer ends May 31st</h3>
</header>
<div class="flex-row">
	<section class="indoor-exotics">
		<header class="flex-row">
			<div class="title">
				<h3>indoor exotics</h3>
				<p>Available stains</p>
			</div>
			<div class="price">
				<h2 class="red">$350</h2>
			</div>
		</header>

	<table class="full-width">
		<thead>
			<th>Strain</th>
			<th>Profile</th>
		</thead>
		<tr class="profile hybrid">
			<td> Oreo Blizzard </td>
			<td> Hybrid </td>
		</tr>
		<tr class="profile hybrid">
			<td> Blue Nerds</td>
			<td> Hybrid </td>
		</tr>
		<tr class="profile hybrid">
			<td>High Society</td>
			<td> Hybrid </td>
		</tr>
		<tr class="profile indica">
			<td>Gush Mintz</td>
			<td>Indica</td>
		</tr>
		<tr class="profile indica">
			<td>Amaretto</td>
			<td>Indica</td>
		</tr>
		<tr class="profile indica">
			<td>Purple Cream</td>
			<td>Indica</td>
		</tr>
		<tr class="profile indica">
			<td>Lemon Cherry Gelato (Purple)</td>
			<td>Indica</td>
		</tr>
		<tr class="profile sativa">
			<td>Zoap</td>
			<td>Sativa</td>
		</tr>
		<tr class="profile sativa">
			<td>Super Boof</td>
			<td>Sativa</td>
		</tr>
	</table>
	</section>
	<section class="pie">
	<header class="flex-row">
		<div class="title">
			<h3>premium indoor exotics</h3>
			<p>Available stains</p>
		</div>
		<div class="price">
			<h2 class="red">$225</h2>
		</div>
	</header>
	<table class="full-width">
		<thead>
			<th>Strain</th>
			<th>Profile</th>
		</thead>
		<tbody>
		<tr class="profile hybrid">
			<td> Candy Key Lime </td>
			<td> Hybrid </td>
		</tr>
		<tr class="profile hybrid">
			<td> Government Oasis</td>
			<td> Hybrid </td>
		</tr>
		<tr class="profile hybrid">
			<td> AM/PM</td>
			<td> Hybrid </td>
		</tr>
		<tr class="profile hybrid">
			<td>Sunday Driver</td>
			<td>Hybrid</td>
		</tr>
		<tr class="profile hybrid">
			<td>Poison Party</td>
			<td>Hybrid</td>
		</tr>
		<tr class="profile indica">
			<td>Amaretto</td>
			<td>Indica</td>
		</tr>
		<tr class="profile indica">
			<td>Magic Marker</td>
			<td>Indica</td>
		</tr>
		<tr class="profile indica">
			<td>Wedding Cake</td>
			<td>Indica</td>
		</tr>
		<tr class="profile indica">
			<td>Golden Cash</td>
			<td>Indica</td>
		</tr>
		<tr class="profile sativa">
			<td>Blue Dream</td>
			<td>Sativa</td>
		</tr>
		<tr class="profile sativa">
			<td>Tropicana Cherry</td>
			<td>Sativa</td>
		</tr>
		<tr class="profile sativa">
			<td>Zereal</td>
			<td>Sativa</td>
		</tr>
		<tr class="profile sativa">
			<td>Ice Caps</td>
			<td>Sativa</td>
		</tr>
		</tbody>
	</table>
	</section>
</div>

</div>
