---
strain: mango mentality
profile: sativa
priceLevel: aaa++ indoor exotic
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=aaa-plusplus-ex_sativa_mango-mentality_vpswgp&profile=flower
photo1:  https://media.dont.zone/hs/media/img/flower/aaa-plusplus-ex_sativa_mango-mentality.jpg
---
