---
strain: mean streakz
profile: indica
thca:
priceLevel: aaa++ indoor exotic
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plusplus-indoor-ex_indica_mean-streakz_2.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-plusplus-indoor-ex_indica_mean-streakz_1.jpeg
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plusplus-indoor-ex_indica_mean-streakz.webm
---
