---
strain: permanent marker
profile: indica
priceLevel: aaa++ indoor exotic
thca:
photo1:  https://media.dont.zone/hs/media/img/flower/aaa-plusplus-indoor-ex_indica_permanent-marker.jpeg
photo2:  https://media.dont.zone/hs/media/img/flower/aaa-plusplus-indoor-ex_indica_permanent-marker_2.jpeg
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=aaa-plusplus-indoor-ex_indica_permanent-marker_huw0fd&profile=flower
tags: noStock
---
