---
strain: 'am/pm'
profile: hybrid
priceLevel: premium indoor exotic
thca:
video1: https://media.dont.zone/hs/media/vid/flower/prem-indoor-ex_hybrid_ampm_1.webm
photo1: https://media.dont.zone/hs/media/img/flower/prem-indoor-ex_hybrid_ampm_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/prem-indoor-ex_hybrid_ampm_2.jpg
tags: inStock
---
