---
strain: black biscotti
profile: indica
priceLevel: premium indoor exotic
thca: 29.59%
video1: https://media.dont.zone/hs/media/vid/flower/prem-aaa-plus_indica_black-biscotti.webm
photo1: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_black-biscotti.jpeg
hdPrice: $687.30
regPrice: $790
tags: inStock
---
