---
strain: government oasis organic
profile: hybrid
priceLevel: premium indoor exotic
thca: 31.15
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=a-indoor_hybrid_government-oasis_pz518u&profile=flower
photo1: https://media.dont.zone/hs/media/img/flower/a-indoor_hybrid_government-oasis.jpg
tags: inStock
---
