---
strain: government oasis organic
profile: hybrid
priceLevel: premium indoor exotic
thca: 31.15
video1: https://media.dont.zone/hs/media/vid/flower/a-indoor_hybrid_government-oasis.webm
photo1: https://media.dont.zone/hs/media/img/flower/a-indoor_hybrid_government-oasis.jpg
tags: inStock
---
