---
strain: grape gas
profile: hybrid
priceLevel: premium indoor exotic
thca: 29.12
video1: https://media.dont.zone/hs/media/vid/flower/prem-indoor-ex_hybrid_grape-gas_1.webm
photo1: https://media.dont.zone/hs/media/img/flower/prem-indoor-ex_hybrid_grape-gas_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/prem-indoor-ex_hybrid_grape-gas_2.jpg
hdPrice: $687.30
regPrice: $790
tags: inStock
---
