---
strain: gush candy
profile: indica
thca: 27.92%
priceLevel: premium indoor exotic
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=prem-aaa-plus_indica_gush-candy_1_tk4zcn&profile=flower
photo1: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_gush-candy_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_gush-candy_2.jpg
tags: inStock
---
