---
strain: high society
profile: hybrid
priceLevel: premium indoor exotic
thca:
video1: https://media.dont.zone/hs/media/vid/flower/aa-indoor_hybrid_high-society_1.webm
photo1: https://media.dont.zone/hs/media/img/flower/aa-indoor_hybrid_high-society_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/aa-indoor_hybrid_high-society_2.jpg
tags: inStock
---
