---
strain: ice pops
profile: sativa
priceLevel: premium indoor exotic
thca: 30.94%
video1: https://media.dont.zone/hs/media/vid/flower/prem-aaa-plus_sativa_ice-pops_04162025.webm
photo1: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_sativa_ice-pops_04162025_1.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_sativa_ice-pops_04162025_2.jpeg
photo3: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_sativa_ice-pops_04162025_3.jpeg
hdPrice: $687.30
regPrice: $790
tags: inStock
source: https://www.leafly.com/strains/ice-pop
---

Ice Pop is a [...] strain made from a genetic cross between Tangie and Peach Crescendo. [...] Ice Pop effects include euphoria, creativity, and relaxation. [...] Bred by Lovin’ in Her Eyes, Ice Pop features flavors like citrus, peach, and mint. The dominant terpene of this strain is limonene. [via <a href="{{ source }}">Leafly</a>]
