---
strain: italian icee
profile: indica
priceLevel: premium indoor exotic
thca: 29.54%
video1: https://media.dont.zone/hs/media/vid/flower/prem-aaa-plus_indica_italian-icee.webm
photo1: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_italian-icee.jpg
photo2: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_indica_italian-icee-2.jpeg
tags: inStock
---
