---
strain: white cherry gelato
profile: indica
priceLevel: premium indoor exotic
thca:
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=a-indoor_indica_white-cherry-gelato_draapn&profile=flower
photo1: https://media.dont.zone/hs/media/img/flower/a-indoor_indica_white-cherry-gelato.jpg
tags: inStock
---
