---
strain: zereal
profile: sativa
priceLevel: premium indoor exotic
thca: 30.24
video1: https://media.dont.zone/hs/media/vid/flower/prem-indoor-ex_sativa_zereal_1.webm
photo1: https://media.dont.zone/hs/media/img/flower/prem-indoor-ex_sativa_zereal_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/prem-indoor-ex_sativa_zereal_2.jpg
hdPrice: $687.30
regPrice: $790
tags: inStock
---
