{% for post in flower | reverse %}
	<div class="post">
		<header id="{{ post.data.linkid }}">
			<div class="flex-row">
				<h3>{{ post.data.strain }}</h3>
				<span class="thca center">
					{{ post.data.thca }}
				</span>
			</div>
			<div class="flex-row">
				<span class="price-level">{{ post.data.priceLevel }}</span>
				<span class="profile {% if post.data.profile == "hybrid" %}hybrid{% endif %} {% if post.data.profile == "indica" %}indica{%endif%} {% if post.data.profile == "sativa" %}sativa{% endif %}"">{{ post.data.profile }}</span>
			</div>
		</header>
		<div class="flex-row">
			{% if post.data.items == "1" %}
			<div class="single-item">
				{% if post.data.video1 %}
					<video class="full-span" controls loop muted preload="auto" tabindex="0">
						<source src="{{ post.data.video1 }}" type="video/webm" />
						If you're seeing this message, your web browser does not support this video type. Please contact your sale rep to get receive this video.
					</video>
				{% endif %}
				{% if post.data.photo1 %}
					<img src="{{ post.data.photo1 }}" alt="{{ post.data.strain }} THCa Flower" class="full-span" tabindex="0">
				{% endif %}
			</div>
			{% endif %}

		{% if post.data.items == "2" %}

			{% if post.data.video1 %}
				<details>
					<summary>
					<span>Click to see more photos/videos »</span>
						<video class="full-span" controls loop muted preload="auto" tabindex="0">
							<source src="{{ post.data.video1 }}" type="video/webm" />
							If you're seeing this message, your web browser does not support this video type. Please contact your sale rep to get receive this video.
						</video>
					</summary>
					{% if post.data.video2 %}
					<video class="evenly" controls loop muted preload="auto" tabindex="0">
						<source src="{{ post.data.video2 }}" type="video/webm" />
						If you're seeing this message, your web browser does not support this video type. Please contact your sale rep to get receive this video.
					</video>
					{% endif %}
					{% if post.data.photo1 %}
						<img class="{% if post.data.fullspanPhoto %}full-span{% else %}evenly{%endif%}" src="{{ post.data.photo1 }}" alt="{{ post.data.strain }} THCa Flower" tabindex="0">
					{% endif %}
				</details>
			{% else %}
				<details>
					<summary>
					<span>Click to see more photos/videos »</span>
						<img class="full-span" src="{{ post.data.photo1 }}" alt="{{ post.data.strain }} THCa Flower" tabindex="0">
					</summary>
					<img src="{{ post.data.photo2 }}" alt="{{ post.data.strain }} THCa Flower" tabindex="0">
				</details>
			{% endif %}
		{% endif %}

		{% if post.data.items == "3" %}
			{% if post.data.video1 %}
				<details>
					<summary>
					<span>Click to see more photos/videos »</span>
						<video class="full-span" controls loop muted preload="auto" tabindex="0">
							<source src="{{ post.data.video1 }}" type="video/webm" />
							If you're seeing this message, your web browser does not support this video type. Please contact your sale rep to get receive this video.
						</video>
					</summary>
					{% if post.data.video3 %}
						<video class="evenly" controls loop muted preload="auto" tabindex="0">
							<source src="{{ post.data.video2 }}" type="video/webm" />
							If you're seeing this message, your web browser does not support this video type. Please contact your sale rep to get receive this video.
						</video>
						<video class="evenly" controls loop muted preload="auto" tabindex="0">
							<source src="{{ post.data.video3 }}" type="video/webm" />
							If you're seeing this message, your web browser does not support this video type. Please contact your sale rep to get receive this video.
						</video>
					{% else %} {% if post.data.video2 %}
						<video class="evenly" controls loop muted preload="auto" tabindex="0">
							<source src="{{ post.data.video2 }}" type="video/webm" />
							If you're seeing this message, your web browser does not support this video type. Please contact your sale rep to get receive this video.
						</video>
						{% endif %}
					{% endif %}
					{% if post.data.photo2 %}
						<img class="{% if post.data.fullspanPhoto %}full-span{% else %}evenly{%endif%}" src="{{ post.data.photo1 }}" alt="{{ post.data.strain }} THCa Flower" tabindex="0">
						<img class="{% if post.data.fullspanPhoto %}full-span{% else %}evenly{%endif%}" src="{{ post.data.photo2 }}" alt="{{ post.data.strain }} THCa Flower" tabindex="0">
						{% else %}
						<img class="{% if post.data.fullspanPhoto %}full-span{% else %}evenly{%endif%}" src="{{ post.data.photo1 }}" alt="{{ post.data.strain }} THCa Flower" tabindex="0">
					{% endif %}
				</details>
			{% else %}
				<details>
					<summary>
					<span>Click to see more photos/videos »</span>
						<img class="full-span" src="{{ post.data.photo1 }}" alt="{{ post.data.strain }} THCa Flower" tabindex="0">
					</summary>
					<img src="{{ post.data.photo2 }}" alt="{{ post.data.strain }} THCa Flower" tabindex="0">
					<img src="{{ post.data.photo3 }}" alt="{{ post.data.strain }} THCa Flower" tabindex="0">
				</details>
			{% endif %}
		{% endif %}
		</div>
	</div>
{% endfor %}
