---
title: Contact Us
layout: layouts/base.njk
eleventyExcludeFromCollections: true
desc: If you would like to contact Happy Shaman, please fill out the form below.
---

<div id="page">
	{% include "parts/page-header.njk" %}
	<section class="page-content contact">
<p>If you would like to contact a specific sales rep, find their contact information <a href="#sales-reps">below the contact form</a>.</p>
		<form action="https://api.web3forms.com/submit" method="POST" id="form">
			<input type="hidden" name="access_key" value="3e7002ba-9350-43b4-8917-aa62a54bd986" />
			<input type="hidden" name="subject" value="Message from bulkthca.deals" />
			<input type="hidden" name="redirect" value="http://localhost:8080/contact/thanks" />
			<input type="checkbox" name="botcheck" id="" style="display: none;" />
			<div>
				<label for="name">Full Name</label><br>
				<input type="text" name="name" id="name" placeholder="John Doe" required />
				<br><br>
			</div>
			<div>
				<label for="email">Email Address</label><br>
				<input type="email" name="email" id="email" placeholder="you@company.com" required /><br><br>
			</div>
			<div>
				<label for="phone">Phone Number</label>
				<br>
				<input type="text" name="phone" id="phone" placeholder="+1 (555) 1234-567" required /><br><br>
			</div>
			<div>
				<label for="message">Your Message</label>
				<br>
				<textarea rows="5" name="message" id="message" placeholder="Your Message" required></textarea><br><br>
			</div>

			<button type="submit"> Send Message </button>
		</form>
		<br>

	<section class="contact-sheet" id="sales-reps">
			<h2 class="center"> Sales Reps</h2>
			<p>Our policy is that every customer must have a sales rep so you will always have someone to speak to over the phone for information and to help you with any questions you may have.</p>
			<p>Please be sure to fill out our <a href="https://www.happyshaman.store/wholesale" target="_blank">New Wholesale Customer form</a> first.</p>
			<div class="flex-row">

				<div class="box">
					<table>
						<thead>
							<tr>
								<th colspan="2" class="name">Kevin Kelly</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Head Office</td>
								<td> Sales </td>
							</tr>
							<tr>
								<td>Phone</td>
								<td><a href="tel:9516989095">(951) 698-9095</a></td>
							</tr>
							<tr>
								<td>WhatsApp</td>
								<td><a href="tel:8585680411">(858) 568-0411</a></td>
							</tr>
							<tr>
								<td>Email</td>
								<td><a href="mailto:happyshaman@protonmail.com">happyshaman@protonmail.com</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="box">
					<table>
						<thead>
							<tr>
								<th colspan="2" class="name">Shawn</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="2">Sales Coordinator</td>
							</tr>
							<tr>
								<td>Phone</td>
								<td><a href="tel:7025173236">(702) 517 - 3236</a></td>
							</tr>
							<tr>
								<td>Signal</td>
								<td> Contact for Signal</td>
							</tr>
							<tr>
								<td>Email</td>
								<td><a href="mailto:stgship@gmail.com">stgship@gmail.com</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="box">
					<table>
						<thead>
							<tr>
								<th colspan="2" class="name">Georginne</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Warehouse</td>
								<td>Sales</td>
							</tr>
							<tr>
								<td>Phone</td>
								<td><a href="tel:7209986145">(720) 998-6145</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="box">
					<table>
						<thead>
							<tr>
								<th colspan="2" class="name">Tasha</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Houston</td>
								<td> Sales </td>
							</tr>
							<tr>
								<td>Phone</td>
								<td> <a href="tel:2812179783">(281) 217-9783</a></td>
							</tr>
							<tr>
								<td>Email</td>
								<td><a href="mailto:natasha@redwoodcrane.com">natasha@redwoodcrane.com</a></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="box">
					<table>
						<thead>
							<tr>
								<th colspan="2" class="name">Zach</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Wisconsin</td>
								<td> Sales </td>
							</tr>
							<tr>
								<td>Phone</td>
								<td> <a href="tel:9202414251">(920) 241-4251</a></td>
							</tr>
						</tbody>
					</table>
				</div>


				<div class="box">
				<table>
					<thead>
						<tr>
							<th colspan="2" class="name">Steve Urell</span></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>USA</td>
							<td>Sales</td>
						</tr>
						<tr>
							<td>Phone</td>
							<td><a href="tel:6142160812">(614) 216-0812</a></td>
						</tr>
					</tbody>
				</table>
				</div>

				<div class="box">
				<table>
					<thead>
						<tr>
							<th colspan="2" class="name">Nico Lawton</span></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>USA</td>
							<td>Sales</td>
						</tr>
						<tr>
							<td>Phone</td>
							<td class="phone"><a href="tel:3038989554">(303) 898-9554</a></td>
						</tr>
					</tbody>
				</table>
				</div>

				<div class="box">
				<table>
					<thead>
						<tr>
							<th colspan="2" class="name">Omar Cassanova</span></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Texas</td>
							<td>Sales</td>
						</tr>
						<tr>
							<td>Phone</td>
							<td class="phone"><a href="tel:2103653370">(210) 365-3370</a></td>
						</tr>
					</tbody>
				</table>
				</div>

				<div class="box">
				<table>
					<thead>
						<tr>
							<th colspan="2" class="name">Kenny Link</span></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>USA</td>
							<td>Sales</td>
						</tr>
						<tr>
							<td>Phone</td>
							<td class="phone"><a href="tel:7203649062">(720) 364-9062</a></td>
						</tr>
					</tbody>
				</table>
				</div>

				<div class="box">
				<table>
					<thead>
						<tr>
							<th colspan="2" class="name">Leah</span></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>USA</td>
							<td>Sales</td>
						</tr>
						<tr>
							<td>Phone</td>
							<td class="phone"><a href="tel:8582121670">(858) 212-1670</a></td>
						</tr>
					</tbody>
				</table>
				</div>

			</div>
		</section>

	</section>


</div>
