---
title: Contact Us
layout: layouts/base.njk
eleventyExcludeFromCollections: true
desc: If you would like to contact Happy Shaman, please fill out the form below. <br>If you would like to contact a specific sales rep, find their contact information <a href="#sales-reps">below the contact form</a>.
---

<div id="page">
{% include "parts/page-header.njk" %}
	<section class="page-content contact">

		<form action="https://api.web3forms.com/submit" method="POST" id="form">
				<input type="hidden" name="access_key" value="3e7002ba-9350-43b4-8917-aa62a54bd986" />
				<input type="hidden" name="subject" value="Message from bulkthca.deals" />
				<input type="hidden" name="redirect" value="http://localhost:8080/contact/thanks" />
				<input type="checkbox" name="botcheck" id="" style="display: none;" />
				<div>
					<label for="name">Full Name</label><br>
					<input type="text" name="name" id="name" placeholder="John Doe" required />
					<br><br>
				</div>
				<div>
					<label for="email">Email Address</label><br>
					<input type="email" name="email" id="email" placeholder="you@company.com" required /><br><br>
				</div>
				<div>
					<label for="phone">Phone Number</label>
					<br>
					<input type="text" name="phone" id="phone" placeholder="+1 (555) 1234-567" required /><br><br>
				</div>
				<div>
					<label for="message">Your Message</label>
					<br>
					<textarea rows="5" name="message" id="message" placeholder="Your Message" required></textarea><br><br>
				</div>

				<button type="submit"> Send Message </button>
		</form>


	</section>

	<section class="contact-sheet" id="sales-reps">
	<h2 class="center"> Sales Reps</h2>
	<div class="flex-row">
			<div class="box">
				<span class="name">Georginne</span>
				<span class="location">Warehouse, Sales</span>
				<span class="phone">Phone - <a href="tel:7209986145">(720) 998-6145</a></span>
			</div>

			<div class="box">
				<span class="name">Kevin Kelly</span>
				<span class="location">Head Office, Distributor Sales</span>
				<span class="phone">Phone - <a href="tel:9516989095">(951) 698-9095</a></span>
				<span class="app">WhatsApp - <a href="tel:8585680411">(858) 568-0411</a></span>
				<span class="email"> Email - <a href="mailto:happyshaman@protonmail.com">happyshaman@protonmail.com</a></span>
			</div>

			<div class="box">
				<span class="name">Shawn</span>
				<span class="location">Sales Coordinator</span>
				<span class="phone">Phone - <a href="tel:7025173236">(702) 517 - 3236</a></span>
				<span class="app">Signal - Contact for Signal</span>
				<span class="email">Email - <a href="mailto:stgship@gmail.com">stgship@gmail.com</a></span>
			</div>

			<div class="box">
				<span class="name">Steve Urell</span>
				<span class="location">Ohio, Sales</span>
				<span class="phone"><a href="tel:6142160812">(614) 216-0812</a></span>
			</div>

			<div class="box">
				<span class="name">Nico Lawton</span>
				<span class="location">Colorado, Sales</span>
				<span class="phone"><a href="tel:3038989554">(303) 898-9554</a></span>
			</div>

			<div class="box">
				<span class="name">Omar Cassanova</span>
				<span class="location">Texas, Sales</span>
				<span class="phone"><a href="tel:2103653370">(210) 365-3370</a></span>
			</div>

			<div class="box">
				<span class="name">Kenny Link</span>
				<span class="location">Colorado, Sales</span>
				<span class="phone"><a href="tel:7203649062">(720) 364-9062</a></span>
			</div>

			<div class="box">
				<span class="name">Leah</span>
				<span class="location">California, Sales</span>
				<span class="phone"><a href="tel:8582121670">(858) 212-1670</a></span>
			</div>

	</div>
	</section>

</div>
