---
title: Thank you for contacting Happy Shaman
layout: layouts/page.njk
eleventyExcludeFromCollections: true
---

<p>Your message has been successfully submitted. Someone will be in contact with you soon.</p>
<p> In the meantime, feel free to <a href="/menu">browse our menu</a>.</p>
