---
strain: blackberry gushers
profile: indica
thca: 33.47%
priceLevel: aaa++ indoor exotic
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plusplus-indoor-ex_hybrid_blackberry-gushers.webm
photo1:  https://media.dont.zone/hs/media/img/flower/aaa-plusplus-indoor-ex_hybrid_blackberry-gushers.jpeg
hdPrice: $1,731.30
regPrice: $1,990.00
tags: inStock
source: https://boxboyzofficial.com/product/blackberry-gushers-strain/
---

Blackberry Gushers is a flavorful and potent [...] strain that combines the sweet and fruity essence of blackberries with a satisfying and relaxing experience. With its enticing aroma, delicious taste, and potent effects, Blackberry Gushers has gained popularity among cannabis enthusiasts. <cite>- <a href="{{ source }}">Box Boyz</a></cite>
