---
strain: acai gelato
profile: sativa
priceLevel: aaa+ indoor exotic
thca: "31.94%"
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plus-indoor-ex_sativa_acai-gelato-31%25.webm
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_sativa_acai-gelato-31%25.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_sativa_acai-gelato-31%25-2.jpeg
source: https://www.leafly.com/strains/acai-berry-gelato
tags: inStock
---

[Acai Gelato] is a sativa-dominant [...] strain made by crossing Thin Mint Cookies and Sunset Sherbet; it’s a gorgeous, deep purple plant dripping with trichomes. The effects of [Acai Gelato] are believed to be energetic and focusing. [Consumers] say [Acai Gelato] makes them feel happy, talkative, and uplifted. [...] The dominant terpene is limonene, with a nose that is earthy, tropical citrus, and flavors of sweet cream and berries. <cite>- <a href="{{ source }}">Leafly</a></cite>
