---
strain: amaretto
priceLevel: aaa+ indoor exotic
thca:
profile: indica
hdPrice: $1,122.30
regPrice: $1,290
photo1: https://media.dont.zone/hs/media/img/flower/aaa-indoor-ex_indica_amaretto_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-indoor-ex_indica_amaretto_2.jpg
video1: https://media.dont.zone/hs/media/vid/flower/aaa-indoor-ex_indica_amaretto_1.webm
tags: inStock
source:
---
