---
strain: apples and bananas
profile: hybrid
priceLevel: aaa+ indoor exotic
thca:
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plusplus-indoor-ex_hybrid_apples-and-bananas_1.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-plusplus-indoor-ex_hybrid_apples-and-bananas_2.jpeg
photo3: https://media.dont.zone/hs/media/img/flower/aaa-plusplus-indoor-ex_hybrid_apples-and-bananas_3.jpeg
hdPrice: $1500
regPrice: $1990
tags: inStock
source: https://www.allbud.com/marijuana-strains/hybrid/apples-and-bananas
---

Apples and Bananas is an evenly balanced hybrid strain (50% indica/50% sativa) created through crossing the delicious [(Platinum Cookies X Granddaddy Purple) X Blue Power] X Gelatti strains. [...] Apples and Bananas packs a sweet and fruity taste that's filled with delicious sugary bananas and sharply sour apples, with a touch of black pepper to it, too. The aroma takes a spicier turn, with sharp punches of savory diesel and sweet chemicals added in. The Apples and Bananas high is just as delicious, with full-bodied effects that will hit you hard and leave you dazed. <cite>- <a href="{{ source }}">allbud</a></cite>
