---
strain: gary runtz
profile: hybrid
priceLevel: aaa+ indoor exotic
thca: 26.66%
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plus-indoor-ex_hybrid_gary-runtz.webm
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_hybrid_gary-runtz_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_hybrid_gary-runtz_2.jpg
tags: inStock
---
