---
strain: gobstoppers
profile: indica
thca: 31.25%
priceLevel: aaa+ indoor exotic
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_indica_gobstoppers_cropped.jpg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_indica_gobstoppers_2_cropped.jpg
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plus-indoor-ex_indica_gobstoppers.webm
tags: inStock
---
