---
strain: guava cookies
profile: sativa
thca: 20.95%
priceLevel: aaa+ indoor exotic
photo1:  https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_sativa_guava-cookies.jpeg
tags: inStock
---
