---
strain: kandi kut
profile: indica
thca: 28.23%
priceLevel: aaa+ indoor exotic
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_indica_kandi-kut_cropped.jpg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_indica_kandi-kut_2_cropped.jpeg
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=aaa-plus-indoor-ex_indica_kandi-kut_t2uyhy&profile=flower
tags: inStock
---
