---
strain: mac
profile: sativa
thca: 28.11%
priceLevel: aaa+ indoor exotic
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_sativa_mac_cropped.jpg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_sativa_mac_2_cropped.jpg
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plus-indoor-ex_sativa_mac.webm
tags: inStock
---
