---
strain: red cherry
profile: hybrid
priceLevel: aaa+ indoor exotic
thca: 30.91%
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plus-indoor-ex_hybrid_red-cherry.webm
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_hybrid_red-cherry_cropped.jpg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_hybrid_red-cherry_2_cropped.jpeg
hdPrice: $1450
regPrice: $1890
tags: noStock
---
