---
strain: Runtz
profile: hybrid
priceLevel: AAA+ Indoor Exotic
thca: 28.1%
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=aaa-plus-indoor-ex_hybrid_runtz_tgxxwr&profile=flower
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_hybrid_runtz_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_hybrid_runtz_2.jpg
tags: inStock
---

