---
strain: Runtz
profile: hybrid
priceLevel: AAA+ Indoor Exotic
thca: 27.75%
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=aaa-indoor-ex_hybrid_runtz_w74nvq&profile=flower
photo1: https://media.dont.zone/hs/media/img/flower/aaa-indoor-ex_hybrid_runtz_cropped.jpg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-indoor-ex_hybrid_runtz_2_cropped.jpeg
tags: inStock
---

