---
strain: super boof
profile: sativa
thca: 30.89
priceLevel: aaa+ indoor exotic
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_sativa_super-boof_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_sativa_super-boof_2.jpg
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=aaa-plus-indoor-ex_sativa_super-boof_1_sacdag&profile=flower
tags: inStock
---
