---
strain: tahoe og
profile: hybrid
thca:
priceLevel: aaa+ indoor exotic
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_hybrid_tahoe-og_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_hybrid_tahoe-og_2.jpg
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=aaa-plus-indoor-ex_hybrid_tahoe-og_1_viyz96&profile=flower
tags: inStock
---
