---
strain: tropicana gelato
profile: hybrid
thca: 30.57%
priceLevel: aaa+ indoor exotic
photo1: https://media.dont.zone/hs/media/img/flower/aaa-indoor-ex_hybrid_tropicana-gelato.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-indoor-ex_hybrid_tropicana-gelato_2.jpeg
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=aaa-indoor-ex_hybrid_tropicana-gelato_eaelpi&profile=flower
tags: inStock
---
