---
strain: blue dream
profile: sativa
thca: 26.98%
priceLevel: premium light assist
photo1: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_sativa_blue-dream_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/prem-aaa-plus_sativa_blue-dream_2.jpg
video1: https://media.dont.zone/hs/media/vid/flower/prem-aaa-plus_sativa_blue-dream_1.webm
hdPrice: $565.50
regPrice: $650
tags: inStock
---
