---
strain: apples and bananas
profile: hybrid
priceLevel: aaa+ indoor exotic
thca:
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plusplus-indoor-ex_hybrid_apples-and-bananas_1.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-plusplus-indoor-ex_hybrid_apples-and-bananas_2.jpeg
photo3: https://media.dont.zone/hs/media/img/flower/aaa-plusplus-indoor-ex_hybrid_apples-and-bananas_3.jpeg
hdPrice: $1500
regPrice: $1990
tags: inStock
---

