---
strain: banana punch
profile: hybrid
thca: 31.48%
priceLevel: aaa+ indoor exotic
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_hybrid_banana-punch.jpeg
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plus-indoor-ex_hybrid_banana-punch.webm
hdPrice: $1,644.30
regPrice: $1,890
tags: inStock
source: https://www.leafly.com/strains/banana-punch
---

Banana Punch is an evenly balanced hybrid [...] strain made by crossing Banana OG with Purple Punch. This strain produces sedating effects that can be felt from head-to-toe. Banana Punch tastes like hazey berries with notes of freshly cut pineapple and of course, bananas. Conumers say this strain is a "creeper strain", which means the high will come on slower than you might expect, so take it easy with this one until you know how it effects your body. Growers say Banana Punch flowers into nugs that are cakey and covered in a heavy layer of purple and orange trichomes. <cite> - <a href="{{ source }}">Leafly</a></cite>
