---
strain: banana punch
profile: hybrid
thca: 31.48%
priceLevel: aaa+ indoor exotic
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_hybrid_banana-punch.jpeg
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plus-indoor-ex_hybrid_banana-punch.webm
hdPrice: $1400
regPrice: $1890
---
