---
strain: black ice
profile: indica
thca:
priceLevel: aaa+ indoor exotic
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_indica_black-ice.jpeg
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plus-indoor-ex_indica_black-ice.webm
hdPrice: $1400
regPrice: $1890
tags: inStock
---
