---
strain: blackberry gushers
profile: indica
thca: 33.47%
priceLevel: aaa++ indoor exotic
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plusplus-indoor-ex_hybrid_blackberry-gushers.webm
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plusplus-indoor-ex_hybrid_blackberry-gushers.jpeg
eleventyExcludeFromCollections: true
---
