---
strain: bolo runtz
priceLevel: aaa indoor exotic
thca: 20.54%
profile: indica
hdPrice: $1300
regPrice: $1790
photo1: https://media.dont.zone/hs/media/img/flower/aaa-indoor-ex_indica_bolo-runtz.jpeg
video1: https://media.dont.zone/hs/media/vid/flower/aaa-indoor-ex_indica_bolo-runtz.webm
---
