---
strain: double cherry pie
profile: indica
priceLevel: aaa++ indoor exotic
thca: 35.81%
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plusplus-indoor-ex_indica_double-cherry-pie.webm
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plusplus-indoor-ex_indica_double-cherry-pie_2.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-plusplus-indoor-ex_indica_double-cherry-pie_1.jpeg
photo3: https://media.dont.zone/hs/media/img/flower/aaa-plusplus-indoor-ex_indica_double-cherry-pie_3.jpeg
hdPrice: $1550
regPrice: $1990
tags: inStock
---

