---
strain: gelato 33
profile: hybrid
priceLevel: aaa indoor exotic
thca: 25.72%
video1: https://media.dont.zone/hs/media/vid/flower/aaa-indoor-ex_hybrid_gelatto33.webm
hdPrice: $1300
regPrice: $1790
---
