---
strain: gemlatto
profile: hybrid
priceLevel: aaa+ indoor exotic
thca: 33.1%
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plus-indoor-ex_hybrid_gemlatto.webm
hdPrice: $1400
regPrice: $1890
eleventyExcludeFromCollections: true
---
