---
strain: glitter bomb
profile: indica
thca: 31.56%
priceLevel: aaa indoor exotic
photo1:  https://media.dont.zone/hs/media/img/flower/aaa-indoor-ex_indica_glitter-bomb.jpeg
hdPrice: $1100
regPrice: $1790
tags: inStock
---
