---
strain: gobstoppers
profile: indica
thca: 31.25%
priceLevel: aaa+ indoor exotic
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_indica_gobstoppers.jpeg
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plus-indoor-ex_indica_gobstoppers2.webm
hdPrice: $1450
regPrice: $1890
---
