---
strain: ice cream mintz
priceLevel: premium indoor exotic
thca:
profile: indica
hdPrice: $687.30
regPrice: $790
photo1: https://media.dont.zone/hs/media/img/flower/light-dep-aaa_indica_ice-cream-mintz_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/light-dep-aaa_indica_ice-cream-mintz_2.jpg
video1: https://media.dont.zone/hs/media/vid/flower/light-dep-aaa_indica_ice-cream-mintz_1.webm
tags: inStock
---
