---
title: Indoor Exotic THCa Flower
layout: layouts/base.njk
eleventyExcludeFromCollections: true
---
<div id="page">
	{% include "parts/page-header.njk" %}
	{% include "lists/exoticsFeed.njk" %}
</div>
