---
title: Indoor Exotic THCA Flower
layout: layouts/base.njk
eleventyExcludeFromCollections: true
---
<div id="page">
{% include "parts/page-header.njk" %}
	{% set exoticslist = collections.exotics %}
	{% include "lists/exoticsFeed.njk" %}
</div>
