---
strain: kandi kut
profile: indica
thca: 28.23%
priceLevel: aaa+ indoor exotic
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_indica_kandi-kut.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_indica_kandi-kut_2.jpeg
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plus-indoor-ex_indica_kandi-kut.webm
hdPrice: $1425
regPrice: $1890
tags: inStock
---
