---
strain: mac
profile: sativa
thca: 28.11%
priceLevel: aaa+ indoor exotic
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_sativa_mac.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_sativa_mac_2.jpeg
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plus-indoor-ex_sativa_mac.webm
hdPrice: $1390
regPrice: $1890
tags: inStock
---
