---
strain: magic marker
profile: indica
thca:
priceLevel: aaa++ indoor exotic
photo1:  https://media.dont.zone/hs/media/img/flower/aaa-plusplus-indoor-ex_indica_magic-marker.jpeg
photo2:  https://media.dont.zone/hs/media/img/flower/aaa-plusplus-indoor-ex_indica_magic-marker_2.jpeg
hdPrice: $1490
regPrice: $1990
tags: inStock
---
