---
strain: mango mentality
profile: sativa
priceLevel: aaa++ indoor exotic
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plusplus-ex_sativa_mango-mentality.webm
photo1:  https://media.dont.zone/hs/media/img/flower/aaa-plusplus-ex_sativa_mango-mentality.jpg
hdPrice: $1425
regPrice: $1990
tags: inStock
---
