---
strain: mango dream smalls
profile: sativa
priceLevel: exotic smalls
thca:
photo1: https://media.dont.zone/hs/media/img/flower/ex-smalls_sativa_mango-dream.jpeg
hdPrice: $825
regPrice: $1190
tags: inStock
---

