---
strain: oreo blizzard
profile: hybrid
priceLevel: aaa indoor exotic
thca: 32.46%
video1: https://media.dont.zone/hs/media/vid/flower/aaa-indoor-ex_hybrid_oreo-blizzard.webm
photo1: https://media.dont.zone/hs/media/img/flower/aaa-indoor-ex_hybrid_oreo-blizzard_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-indoor-ex_hybrid_oreo-blizzard_2.jpg
hdPrice: $1300
regPrice: $1790
tags: inStock
---
