---
strain: peanut butter souffle
profile: indica
priceLevel: aaa+ indoor exotic
thca: 31.012%
photo1:  https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_indica_peanut-butter-souffle.jpg
hdPrice: $1,644.30
regPrice: $1,890
tags: inStock
---
