---
strain: permanent marker
profile: indica
priceLevel: aaa++ indoor exotic
thca:
photo1:  https://media.dont.zone/hs/media/img/flower/aaa-plusplus-indoor-ex_indica_permanent-marker.jpeg
photo2:  https://media.dont.zone/hs/media/img/flower/aaa-plusplus-indoor-ex_indica_permanent-marker_2.jpeg
video1:  https://media.dont.zone/hs/media/vid/flower/aaa-plusplus-indoor-ex_indica_permanent-marker.webm
hdPrice: $1490
regPrice: $1990
tags: inStock
---
