---
strain: platinum lemon gushers
profile: indica
priceLevel: aaa+ indoor exotic
thca: "30.02%"
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_indica_platinum-gushers-%28not-mine%29.jpg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_indica_platinum-gushers%28not-mine%29.jpeg
hdPrice: $1350
regPrice: $1890
---
