---
strain: purple runtz
profile: hybrid
priceLevel: aaa+ indoor exotic
thca: "29.20%"
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plus-indoor-ex_hybrid_purple-runtz-hybrid.webm
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_hybrid_purple-runtz.jpeg
hdPrice: $1400
regPrice: $1890
---
