---
strain: rainbow sprinkles
profile: hybrid
thca: 30.25%
priceLevel: aaa++ indoor exotic
photo1:  https://media.dont.zone/hs/media/img/flower/aaa-plusplus-indoor-ex_hybrid_rainbow-sprinkles.jpeg
hdPrice: $1500
regPrice: $1990
tags: inStock
---
