---
strain: Runtz
profile: hybrid
priceLevel: AAA+ Indoor Exotic
thca: 27.75%
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plus-indoor-ex_hybrid_runtz.webm
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_hybrid_runtz_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_hybrid_runtz_2.jpg
hdPrice: $1350
regPrice: $1890
tags: inStock
---

