---
strain: Runtz
profile: Hybrid
priceLevel: AAA Indoor Exotic
thca: 27.75%
video1: https://media.dont.zone/hs/media/vid/flower/aaa-indoor-ex_hybrid_runtz.webm
photo1: https://media.dont.zone/hs/media/img/flower/aaa-indoor-ex_hybrid_runtz_cropped.jpg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-indoor-ex_hybrid_runtz_2_cropped.jpeg
hdPrice: $1300
regPrice: $1790
tags: inStock
---

