---
strain: tropicana gelato
profile: hybrid
thca: 30.57%
priceLevel: aaa indoor exotic
photo1: https://media.dont.zone/hs/media/img/flower/aaa-indoor-ex_hybrid_tropicana-gelato.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-indoor-ex_hybrid_tropicana-gelato_2.jpeg
video1: https://media.dont.zone/hs/media/vid/flower/aaa-indoor-ex_hybrid_tropicana-gelato.webm
hdPrice: $1050
regPrice: $1790
tags: inStock
---
