---
strain: uncle snoop
profile: indica
thca: 30.83%
priceLevel: aaa+ indoor exotic
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_indica_uncle-snoop.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_indica_uncle-snoop_2.jpeg
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plus-indoor-ex_indica_uncle-snoop.webm
hdPrice: $1450
regPrice: $1890
tags: inStock
---
