---
strain: Uncle Snoop
profile: Indica
thca: 30.83%
priceLevel: AAA+ Indoor Exotic
photo1: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_indica_uncle-snoop_cropped.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_indica_uncle-snoop_2_cropped.jpeg
video1: https://media.dont.zone/hs/media/vid/flower/aaa-plus-indoor-ex_indica_uncle-snoop.webm
hdPrice: $1450
regPrice: $1890
tags: inStock
---
