---
strain: white runtz
profile: hybrid
priceLevel: exotic mediums
thca: 28.37
video1: https://media.dont.zone/hs/media/vid/flower/ex-mediums_hybrid_white-runtz_1.webm
photo1: https://media.dont.zone/hs/media/img/flower/ex-mediums_hybrid_white-runtz_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/ex-mediums_hybrid_white-runtz_2.jpg
hdPrice: $850
regPrice: $1290
tags: inStock
---

