---
strain: zkittles
profile: indica
priceLevel: aaa+ indoor exotic
thca: 25.72%
photo1: 'https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_indica_zkittles.jpg'
hdPrice: $1,122.30
regPrice: $1,290
tags: inStock
---
