---
strain: zkittles
profile: indica
priceLevel: aaa+ indoor exotic
thca: 25.72%
photo1: 'https://media.dont.zone/hs/media/img/flower/aaa-plus-indoor-ex_indica_zkittles.jpg'
hdPrice: $1350
regPrice: $1890
tags: inStock
---
