		<section class="exotics exotics-smalls">
			<div class="exotics-nav">
				<nav class="menu-nav flex-row">
					<a href="#aaa-plusplus-exotic-smalls">AAA++ Exotic Smalls</a>
					<a href="#aaa-plus-exotic-smalls">AAA+ Exotic Smalls</a>
					<a href="#aaa-exotic-smalls">AAA Exotic Smalls</a>
					<a href="#exotic-mediums">Exotic Mediums</a>
					<a href="#exotic-smalls">Exotic Smalls</a>
				</nav>
			</div>
			<div class="padding">
				<section id="aaa-plusplus-exotic-smalls" class="exotics">
					<header>
						<h3 class="center">aaa++ exotic smalls</h3>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>

							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">None available</td>
										</tr>
									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">None available</td>
										</tr>
									</tbody>
								</table>
							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">None available</td>
										</tr>
									</tbody>
								</table>
							</div>
						</article>
					</div>
				</section>
				<section id="aaa-plus-exotic-smalls" class="exotics">
					<header>
						<h3 class="center">aaa+ exotic smalls</h3>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>

							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
										<tr>
											<td class="strain-name">BLUE ZLUSHIE</td>
											<td class="thca">28.26</td>
											<td class="stock">1.66</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$790.00</td>
										</tr>
										</tr>
									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">SECRET GELATO</td>
											<td class="thca"></td>
											<td class="stock">2</td>
											<td class="reg-price">$1,390.00</td>
											<td class="hidden-deals">$1,000.00</td>
										</tr>
									</tbody>
								</table>
							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">RED RUNTZ</td>
											<td class="thca">30.99</td>
											<td class="stock">0.75</td>
											<td class="reg-price">$1,390.00</td>
											<td class="hidden-deals">$800.00</td>
										</tr>
										<tr>
											<td class="strain-name">BUBBLE GUM POPPERS</td>
											<td class="thca">30.47</td>
											<td class="stock">0.1</td>
											<td class="reg-price">$1,390.00</td>
											<td class="hidden-deals">$800.00</td>
										</tr>
									</tbody>
								</table>
							</div>
						</article>
					</div>
				</section>
				<section id="aaa-exotic-smalls" class="exotics">
					<header>
						<h3 class="center">aaa exotic smalls</h3>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>

							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">SHERB BREATH</td>
											<td class="thca"></td>
											<td class="stock">1</td>
											<td class="reg-price">$890.00</td>
											<td class="hidden-deals">$790.00</td>
										</tr>
										<tr>
											<td class="strain-name">WHITE TRUFFLE</td>
											<td class="thca">24.55</td>
											<td class="stock">1</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$800.00</td>
										</tr>
										<tr>
											<td class="strain-name">PINEAPPLE RUNTZ</td>
											<td class="thca">29.02</td>
											<td class="stock">0.88</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$800.00</td>
										</tr>
									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">None available</td>
										</tr>
									</tbody>
								</table>
							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">None available</td>
										</tr>
									</tbody>
								</table>
							</div>
						</article>
					</div>
				</section>
				<section id="exotic-mediums" class="exotics">
					<header>
						<h3 class="center">exotic mediums</h3>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>

							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/lemon-cherry-runtz-mediums">LEMON CHERRY RUNTZ -BIO</a>
											</td>
											<td class="thca">31.26</td>
											<td class="stock">9</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$850.00</td>
										</tr>
										<tr>
											<td class="strain-name">PURPLE RUNTZ -BIO</td>
											<td class="thca">30.18</td>
											<td class="stock">2.17</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$850.00</td>
										</tr>
										<tr>
											<td class="strain-name">LEMON CHERRY GELATO EM</td>
											<td class="thca">32</td>
											<td class="stock">11</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$850.00</td>
										</tr>
									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">OG -BIO</td>
											<td class="thca">28.39</td>
											<td class="stock">1.62</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$850.00</td>
										</tr>
										<tr>
											<td class="strain-name">TROPICAL GELATO -BIO</td>
											<td class="thca">30.57</td>
											<td class="stock">1.91</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$850.00</td>
										</tr>
									</tbody>
								</table>
							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">WHITE RUNTZ - BIO</td>
											<td class="thca">28.37</td>
											<td class="stock">4.49</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$850.00</td>
										</tr>
										<tr>
											<td class="strain-name">CANDY MINTZ - BIO</td>
											<td class="thca">31.25</td>
											<td class="stock">0.8</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$850.00</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/gmo-oil/">GMO OIL</a>
											</td>
											<td class="thca">28.51</td>
											<td class="stock">4</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$850.00</td>
										</tr>
									</tbody>
								</table>
							</div>
						</article>
					</div>
				</section>
				<section id="exotic-smalls" class="exotics">
					<header>
						<h3 class="center">exotic smalls</h3>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>

							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">PEANUT BUTTER SOUFLE</td>
											<td class="thca">31.74</td>
											<td class="stock">3.24</td>
											<td class="reg-price">$890.00</td>
											<td class="hidden-deals">$690.00</td>
										</tr>
										<tr>
											<td class="strain-name">GUMBO EXOTIC</td>
											<td class="thca">31.48</td>
											<td class="stock">0.41</td>
											<td class="reg-price">$1,190.00</td>
											<td class="hidden-deals">$800.00</td>
										</tr>
										<tr>
											<td class="strain-name">GUSH MINTZ-EXOTIC</td>
											<td class="thca">31.22</td>
											<td class="stock">0.94</td>
											<td class="reg-price">$1,190.00</td>
											<td class="hidden-deals">$800.00</td>
										</tr>
										<tr>
											<td class="strain-name">GUAVA RUNTZ EXOTIC SMALLS</td>
											<td class="thca">28.36</td>
											<td class="stock">0.13</td>
											<td class="reg-price">$1,190.00</td>
											<td class="hidden-deals">$875.00</td>
										</tr>

									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">TROPICAL CHERRY EXOTIC</td>
											<td class="thca"></td>
											<td class="stock">0.37</td>
											<td class="reg-price">$890.00</td>
											<td class="hidden-deals">$790.00</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/mango-dream-smalls">MANGO DREAM SMALLS</a>
											</td>
											<td class="thca"></td>
											<td class="stock">0.69</td>
											<td class="reg-price">$1,190.00</td>
											<td class="hidden-deals">$825.00</td>
										</tr>
										<tr>
											<td class="strain-name">HONEY GUAVA</td>
											<td class="thca">30</td>
											<td class="stock">0.97</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$950.00</td>
										</tr>

									</tbody>
								</table>
							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">GRAPE GAS</td>
											<td class="thca">29.12</td>
											<td class="stock">0.99</td>
											<td class="reg-price">$1,190.00</td>
											<td class="hidden-deals">$650.00</td>
										</tr>
										<tr>
											<td class="strain-name">LUXXE RUNTZ</td>
											<td class="thca">33.29</td>
											<td class="stock">1.2</td>
											<td class="reg-price">$890.00</td>
											<td class="hidden-deals">$690.00</td>
										</tr>
										<tr>
											<td class="strain-name">OREOZ SMALLS</td>
											<td class="thca">32.46</td>
											<td class="stock">1.69</td>
											<td class="reg-price">$1,190.00</td>
											<td class="hidden-deals">$825.00</td>
										</tr>
									</tbody>
								</table>
							</div>
						</article>
					</div>
				</section>
			</div>
		</section>
