		<section class="exotics">
			<div class="exotics-nav">
				<nav class="menu-nav flex-row">
					<a href="#aaa-plus-plus">AAA++ Exotic</a>
					<a href="#aaa-plus">AAA+ Exotic</a>
					<a href="#aaa">AAA Exotic</a>
					<a href="#pie">PREMIUM INDOOR EXOTICS</a>
				</nav>
			</div>
			<div class="padding">
				<section id="aaa-plus-plus" class="exotics">
					<header>
						<h3 class="center">aaa++ indoor exotics</h3>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">PINEAPPLE BELTZ</td>
											<td class="thca">31.05</td>
											<td class="stock">0.52</td>
											<td class="reg-price">$1,2990.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/mean-streakz">MEAN STREAKZ</a>
											</td>
											<td class="thca"></td>
											<td class="stock">6</td>
											<td class="reg-price">$1,495.00</td>
											<td class="hidden-deals">$1,300.65</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/magic-marker">MAGIC MARKER</a>
											</td>
											<td class="thca"></td>
											<td class="stock">2.13</td>
											<td class="reg-price">$1,495.00</td>
											<td class="hidden-deals">$1,300.65</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/double-cherry-pie">DOUBLE CHERRY PIE</a>
											</td>
											<td class="thca">35.81</td>
											<td class="stock">2</td>
											<td class="reg-price">$1,495.00</td>
											<td class="hidden-deals">$1,300.65</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/permanent-marker">PERMANENT MARKER</a>
											</td>
											<td class="thca"></td>
											<td class="stock">4.0</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,731.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/platinum-lemon-gushers">PLATINUM LG</a>
											</td>
											<td class="thca"></td>
											<td class="stock">1.0</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,731.30</td>
										</tr>
										<tr>
											<td class="strain-name">CHERRY ZERBET</td>
											<td class="thca">32.14</td>
											<td class="stock">0.06</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,731.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/blackberry-gushers">BLACKBERRY GUSHERS</a>
											</td>
											<td class="thca">33.47</td>
											<td class="stock">0.06</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,731.30</td>
										</tr>
										<tr>
											<td class="strain-name">BLACK CHERRY GELATO</td>
											<td class="thca">31.05</td>
											<td class="stock">0.21</td>
											<td class="reg-price">$2,190.00</td>
											<td class="hidden-deals">$1,905.30</td>
										</tr>
										<tr>
											<td class="strain-name">WHITE CHERRY SLURPEE</td>
											<td class="thca">28.74</td>
											<td class="stock">0.19</td>
											<td class="reg-price">$2,190.00</td>
											<td class="hidden-deals">$1,905.30</td>
										</tr>
									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">HALLE BERRY</td>
											<td class="thca">33.25</td>
											<td class="stock">0.59</td>
											<td class="reg-price">$1,495.00</td>
											<td class="hidden-deals">$1,300.65</td>
										</tr>
										<tr>
											<td class="strain-name">STRAWBERRY</td>
											<td class="thca"></td>
											<td class="stock">0.52</td>
											<td class="reg-price">$1,495.00</td>
											<td class="hidden-deals">$1,300.65</td>
										</tr>

									</tbody>
								</table>
							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">
												BLUE GUSHERS
											</td>
											<td class="thca">31.32</td>
											<td class="stock">0.53</td>
											<td class="reg-price">$1,495.00</td>
											<td class="hidden-deals">$1,300.65</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/apples-and-bananas">APPLE & BANANAS</a>
											</td>
											<td class="thca"></td>
											<td class="stock">0.47</td>
											<td class="reg-price">$1,495.00</td>
											<td class="hidden-deals">$1,300.65</td>
										</tr>
										<tr>
											<td class="strain-name">
												CANDY GAS
											</td>
											<td class="thca">31.9</td>
											<td class="stock">0.88</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,731.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/rainbow-sprinkles">RAINBOW SPRINKLES</a>
											</td>
											<td class="thca">30.25</td>
											<td class="stock">0.79</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,731.30</td>
										</tr>

									</tbody>
								</table>
							</div>
						</article>

					</div>
				</section>
				<section id="aaa-plus" class="exotics">
					<header>
						<h3 class="center">aaa+ indoor exotics</h3>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/amaretto">AMARETTO</a></td>
											<td class="thca"></td>
											<td class="stock">9</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/pop-rocks">POP ROCKS</a></td>
											<td class="thca"></td>
											<td class="stock">6.75</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/blue-sherbet">BLUE SHERBET</a></td>
											<td class="thca"></td>
											<td class="stock">6</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/black-cherry">BLACK CHERRY</a></td>
											<td class="thca"></td>
											<td class="stock">5.5</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/purple-cream">PURPLE CREAM</a>
											</td>
											<td class="thca"></td>
											<td class="stock">4.44</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">PERMANENT MARKER EXOTIC</td>
											<td class="thca">27.3</td>
											<td class="stock">2.09</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">NIGHT MOVES</td>
											<td class="thca"></td>
											<td class="stock">1.88</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/candy-panties">CANDY PANITES</a>
											</td>
											<td class="thca">28.3</td>
											<td class="stock">1.43</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/papaya-punch">PAPAYA PUNCH</a></td>
											<td class="thca">26.86</td>
											<td class="stock">1.27</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/kandi-kut">KANDI KUT</a>
											</td>
											<td class="thca">28.23</td>
											<td class="stock">1.08</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/gobstoppers">GOBSTOPPERS</a>
											</td>
											<td class="thca">31.25</td>
											<td class="stock">0.93</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">BLACK AMBER</td>
											<td class="thca">28.17</td>
											<td class="stock">0.78</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/uncle-snoop">UNCLE SNOOP</a>
											</td>
											<td class="thca">30.83</td>
											<td class="stock">0.73</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">BLACK GARLIC GELATO</td>
											<td class="thca"></td>
											<td class="stock">0.57</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">GUSH MINTZ</td>
											<td class="thca">30.7</td>
											<td class="stock">0.50</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">WEDDING CAKE</td>
											<td class="thca"></td>
											<td class="stock">0.38</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/zkittles/">ZKITTLES EXOTIC</a>
											</td>
											<td class="thca">25.72</td>
											<td class="stock">0.33</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">GLITTER BOMB AAA+</td>
											<td class="thca">30.25</td>
											<td class="stock">0.29</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">ORANGE PUSH POP</td>
											<td class="thca"></td>
											<td class="stock">0.27</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">GRAPE CAKE</td>
											<td class="thca"></td>
											<td class="stock">0.22</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/ice-cream-cake">ICE CREAM CAKE</a></td>
											<td class="thca">26.98</td>
											<td class="stock">5.75</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/gumbo">GUMBO</a>
											</td>
											<td class="thca">27.3</td>
											<td class="stock">1.84</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												BISCOTTI X GELATO 41
											</td>
											<td class="thca">28.33</td>
											<td class="stock">0.50</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">SORBET EXOTIC</td>
											<td class="thca">22.62</td>
											<td class="stock">0.30</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">GARLIC GUSHERS</td>
											<td class="thca">27.45</td>
											<td class="stock">0.06</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">BLACK MAPLE</td>
											<td class="thca">27.6</td>
											<td class="stock">0.19</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">JELLY ZONUT</td>
											<td class="thca">26.58</td>
											<td class="stock">0.16</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">WHITE GUAVA</td>
											<td class="thca">24.81</td>
											<td class="stock">0.12</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/girl-scout-cookies-aaa-plus">GIRL SCOUT COOKIES</a>
											</td>
											<td class="thca">28.89</td>
											<td class="stock">0.09</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/peanut-butter-souffle">PEANUT BUTTER SOUFFLE</a>
											</td>
											<td class="thca">31.01</td>
											<td class="stock">0.08</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">ALIEN MARKER</td>
											<td class="thca">32.13</td>
											<td class="stock">0.06</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,731.30</td>
										</tr>
										<tr>
											<td class="strain-name">BLACK TRUFFLE EXOTIC</td>
											<td class="thca">33.04</td>
											<td class="stock">0.18</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,731.30</td>
										</tr>
									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">SUPER BOOF</td>
											<td class="thca">30.89</td>
											<td class="stock">1.67</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/mac">MAC</a>
											</td>
											<td class="thca">28.11</td>
											<td class="stock">1.16</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">DONNIE BERGER</td>
											<td class="thca">28.02</td>
											<td class="stock">0.72</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/guava-cookies">GUAVA COOKIES</a>
											</td>
											<td class="thca">20.95</td>
											<td class="stock">0.43</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">POWER PLANT (EXOTIC)</td>
											<td class="thca">28.63</td>
											<td class="stock">0.35</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">SHERB RUNTZ (Exotic)</td>
											<td class="thca"></td>
											<td class="stock">0.26</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/tropical-chem">TROPICAL CHEM</a></td>
											<td class="thca">34.34</td>
											<td class="stock">0.25</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">BLUE DREAM EXOTIC</td>
											<td class="thca">27.3</td>
											<td class="stock">2.1</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">MAC 1 EXOTIC</td>
											<td class="thca">27.4</td>
											<td class="stock">1.88</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">SUPER BOOF EXOTIC</td>
											<td class="thca">30.89</td>
											<td class="stock">1.5</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">MAC 1 (MIRACLE ALIEN COOKIES)</td>
											<td class="thca">27.4</td>
											<td class="stock">0.75</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">BLUEBERRY HAZE</td>
											<td class="thca">28.4</td>
											<td class="stock">0.06</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">SOHO CAKES</td>
											<td class="thca">33.47</td>
											<td class="stock">0.06</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">JACK HERER</td>
											<td class="thca">33.05</td>
											<td class="stock">0.18</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">TROPICANE</td>
											<td class="thca">37.79</td>
											<td class="stock">0.16</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/acai-gelato">ACAI GELATO</a>
											</td>
											<td class="thca">31.94</td>
											<td class="stock">0.12</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/gelato-41">GELATO 41 -EXOTIC</a>
											</td>
											<td class="thca">29.26</td>
											<td class="stock">0.11</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">MANGO MENTALITY</td>
											<td class="thca">23.93</td>
											<td class="stock">0.61</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,731.30</td>
										</tr>
										<tr>
											<td class="strain-name">PINEAPPLE OG</td>
											<td class="thca">32.11</td>
											<td class="stock">0.06</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,731.30</td>
										</tr>
										<tr>
											<td class="strain-name">CHERRY ALTOID</td>
											<td class="thca">30.74</td>
											<td class="stock">0.12</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,731.30</td>
										</tr>
									</tbody>
								</table>
							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">RUNTZ 1</td>
											<td class="thca">27.75</td>
											<td class="stock">10.92</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">RUNTZ 2</td>
											<td class="thca">28.1</td>
											<td class="stock">8.44</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">TAHOE EXOTIC</td>
											<td class="thca"></td>
											<td class="stock">6.5</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">TROPICANA GELATO</td>
											<td class="thca">30.57</td>
											<td class="stock">2.60</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">BLOCK PARTY (EXOTIC)</td>
											<td class="thca">30.99</td>
											<td class="stock">1.94</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/gary-runtz">GARY RUNTZ</a></td>
											<td class="thca">26.66</td>
											<td class="stock">1.24</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">JEALOUSY (EXOTIC)</td>
											<td class="thca">33.56</td>
											<td class="stock">1</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/purple-gushers">PURPLE GUSHERS</a>
											</td>
											<td class="thca">31.77</td>
											<td class="stock">0.65</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">BURPEE</td>
											<td class="thca">30.74</td>
											<td class="stock">0.63</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">BLUE NERDS</td>
											<td class="thca"></td>
											<td class="stock">0.44</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">DRAGON FRUIT</td>
											<td class="thca">31.27</td>
											<td class="stock">0.29</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">BUBBLE BATH</td>
											<td class="thca">38</td>
											<td class="stock">0.27</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">NERD RUNTZ</td>
											<td class="thca">29.37</td>
											<td class="stock">0.27</td>
											<td class="reg-price">$1,290.00</td>
											<td class="hidden-deals">$1,122.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/lcg-sfv">LEMON CHERRY GELATO SFV</a>
											</td>
											<td class="thca">26.35</td>
											<td class="stock">2.17</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">OREOZ</td>
											<td class="thca">32.46</td>
											<td class="stock">1.27</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">BUBBLE GUM POPPERS</td>
											<td class="thca">30.47</td>
											<td class="stock">1</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/purple-runtz">PURPLE RUNTZ</a>
											</td>
											<td class="thca">29.2</td>
											<td class="stock">0.63</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td </tr>
										<tr>
											<td>
												<a href="/indoor-exotics/cinnamon-milk">CINNAMON MILK</a>
											</tD>
											<td class="thca">30.78</td>
											<td class="stock">0.59</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/banana-punch">BANANA PUNCH</a>
											</td>
											<td class="thca">31.48</td>
											<td class="stock">0.48</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">OAKLAND LEMON CHERRY RUNTZ</td>
											<td class="thca">24.91</td>
											<td class="stock">0.06</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">FANTA FLOAT</td>
											<td class="thca"></td>
											<td class="stock">0.2</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">ZEALOUSLY EXOTIC</td>
											<td class="thca">31</td>
											<td class="stock">0.19</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/mochi">MOCHI (EXOTIC)</a>
											</td>
											<td class="thca"></td>
											<td class="stock">0.13</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,644.30</td>
										</tr>
										<tr>
											<td class="strain-name">PURPLE VOODOO</td>
											<td class="thca">31.1</td>
											<td class="stock">0.07</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,731.30</td>
										</tr>
									</tbody>
								</table>
							</div>
						</article>
					</div>
				</section>
				<section id="aaa" class="exotics">
					<header>
						<h3 class="center">aaa indoor exotics</h3>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">
												<a href="/deps-and-more/deps/pinnacle">PINNACLE</a>
											</td>
											<td class="thca"></td>
											<td class="stock">2</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$9861.30</td>
										</tr>
										<tr>
											<td class="strain-name"><a href="/indoor/gusher-mintz">GUSHER MINTZ</a></td>
											<td class="thca">28.51</td>
											<td class="stock">5.41</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$9861.30</td>
										</tr>
										<tr>
											<td class="strain-name">SHERBET</td>
											<td class="thca"></td>
											<td class="stock">1.94</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$9861.30</td>
										</tr>
										<tr>
											<td class="strain-name">CHERRY PUNCH</td>
											<td class="thca"></td>
											<td class="stock">1.01</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$9861.30</td>
										</tr>
										<tr>
											<td class="strain-name">CHERRY CREAM</td>
											<td class="thca">29.06</td>
											<td class="stock">0.94</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$9861.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												WEDDING CAKE
											</td>
											<td class="thca">29.36</td>
											<td class="stock">10.24</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$861.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												CHERRY PIE
											</td>
											<td class="thca">28.41</td>
											<td class="stock">6.75</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$861.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												LEMON CHERRY RUNTZ
											</td>
											<td class="thca">26.12</td>
											<td class="stock">1.39</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$861.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												JOKERS CANDY
											</td>
											<td class="thca">29.71</td>
											<td class="stock">0.94</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$861.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/gush-mintz">GUSH MINTZ</a>
											</td>
											<td class="thca">25.66</td>
											<td class="stock">23.95</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$861.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												ICE CREAM CRASHERS
											</td>
											<td class="thca"></td>
											<td class="stock">4</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$861.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												DON MEGA
											</td>
											<td class="thca">26.42</td>
											<td class="stock">0.25</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$861.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												ICE CREAM PIE
											</td>
											<td class="thca">31</td>
											<td class="stock">0.23</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$861.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												GUSHERS EXOTIC
											</td>
											<td class="thca">32.39</td>
											<td class="stock">0.22</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$861.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												ZEREALS
											</td>
											<td class="thca"></td>
											<td class="stock">0.37</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$861.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												WHITE GUSHERS
											</td>
											<td class="thca">31.16</td>
											<td class="stock">0.06</td>
											<td class="reg-price">$1590.00</td>
											<td class="hidden-deals">$1,383.30</td>
										</tr>
										<tr>
											<td class="strain-name">PINEAPPLE RUNTZ</td>
											<td class="thca">29.02</td>
											<td class="stock">2.25</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,557.30</td>
										</tr>
										<tr>
											<td class="strain-name">WHITE TRUFFLE AAA EXOTIC</td>
											<td class="thca">24.55</td>
											<td class="stock">1.81</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,557.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/glitter-bomb">GLITTER BOMB</a>
											</td>
											<td class="thca">31.56</td>
											<td class="stock">1.5</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,557.30</td>
										</tr>
										<tr>
											<td class="strain-name">RASPBERRY CHEEZECAKE</td>
											<td class="thca">30.63</td>
											<td class="stock">0.19</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,557.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/black-ice">BLACK ICE EXOTIC</a>
											</td>
											<td class="thca">24.24</td>
											<td class="stock">0.19</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,557.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/bolo-runtz">BOLO RUNTZ</a>
											</td>
											<td class="thca">20.54</td>
											<td class="stock">0.12</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,557.30</td>
										</tr>
									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">
												<a href="/indoor/lemon-pie">LEMON PIE</a>
											</td>
											<td class="thca">33.25</td>
											<td class="stock">0.76</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$861.30</td>
										</tr>
										<tr>
											<td class="strain-name">PURPLE MILK</td>
											<td class="thca">27</td>
											<td class="stock">0.94</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$861.30</td>
										</tr>
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/zoap">ZOAP</a></td>
											<td class="thca">32.88</td>
											<td class="stock">14.75</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$861.30</td>
										</tr>
										<tr>
											<td class="strain-name">MANGO MENTALITY</td>
											<td class="thca">23.93</td>
											<td class="stock">0.47</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$861.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/donnie-berger">DONNIE BERGER</a>
											</td>
											<td class="thca">29</td>
											<td class="stock">1.69</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,557.30</td>
										</tr>
										<tr>
											<td class="strain-name">TROPICANA CHERRY</td>
											<td class="thca">29.98</td>
											<td class="stock">1.25</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,557.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/zangria-sherb">ZANGRIA SHERB</a>
											</td>
											<td class="thca">31.55</td>
											<td class="stock">0.73</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,557.30</td>
										</tr>
										<tr>
											<td class="strain-name">LEMONHEADS</td>
											<td class="thca">31.27</td>
											<td class="stock">0.42</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,557.30</td>
										</tr>
										<tr>
											<td class="strain-name">FUNNEL CAKE</td>
											<td class="thca">29.74</td>
											<td class="stock">0.12</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,557.30</td>
										</tr>
									</tbody>
								</table>
							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">CANDY RUNTZ</td>
											<td class="thca">31.84</td>
											<td class="stock">3.92</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$861.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/oreo-blizzard">OREO BLIZZARD</a>
											</td>
											<td class="thca">32.46</td>
											<td class="stock">25.65</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$861.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												OREO BLIZZARD
											</td>
											<td class="thca">31.1</td>
											<td class="stock">0.35</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$861.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/gelato-33">GELATO 33</a>
											</td>
											<td class="thca">25.72</td>
											<td class="stock">0.2</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,557.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												BLUEBERRY JACK
											</td>
											<td class="thca"></td>
											<td class="stock">0.2</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,557.30</td>
										</tr>

									</tbody>
								</table>
							</div>
						</article>
					</div>
				</section>
				<section id="pie" class="exotics">
					<header>
						<h3 class="center">premium indoor exotics</h3>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">GUMBO</td>
											<td class="thca"></td>
											<td class="stock">6</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">ICE CREAM MINTZ - AAA</td>
											<td class="thca"></td>
											<td class="stock">8</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												LEMON CHERRY GELATO 1
											</td>
											<td class="thca">27.65</td>
											<td class="stock">15</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												LEMON CHERRY GELATO 2
											</td>
											<td class="thca"></td>
											<td class="stock">3.08</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												GELATO TRUFFLE
											</td>
											<td class="thca">31.95</td>
											<td class="stock">6.16</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												BLACK BISCOTTI
											</td>
											<td class="thca">29.59</td>
											<td class="stock">4.53</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												SUPER GLUE
											</td>
											<td class="thca">28.48</td>
											<td class="stock">3.27</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												MODIFIED GRAPES
											</td>
											<td class="thca">28.55</td>
											<td class="stock">3.09</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												GUSH CANDY
											</td>
											<td class="thca">27.92</td>
											<td class="stock">2</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												CANDY CRUSHER
											</td>
											<td class="thca"></td>
											<td class="stock">1.94</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												BLUE COOKIES
											</td>
											<td class="thca">27.93</td>
											<td class="stock">1.32</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												ITALIAN ICEE
											</td>
											<td class="thca">29.54</td>
											<td class="stock">1</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												MAGIC MARKER
											</td>
											<td class="thca"></td>
											<td class="stock">2.10</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor/golden-cash">GOLDEN CASH</a>
											</td>
											<td class="thca">28.74</td>
											<td class="stock">7.01</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor/white-cherry-gelato">WHITE CHERRY GELATO</a>
											</td>
											<td class="thca"></td>
											<td class="stock">2.39</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">Permanent Marker A Indoor</td>
											<td class="thca">28.11</td>
											<td class="stock">2</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">GRAPPLE CAKE</td>
											<td class="thca">23.74</td>
											<td class="stock">1</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">IBIZA</td>
											<td class="thca"></td>
											<td class="stock">1</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">PEANUT BUTTER AND JELLY</td>
											<td class="thca">29.01</td>
											<td class="stock">1</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">JELLY BREATH</td>
											<td class="thca">30.25</td>
											<td class="stock">0.28</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												GELATO PIE
											</td>
											<td class="thca">29.36</td>
											<td class="stock">0.21</td>
											<td class="reg-price">$1190.00</td>
											<td class="hidden-deals">$1035.30</td>
										</tr>
									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">
												ICE POP
											</td>
											<td class="thca">30.94</td>
											<td class="stock">23.07</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												SUPER BOOF
											</td>
											<td class="thca">23.82</td>
											<td class="stock">4.06</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												CALI SHERB
											</td>
											<td class="thca"></td>
											<td class="stock">0.69</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												TROPICANA CHERRY
											</td>
											<td class="thca">28.58</td>
											<td class="stock">5.10</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/zereal">ZEREAL</a>
											</td>
											<td class="thca">30.24</td>
											<td class="stock">4</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												BLUE DREAM
											</td>
											<td class="thca">30.15</td>
											<td class="stock">1.59</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>

									</tbody>
								</table>
							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">
												GOOFIES
											</td>
											<td class="thca"></td>
											<td class="stock">8</td>
											<td class="reg-price">$790</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												OREOZ
											</td>
											<td class="thca"></td>
											<td class="stock">6</td>
											<td class="reg-price">$790</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												GRAPE COOKIES
											</td>
											<td class="thca"></td>
											<td class="stock">5</td>
											<td class="reg-price">$790</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												LEMON OG
											</td>
											<td class="thca">29.54</td>
											<td class="stock">4</td>
											<td class="reg-price">$790</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												CANDY KEY LIME
											</td>
											<td class="thca"></td>
											<td class="stock">7</td>
											<td class="reg-price">$790</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">OREOS</td>
											<td class="thca"></td>
											<td class="stock">12</td>
											<td class="reg-price">$790</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/deps-and-more/deps/rainbow-runtz">RAINBOW RUNTZ</a>
											</td>
											<td class="thca">28.23</td>
											<td class="stock">9.38</td>
											<td class="reg-price">$790</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor/runtz">RUNTZ A INDOOR New</a>
											</td>
											<td class="thca">29.24</td>
											<td class="stock">5.17</td>
											<td class="reg-price">$790</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor/pressure">PRESSURE</a>
											</td>
											<td class="thca"></td>
											<td class="stock">4.44</td>
											<td class="reg-price">$790</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">Mochi Gelato</td>
											<td class="thca">23.53</td>
											<td class="stock">1.13</td>
											<td class="reg-price">$790</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">GOVERNMENT OASIS ORGANIC</td>
											<td class="thca">31.15</td>
											<td class="stock">1</td>
											<td class="reg-price">$790</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">OREO BLIZZARD</td>
											<td class="thca"></td>
											<td class="stock">1</td>
											<td class="reg-price">$790</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">CHEM DAWG ORGANIC</td>
											<td class="thca">29.25</td>
											<td class="stock">0.29</td>
											<td class="reg-price">$790</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">PINNACLE RUNTZ</td>
											<td class="thca"></td>
											<td class="stock">0.28</td>
											<td class="reg-price">$790</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												SUNDAY DRIVER
											</td>
											<td class="thca"></td>
											<td class="stock">11</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												POISON PARTY
											</td>
											<td class="thca"></td>
											<td class="stock">10.50</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/ampm">AM / PM</a>
											</td>
											<td class="thca"></td>
											<td class="stock">7.3</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												GUAVA RUNTZ
											</td>
											<td class="thca">28.84</td>
											<td class="stock">5</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												RUNTZ
											</td>
											<td class="thca"></td>
											<td class="stock">4.44</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												HIGH SOCIETY
											</td>
											<td class="thca"></td>
											<td class="stock">3.51</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												GOVERNMENT OASIS
											</td>
											<td class="thca"></td>
											<td class="stock">2.50</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/grape-gas">GRAPE GAS</a>
											</td>
											<td class="thca">29.12</td>
											<td class="stock">0.50</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												GORILLA GLUE (#4)
											</td>
											<td class="thca">27.73</td>
											<td class="stock">0.25</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$687.30</td>
										</tr>
									</tbody>
								</table>
							</div>
						</article>
					</div>
				</section>
			</div>
		</section>
