		<section class="exotics">
			<div class="exotics-nav">
				<nav class="menu-nav flex-row">
					<a href="#aaa-plus-plus">AAA++ Exotic</a>
					<a href="#aaa-plus">AAA+ Exotic</a>
					<a href="#aaa">AAA Exotic</a>
				</nav>
			</div>
			<div class="padding">
				<section id="aaa-plus-plus" class="exotics">
					<header>
						<h3 class="center">aaa++ indoor exotics</h3>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">
											<a href="/indoor-exotics/blackberry-gushers">BLACKBERRY GUSHERS</a>
										</td>
											<td class="thca">33.47</td>
											<td class="stock">0.25</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,550.00</td>
										</tr>
										<tr>
											<td class="strain-name">CHERRY ZERBET</td>
											<td class="thca">32.14</td>
											<td class="stock">0.27</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,550.00</td>
										</tr>
										<tr>
											<td class="strain-name">MAGIC MARKER</td>
											<td class="thca"></td>
											<td class="stock">5.0</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,500.00</td>
										</tr>
										<tr>
											<td class="strain-name">MEAN STREAKZ</td>
											<td class="thca"></td>
											<td class="stock">11.0</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,550.00</td>
										</tr>
										<tr>
											<td class="strain-name">PERMANENT MARKER</td>
											<td class="thca"></td>
											<td class="stock">4.0</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,500.00</td>
										</tr>
										<tr>
											<td class="strain-name">PLATINUM LG</td>
											<td class="thca"></td>
											<td class="stock">1.0</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,500.00</td>
										</tr>
										<tr>
											<td class="strain-name">SHERBERT</td>
											<td class="thca"></td>
											<td class="stock">1.0</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,500.00</td>
										</tr>
									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/mango-mentality">MANGO MENTALITY</a></td>
											<td class="thca"></td>
											<td class="stock">2.56</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,425.00</td>
										</tr>
										<tr>
											<td class="strain-name">STRAWBERRY</td>
											<td class="thca"></td>
											<td class="stock">1.98</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,500.00</td>
										</tr>
									</tbody>
								</table>
							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">APPLE & BANANAS</td>
											<td class="thca"></td>
											<td class="stock">2.0</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,500.00</td>
										</tr>
										<tr>
											<td class="strain-name">RAINBOW SPRINKLE</td>
											<td class="thca">30.25</td>
											<td class="stock">0.79</td>
											<td class="reg-price">$1,990.00</td>
											<td class="hidden-deals">$1,550.00</td>
										</tr>
									</tbody>
								</table>
							</div>
						</article>

					</div>
				</section>
				<section id="aaa-plus" class="exotics">
					<header>
						<h3 class="center">aaa+ indoor exotics</h3>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">BLACK AMBER</td>
											<td class="thca">28.17</td>
											<td class="stock">1.0</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,400.00</td>
										</tr>
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/black-ice">BLACK ICE Exotic AAA+</a></td>
											<td class="thca"></td>
											<td class="stock">4.0</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,400.00</td>
										</tr>
										<tr>
											<td class="strain-name">BLUE ZLUSHIE -EXOTIC</td>
											<td class="thca">28.26</td>
											<td class="stock">3.73</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,300.00</td>
										</tr>
										<tr>
											<td class="strain-name">BLUEBERRY SUGAR EXOTIC</td>
											<td class="thca">29.36</td>
											<td class="stock">6.19</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,350.00</td>
										</tr>
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/candy-panties">CANDY PANITES</a></td>
											<td class="thca">28.3</td>
											<td class="stock">5.11</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,450.00</td>
										</tr>
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/girl-scout-cookies-aaa-plus">GIRL SCOUT COOKIES</a></td>
											<td class="thca">28.89</td>
											<td class="stock">2.71</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,200.00</td>
										</tr>
										<tr>
											<td class="strain-name">GLITTER BOMB AAA+</td>
											<td class="thca">30.25</td>
											<td class="stock">0.71</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,350.00</td>
										</tr>
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/gobstoppers">GOBSTOPPERS</a></td>
											<td class="thca">31.25</td>
											<td class="stock">4.92</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,450.00</td>
										</tr>
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/gumbo">GUMBO</a></td>
											<td class="thca">27.3</td>
											<td class="stock">1.84</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,300.00</td>
										</tr>
										<tr>
											<td class="strain-name">JELLY ZONUT</td>
											<td class="thca">26.58</td>
											<td class="stock">0.48</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,400.00</td>
										</tr>
										<tr>
											<td class="strain-name">KANDI KUT</td>
											<td class="thca"></td>
											<td class="stock">9.16</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,425.00</td>
										</tr>
										<tr>
											<td class="strain-name">Magic Marker</td>
											<td class="thca">27.93</td>
											<td class="stock">0.85</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,400.00</td>
										</tr>
										<tr>
											<td class="strain-name">PAPAYA PUNCH</td>
											<td class="thca">26.86</td>
											<td class="stock">3.41</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,450.00</td>
										</tr>
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/peanut-butter-souffle">PEANUT BUTTER SOUFFLE</a></td>
											<td class="thca">31.01</td>
											<td class="stock">0.52</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,350.00</td>
										</tr>
										<tr>
											<td class="strain-name">PERMANENT MARKER EXOTIC</td>
											<td class="thca">27.3</td>
											<td class="stock">3.6</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,450.00</td>
										</tr>
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/platinum-lemon-gushers">PLATINUM LEMON GUSHERS</a></td>
											<td class="thca">30.02</td>
											<td class="stock">0.67</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,350.00</td>
										</tr>
										<tr>
											<td class="strain-name">SORBET EXOTIC</td>
											<td class="thca">22.62</td>
											<td class="stock">2.0</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,450.00</td>
										</tr>
										<tr>
											<td class="strain-name">Sherbert EXOTIC</td>
											<td class="thca">29.26</td>
											<td class="stock">2.34</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,350.00</td>
										</tr>
										<tr>
											<td class="strain-name">UNCLE SNOOP</td>
											<td class="thca"></td>
											<td class="stock">5.72</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,450.00</td>
										</tr>
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/zkittles/">ZKITTLES EXOTIC</a></td>
											<td class="thca">25.72</td>
											<td class="stock">0.98</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,350.00</td>
										</tr>
									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/acai-gelato">ACAI GELATO</a></td>
											<td class="thca">31.94</td>
											<td class="stock">0.71</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,300.00</td>
										</tr>
										<tr>
											<td class="strain-name">BLUE DREAM EXOTIC</td>
											<td class="thca">27.3</td>
											<td class="stock">5.61</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,450.00</td>
										</tr>
										<tr>
											<td class="strain-name">BLUEBERRY HAZE</td>
											<td class="thca">28.4</td>
											<td class="stock">1.38</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,300.00</td>
										</tr>
										<tr>
											<td class="strain-name">DONNIE BERGER</td>
											<td class="thca">28.02</td>
											<td class="stock">5.36</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,450.00</td>
										</tr>
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/gelato-41">GELATO 41 -EXOTIC</a></td>
											<td class="thca">29.26</td>
											<td class="stock">0.45</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,350.00</td>
										</tr>
										<tr>
											<td class="strain-name">GUAVA COOKIES</td>
											<td class="thca">20.95</td>
											<td class="stock">5.75</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,400.00</td>
										</tr>
										<tr>
											<td class="strain-name">JACK HERER</td>
											<td class="thca">26.51</td>
											<td class="stock">0.78</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,450.00</td>
										</tr>
										<tr>
											<td class="strain-name">LEMONCHELLO EXOTIC</td>
											<td class="thca">28.64</td>
											<td class="stock">1.32</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,200.00</td>
										</tr>
										<tr>
											<td class="strain-name">MAC</td>
											<td class="thca">28.11</td>
											<td class="stock">9.0</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,390.00</td>
										</tr>
										<tr>
											<td class="strain-name">MAC 1 (MIRACLE ALIEN COOKIES)</td>
											<td class="thca">27.4</td>
											<td class="stock">1.75</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,400.00</td>
										</tr>
										<tr>
											<td class="strain-name">MAC 1 EXOTIC</td>
											<td class="thca">27.4</td>
											<td class="stock">4.34</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,400.00</td>
										</tr>
										<tr>
											<td class="strain-name">POWER PLANT (EXOTIC)</td>
											<td class="thca">28.63</td>
											<td class="stock">2.73</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,350.00</td>
										</tr>
										<tr>
											<td class="strain-name">SHERB RUNTZ (Exotic)</td>
											<td class="thca"></td>
											<td class="stock">5.67</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,350.00</td>
										</tr>
										<tr>
											<td class="strain-name">SUPER BOOF EXOTIC</td>
											<td class="thca">30.89</td>
											<td class="stock">4.72</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,450.00</td>
										</tr>
										<tr>
											<td class="strain-name">SUPER SILVER HAZE</td>
											<td class="thca">31.06</td>
											<td class="stock">0.57</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,300.00</td>
										</tr>
										<tr>
											<td class="strain-name">TROPICAL CHEM</td>
											<td class="thca">34.34</td>
											<td class="stock">6.0</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,450.00</td>
										</tr>
									</tbody>
								</table>
							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">
											<a href="/indoor-exotics/banana-punch">BANANA PUNCH</a></td>
											<td class="thca">31.48</td>
											<td class="stock">0.48</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,400.00</td>
										</tr>
										<tr>
											<td class="strain-name">BLOCK PARTY (EXOTIC)</td>
											<td class="thca">30.99</td>
											<td class="stock">3.86</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,400.00</td>
										</tr>
										<tr>
											<td class="strain-name">BURPEE</td>
											<td class="thca"></td>
											<td class="stock">4.92</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,350.00</td>
										</tr>
											<td class="strain-name"><a href="/indoor-exotics/cinnamon-milk">CINNAMON MILK</a></td>
											<td class="thca">30.78</td>
											<td class="stock">0.59</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,450.00</td>
										</tr>
										<tr>
											<td class="strain-name">DRAGON FRUIT</td>
											<td class="thca">31.27</td>
											<td class="stock">0.69</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,400.00</td>
										</tr>
										<tr>
											<td class="strain-name">GARY RUNTZ</td>
											<td class="thca">26.66</td>
											<td class="stock">6.0</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,450.00</td>
										</tr>
										<tr>
											<td class="strain-name">JEALOUSY (EXOTIC)</td>
											<td class="thca">33.56</td>
											<td class="stock">6.75</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,450.00</td>
										</tr>
										<tr>
											<td class="strain-name">
											<a href="/indoor-exotics/lcg-sfv">LEMON CHERRY GELATO SFV</a></td>
											<td class="thca">26.35</td>
											<td class="stock">6.03</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,350.00</td>
										</tr>
										<tr>
											<td class="strain-name">MOCHI (EXOTIC)</td>
											<td class="thca"></td>
											<td class="stock">4.25</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,400.00</td>
										</tr>
										<tr>
											<td class="strain-name">NERD RUNTZ</td>
											<td class="thca">29.37</td>
											<td class="stock">5.75</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,500.00</td>
										</tr>
										<tr>
											<td class="strain-name">OAKLAND LEMON CHERRY RUNTZ</td>
											<td class="thca">24.91</td>
											<td class="stock">0.67</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,350.00</td>
										</tr>
										<tr>
											<td class="strain-name">OREOZ</td>
											<td class="thca">32.46</td>
											<td class="stock">1.27</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,300.00</td>
										</tr>
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/purple-gushers">PURPLE GUSHERS</a></td>
											<td class="thca">31.77</td>
											<td class="stock">0.42</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,300.00</td>
										</tr>
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/purple-runtz">PURPLE RUNTZ</a></td>
											<td class="thca">29.2</td>
											<td class="stock">0.63</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,400.00</td>
										</tr>
										<tr>
											<td class="strain-name">RED CHERRY</td>
											<td class="thca"></td>
											<td class="stock">5.0</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,450.00</td>
										</tr>
									</tbody>
								</table>
							</div>
						</article>
					</div>
				</section>
				<section id="aaa" class="exotics">
					<header>
						<h3 class="center">aaa indoor exotics</h3>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">BLACK ICE EXOTIC</td>
											<td class="thca">24.24</td>
											<td class="stock">0.5</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,350.00</td>
										</tr>
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/bolo-runtz">BOLO RUNTZ</a></td>
											<td class="thca">20.54</td>
											<td class="stock">0.92</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,300.00</td>
										</tr>
										<tr>
											<td class="strain-name">GLITTER BOMB</td>
											<td class="thca">31.56</td>
											<td class="stock">1.5</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,100.00</td>
										</tr>
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/jawbreaker">JAWBREAKER</a></td>
											<td class="thca"></td>
											<td class="stock">2.0</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,300.00</td>
										</tr>
										<tr>
											<td class="strain-name">
											<a href="/indoor-exotics/night-moves">NIGHT MOVES</a></td>
											<td class="thca"></td>
											<td class="stock">3.0</td>
											<td class="reg-price">$1,890.00</td>
											<td class="hidden-deals">$1,450.00</td>
										</tr>
										<tr>
											<td class="strain-name">RASPBERRY CHEEZECAKE</td>
											<td class="thca">30.63</td>
											<td class="stock">1.0</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,200.00</td>
										</tr>
										<tr>
											<td class="strain-name">SHERB BREATH</td>
											<td class="thca"></td>
											<td class="stock">2.75</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,300.00</td>
										</tr>
										<tr>
											<td class="strain-name">WHITE TRUFFLE AAA EXOTIC</td>
											<td class="thca">24.55</td>
											<td class="stock">2.13</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,350.00</td>
										</tr>
									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">DONNIE BERGER</td>
											<td class="thca">29</td>
											<td class="stock">1.69</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,350.00</td>
										</tr>
										<tr>
											<td class="strain-name">JACK HERER</td>
											<td class="thca">33.05</td>
											<td class="stock">7.75</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,300.00</td>
										</tr>
										<tr>
											<td class="strain-name">LEMONHEADS</td>
											<td class="thca">31.27</td>
											<td class="stock">0.92</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,300.00</td>
										</tr>
										<tr>
											<td class="strain-name">MANGO MENTALITY</td>
											<td class="thca">23.93</td>
											<td class="stock">3.0</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,350.00</td>
										</tr>
										<tr>
											<td class="strain-name">ZANGRIA SHERB</td>
											<td class="thca">31.55</td>
											<td class="stock">0.73</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,200.00</td>
										</tr>
									</tbody>
								</table>
							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name"><a href="/indoor-exotics/gelato-33">GELATO 33</a></td>
											<td class="thca">25.72</td>
												<td class="stock">1.5</td>
												<td class="reg-price">$1,790.00</td>
												<td class="hidden-deals">$1,300.00</td>
											</tr>
											<tr>
												<td class="strain-name">RUNTZ</td>
												<td class="thca">27.75</td>
												<td class="stock">10.92</td>
												<td class="reg-price">$1,790.00</td>
												<td class="hidden-deals">$1,300.00</td>
											</tr>
											<tr>
												<td class="strain-name">TROPICANA GELATO</td>
												<td class="thca">30.57</td>
												<td class="stock">2.5</td>
												<td class="reg-price">$1,790.00</td>
												<td class="hidden-deals">$1,050.00</td>
											</tr>
									</tbody>
								</table>
							</div>
						</article>
					</div>
				</section>
			</div>
		</section>
