		<section class="exotics exotics-smalls">
			<div class="exotics-nav">
				<nav class="menu-nav flex-row">
					<a href="#exotic-mediums">Exotic Mediums</a>
					<a href="#exotic-smalls">Exotic Smalls</a>
				</nav>
			</div>
			<div class="padding">

				<section id="exotic-mediums" class="white-bg">
					<header class="flex-row">
						<h3 class="">exotics mediums</h3>
						<div class="more">
							<div class="left">
								<span class="red"><b>Hidden Deals</b></span> {{ metadata.exmediumshd | safe }}<br>
								<span><b>Regular Price</b></span> {{ metadata.exmediumsreg | safe }}
							</div>
						</div>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>

							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">BIG BLACK GORILLA</td>
											<td class="thca">23.42</td>
											<td class="stock">6</td>

										</tr>
										<tr>
											<td class="strain-name">LEMON CHERRY GELATO</td>
											<td class="thca">27.65</td>
											<td class="stock">10.75</td>

										</tr>
										<tr>
											<td class="strain-name">LEMON CHERRY RUNTZ</td>
											<td class="thca"></td>
											<td class="stock">0.6</td>

										</tr>
										<tr>
											<td class="strain-name">LEMON CHERRY RUNTZ - BIO</td>
											<td class="thca">31.26</td>
											<td class="stock">8.64</td>

										</tr>
										<tr>
											<td class="strain-name">PURPLE RUNTZ -BIO</td>
											<td class="thca">30.18</td>
											<td class="stock">0.17</td>

										</tr>

									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">OG - BIO</td>
											<td class="thca">28.39</td>
											<td class="stock">0.79</td>

										</tr>
										<tr>
											<td class="strain-name">TROPICAL GELATO - BIO</td>
											<td class="thca">30.57</td>
											<td class="stock">1.66</td>

										</tr>

									</tbody>
								</table>
							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">CANDY MINTZ - BIO</td>
											<td class="thca">31.25</td>
											<td class="stock">0.71</td>

										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/mediums/gmo-oil/">GMO OIL</a>
											</td>
											<td class="thca">28.51</td>
											<td class="stock">1</td>

										</tr>
										<tr>
											<td class="strain-name">JEALOUSY</td>
											<td class="thca">30.94</td>
											<td class="stock">0.65</td>

										</tr>
										<tr>
											<td class="strain-name">RUNTZ</td>
											<td class="thca">28.39</td>
											<td class="stock">0.51</td>

										</tr>
										<tr>
											<td class="strain-name">WHITE RUNTZ - BIO</td>
											<td class="thca">28.37</td>
											<td class="stock">1.89</td>

										</tr>
									</tbody>
								</table>
							</div>
						</article>
					</div>
				</section>
				<section id="exotic-smalls" class="white-bg">
					<header class="flex-row">
						<h3 class="">exotics smalls</h3>
						<div class="more">
							<div class="left">
								<span class="red"><b>Hidden Deals</b></span> {{ metadata.exsmallshd | safe }}<br>
								<span><b>Regular Price</b></span> {{ metadata.exsmallsreg | safe }}
							</div>
						</div>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>

							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">ACID CREAM</td>
											<td class="thca">29.74</td>
											<td class="stock">0.94</td>

										</tr>
										<tr>
											<td class="strain-name">APPLE MOCHI</td>
											<td class="thca">25.62</td>
											<td class="stock">0.56</td>

										</tr>
										<tr>
											<td class="strain-name">BLUE METEORITE</td>
											<td class="thca">29.62</td>
											<td class="stock">0.46</td>

										</tr>
										<tr>
											<td class="strain-name">BLUE ZLUSHIE</td>
											<td class="thca">28.26</td>
											<td class="stock">0.66</td>

										</tr>
										<tr>
											<td class="strain-name">DIVINE BANANA</td>
											<td class="thca">25.68</td>
											<td class="stock">1</td>

										</tr>
										<tr>
											<td class="strain-name">GASTRO POP</td>
											<td class="thca">28.64</td>
											<td class="stock">0.54</td>

										</tr>
										<tr>
											<td class="strain-name">GUAVA RUNTZ EXOTIC SMALLS</td>
											<td class="thca">28.36</td>
											<td class="stock">0.13</td>

										</tr>
										<tr>
											<td class="strain-name">GUMBO EXOTIC</td>
											<td class="thca">31.48</td>
											<td class="stock">0.41</td>

										</tr>
										<tr>
											<td class="strain-name">HOOD COOKIES</td>
											<td class="thca">29</td>
											<td class="stock">0.14</td>

										</tr>
										<tr>
											<td class="strain-name">ICE CREAM PIE</td>
											<td class="thca">31.76</td>
											<td class="stock">0.28</td>

										</tr>
										<tr>
											<td class="strain-name">JELLY CAKE</td>
											<td class="thca">30.65</td>
											<td class="stock">0.37</td>

										</tr>
										<tr>
											<td class="strain-name">LEMON CHERRY GELATO</td>
											<td class="thca">23.55</td>
											<td class="stock">0.24</td>

										</tr>
										<tr>
											<td class="strain-name">LIFE HACKS</td>
											<td class="thca">28.16</td>
											<td class="stock">0.33</td>

										</tr>
										<tr>
											<td class="strain-name">MJ MINTZ</td>
											<td class="thca">31.17</td>
											<td class="stock">0.46</td>

										</tr>
										<tr>
											<td class="strain-name">NO DRAMA LLAMA</td>
											<td class="thca">32.65</td>
											<td class="stock">0.37</td>

										</tr>
										<tr>
											<td class="strain-name">PEANUT BUTTER SOUFLE</td>
											<td class="thca">31.74</td>
											<td class="stock">0.31</td>

										</tr>
										<tr>
											<td class="strain-name">PERMANENT MARKER</td>
											<td class="thca">28.9</td>
											<td class="stock">0.50</td>

										</tr>
										<tr>
											<td class="strain-name">PINEAPPLE RUNTZ</td>
											<td class="thca">29.02</td>
											<td class="stock">0.88</td>

										</tr>
										<tr>
											<td class="strain-name">RAINBOW BELTZ</td>
											<td class="thca"></td>
											<td class="stock">0.24</td>

										</tr>
										<tr>
											<td class="strain-name">SHERB BREATH</td>
											<td class="thca"></td>
											<td class="stock">1</td>

										</tr>
										<tr>
											<td class="strain-name">SHERBERT</td>
											<td class="thca">29.26</td>
											<td class="stock">0.18</td>

										</tr>
										<tr>
											<td class="strain-name">SHIRLEY TEMPLE</td>
											<td class="thca"></td>
											<td class="stock">0.21</td>

										</tr>
										<tr>
											<td class="strain-name">VIOLET MEADOWS</td>
											<td class="thca"></td>
											<td class="stock">0.44</td>

										</tr>
										<tr>
											<td class="strain-name">WHITE TRUFFLE</td>
											<td class="thca">24.55</td>
											<td class="stock">1</td>

										</tr>
									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">CEREAL MILK</td>
											<td class="thca">35.49</td>
											<td class="stock">0.49</td>

										</tr>
										<tr>
											<td class="strain-name">GARLIC COCKTAIL</td>
											<td class="thca">36</td>
											<td class="stock">0.34</td>

										</tr>
										<tr>
											<td class="strain-name">HONEY GUAVA</td>
											<td class="thca">30</td>
											<td class="stock">0.97</td>

										</tr>
										<tr>
											<td class="strain-name">JET BLUE</td>
											<td class="thca"></td>
											<td class="stock">0.28</td>

										</tr>
										<tr>
											<td class="strain-name">JET FUEL</td>
											<td class="thca">33.08</td>
											<td class="stock">0.38</td>

										</tr>
										<tr>
											<td class="strain-name">LEMON LARRY</td>
											<td class="thca">29.22</td>
											<td class="stock">0.23</td>

										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor-exotics/smalls/mango-dream-smalls">MANGO DREAM SMALLS</a>
											</td>
											<td class="thca"></td>
											<td class="stock">0.69</td>

										</tr>
										<tr>
											<td class="strain-name">OG - BIO</td>
											<td class="thca">27.34</td>
											<td class="stock">0.89</td>

										</tr>
										<tr>
											<td class="strain-name">PINK ROZAY</td>
											<td class="thca">31.84</td>
											<td class="stock">0.57</td>

										</tr>
										<tr>
											<td class="strain-name">PURPLE MILK</td>
											<td class="thca">27</td>
											<td class="stock">0.25</td>

										</tr>
										<tr>
											<td class="strain-name">PURPLE STICKY PUNCH</td>
											<td class="thca"></td>
											<td class="stock">0.08</td>

										</tr>

										<tr>
											<td class="strain-name">STRAWBERRY KUSH</td>
											<td class="thca">28.66</td>
											<td class="stock">0.25</td>

										</tr>
										<tr>
											<td class="strain-name">TROPICAL CHERRY EXOTIC</td>
											<td class="thca"></td>
											<td class="stock">0.37</td>

										</tr>
										<tr>
											<td class="strain-name">TROPICAL RUNTZ</td>
											<td class="thca"></td>
											<td class="stock">0.19</td>

										</tr>
									</tbody>
								</table>
							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">BLOCKBERRY</td>
											<td class="thca"></td>
											<td class="stock">0.24</td>

										</tr>
										<tr>
											<td class="strain-name">CARRIBEAN</td>
											<td class="thca"></td>
											<td class="stock">0.53</td>

										</tr>
										<tr>
											<td class="strain-name">CHERRY LIMEADE</td>
											<td class="thca">30.36</td>
											<td class="stock">0.34</td>

										</tr>
										<tr>
											<td class="strain-name">GRAPE GAS</td>
											<td class="thca">28.99</td>
											<td class="stock">0.99</td>

										</tr>
										<tr>
											<td class="strain-name">LUXXE RUNTZ</td>
											<td class="thca">33.29</td>
											<td class="stock">0.2</td>

										</tr>
										<tr>
											<td class="strain-name">OREOZ</td>
											<td class="thca">31.29</td>
											<td class="stock">0.79</td>

										</tr>
										<tr>
											<td class="strain-name">RED RUNTZ</td>
											<td class="thca">30.99</td>
											<td class="stock">0.50</td>

										</tr>
										<tr>
											<td class="strain-name">TANGYLAND</td>
											<td class="thca">31.56</td>
											<td class="stock">0.50</td>

										</tr>
										<tr>
											<td class="strain-name">THIN MINT COOKIES</td>
											<td class="thca"></td>
											<td class="stock">0.30</td>

										</tr>
									</tbody>
								</table>
							</div>
						</article>
					</div>
				</section>
			</div>
		</section>
