		<section class="exotics exotics-smalls">
			<div class="exotics-nav">
				<nav class="menu-nav flex-row">
					<a href="#exotic-mediums">Exotic Mediums</a>
					<a href="#exotic-smalls">Exotic Smalls</a>
				</nav>
			</div>
			<div class="padding">

				<section id="exotic-mediums" class="">
					<header class="flex-row">
						<h3 class="">exotics mediums</h3>
						<div class="price-compare flex-row">
							<div class="center hd">
								<h5>Hidden Deals</h5>
								<span> {{ metadata.exmediumshd | safe }}
								</span>
							</div>
							<div class="center reg">
								<div class="inner-reg">
									<h5>Regular Price</h5>
									<span>{{ metadata.exmediumsreg | safe }}</span>
								</div>
							</div>
						</div>

					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>

							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">


										<tr>
											<td class="strain-name">LEMON CHERRY RUNTZ - BIO</td>
											<td class="thca">31.26</td>
											<td class="stock">2.99</td>

										</tr>

									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas visually-hidden">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name"></td>
											<td class="thca">28.39</td>
											<td class="stock">1.07</td>

										</tr>


									</tbody>
								</table>
							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">

										<tr>
											<td class="strain-name">WHITE RUNTZ - BIO</td>
											<td class="thca">28.37</td>
											<td class="stock">0.88</td>

										</tr>
									</tbody>
								</table>
							</div>
						</article>
					</div>
				</section>
				<section id="exotic-smalls" class="">
					<header class="flex-row">
						<h3 class="">exotics smalls</h3>
						<div class="price-compare flex-row">
							<div class="center hd">
								<h5>Hidden Deals</h5>
								<span> {{ metadata.exsmallshd | safe }}
								</span>
							</div>
							<div class="center reg">
								<div class="inner-reg">
									<h5>Regular Price</h5>
									<span>{{ metadata.exsmallsreg | safe }}</span>
								</div>
							</div>
						</div>



					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>

							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">

										<tr>
											<td class="strain-name">PURPLE PUNCH</td>
											<td class="thca">22.68</td>
											<td class="stock">0.51</td>

										</tr>
									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">

										<tr>
											<td class="strain-name">JET FUEL</td>
											<td class="thca">33.08</td>
											<td class="stock">0.38</td>

										</tr>

									</tbody>
								</table>
							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">

										<tr>
											<td class="strain-name">THIN MINT COOKIES</td>
											<td class="thca"></td>
											<td class="stock">0.3</td>

										</tr>
									</tbody>
								</table>
							</div>
						</article>
					</div>
				</section>
			</div>
		</section>
