		<section class="indoor indoor-smalls">
			<div class="indoor-nav">
				<nav class="menu-nav flex-row">
					<a href="#aa-indoor-smalls">AA Indoor Smalls</a>
					<a href="#a-indoor-smalls">A Indoor Smalls</a>
				</nav>
			</div>
			<div class="padding">
				<section id="aa-indoor-smalls" class="exotics">
					<header>
						<h3 class="center">aa indoor smalls</h3>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>

							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">None available</td>
										</tr>
									</tbody>
								</table>

							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">None available</td>
										</tr>
									</tbody>
								</table>

							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">None available</td>
										</tr>
									</tbody>
								</table>

							</div>
						</article>
					</div>
				</section>
				<section id="a-indoor-smalls" class="exotics">
					<header>
						<h3 class="center">a indoor smalls</h3>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>

							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">GUSHER MINTZ</td>
											<td class="thca">28.51</td>
											<td class="stock">1.9</td>
											<td class="reg-price">$1,090.00</td>
											<td class="hidden-deals">$750.00</td>
										</tr>
										<tr>
											<td class="strain-name">JELLY CAKE</td>
											<td class="thca">30.65</td>
											<td class="stock">1</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$890.00</td>
										</tr>
										<tr>
											<td class="strain-name">GASTRO POP</td>
											<td class="thca">28.64</td>
											<td class="stock">0.54</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$890.00</td>
										</tr>
										<tr>
											<td class="strain-name">BISCOTTI SMALLS</td>
											<td class="thca">31.8</td>
											<td class="stock">0.39</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$890.00</td>
										</tr>
										<tr>
											<td class="strain-name">DONTE'S INFERNO</td>
											<td class="thca">35.97</td>
											<td class="stock">0.3</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$890.00</td>
										</tr>
										<tr>
											<td class="strain-name">ICE CREAM PIE</td>
											<td class="thca">31.76</td>
											<td class="stock">0.28</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$890.00</td>
										</tr>
										<tr>
											<td class="strain-name">GELATO TRUFFLE</td>
											<td class="thca"></td>
											<td class="stock">0.5</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$890.00</td>
										</tr>
										<tr>
											<td class="strain-name">NO DRAMA LLAMA</td>
											<td class="thca">32.65</td>
											<td class="stock">0.45</td>
											<td class="reg-price">$1390.00</td>
											<td class="hidden-deals">$975.00</td>
										</tr>
									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">ILLEMONATI</td>
											<td class="thca">31.05</td>
											<td class="stock">1.5</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$825.00</td>
										</tr>
									</tbody>
								</table>

							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
										<tr>
											<td class="strain-name">CARRIBBEAN</td>
											<td class="thca"></td>
											<td class="stock">0.53</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$890.00</td>
										</tr>
										<tr>
											<td class="strain-name">TANGYLAND</td>
											<td class="thca">31.58</td>
											<td class="stock">0.5</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$890.00</td>
										</tr>
										<tr>
											<td class="strain-name">THIN MINT COOKIES</td>
											<td class="thca"></td>
											<td class="stock">0.3</td>
											<td class="reg-price">$1390.00</td>
											<td class="hidden-deals">$950.00</td>
										</tr>
										</tr>
									</tbody>
								</table>

							</div>
						</article>
					</div>
				</section>
			</div>
		</section>
