		<section class="indoor">
	<div class="indoor-nav">
		<nav class="menu-nav flex-row">
			<a href="#aa-indoor">AA Indoor</a>
			<a href="#a-indoor">A Indoor</a>
			<a href="#prem-plus">Premium AAA+ Indoor</a>
		</nav>
	</div>
	<div class="padding">
		<section id="aa-indoor" class="exotics">
			<header>
				<h3 class="center">aa indoor</h3>
			</header>
					<div class="flex-row">
				<article class="indicas">
					<header class="profile-header">
						<h4 class="center">Indica</h4>
					</header>

					<div class="strain-body" role="region" tabindex="0">
						<table>
							<thead>
								<tr>
									<th class="left">Strains</th>
									<th>THCa</th>
									<th>Stock</th>
									<th>Reg</th>
									<th>Hidden Deals</th>
								</tr>
							</thead>
							<tbody class="strain">
							<tr>
								<td class="strain-name">
									<a href="/indoor/cadillac-rainbow">CADILLAC RAINBOW</a>
								</td>
								<td class="thca">30.81</td>
								<td class="stock">5</td>
								<td class="reg-price">$1,590.00</td>
								<td class="hidden-deals">$1,050.00</td>
							</tr>
								<tr>
									<td class="strain-name">JOKERS CANDY</td>
									<td class="thca">29.71</td>
									<td class="stock">1</td>
									<td class="reg-price">$1,590.00</td>
									<td class="hidden-deals">$1,050.00</td>
								</tr>
								<tr>
									<td class="strain-name">Lemon Cherry Runtz</td>
									<td class="thca">26.12</td>
									<td class="stock">5</td>
									<td class="reg-price">$1,590.00</td>
									<td class="hidden-deals">$1,075.00</td>
								</tr>
							</tbody>
						</table>
					</div>

				</article>

				<article class="sativas">
					<header class="profile-header">
						<h4 class="center">Sativa</h4>
					</header>
					<div class="strain-body" role="region" tabindex="0">
						<table>
							<thead>
								<tr>
									<th class="left">Strains</th>
									<th>THCa</th>
									<th>Stock</th>
									<th>Reg</th>
									<th>Hidden Deals</th>
								</tr>
							</thead>
							<tbody class="strain">
								<tr>
									<td class="strain-name">
									<a href="/indoor/lemon-pie">LEMON PIE</a>
								</td>
									<td class="thca"></td>
									<td class="stock">0.66</td>
									<td class="reg-price">$1,590.00</td>
									<td class="hidden-deals">$900.00</td>
								</tr>
								<tr>
									<td class="strain-name">PINEAPPLE EXPRESS AA</td>
									<td class="thca">30.94</td>
									<td class="stock">1.25</td>
									<td class="reg-price">$1,590.00</td>
									<td class="hidden-deals">$1,050.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/pink-runtz">PINK RUNTZ</a>
								</td>
									<td class="thca">30.87</td>
									<td class="stock">4.19</td>
									<td class="reg-price">$1,590.00</td>
									<td class="hidden-deals">$850.00</td>
								</tr>
							</tbody>
						</table>
					</div>
				</article>

				<article class="hybrids">
					<header class="profile-header">
						<h4 class="center">Hybrid</h4>
					</header>
					<div class="strain-body" role="region" tabindex="0">
						<table>
							<thead>
								<tr>
									<th class="left">Strains</th>
									<th>THCa</th>
									<th>Stock</th>
									<th>Reg</th>
									<th>Hidden Deals</th>
								</tr>
							</thead>
							<tbody class="strain">
							<tr>
								<td class="strain-name">HIGH SOCIETY</td>
								<td class="thca"></td>
								<td class="stock">5.84</td>
								<td class="reg-price">$1,590.00</td>
								<td class="hidden-deals">$850.00</td>
							</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/jealousy">Jealousy</a>
								</td>
									<td class="thca">30.94</td>
									<td class="stock">3.37</td>
									<td class="reg-price">$1,590.00</td>
									<td class="hidden-deals">$1,050.00</td>
								</tr>
								<tr>
									<td class="strain-name">SUPER RUNTZ</td>
									<td class="thca">30.94</td>
									<td class="stock">0.69</td>
									<td class="reg-price">$1,590.00</td>
									<td class="hidden-deals">$950.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/yellow-mermaid">YELLOW MERMAID</a></td>
									<td class="thca">27.87</td>
									<td class="stock">1.91</td>
									<td class="reg-price">$1,590.00</td>
									<td class="hidden-deals">$975.00</td>
								</tr>
							</tbody>
						</table>
					</div>
				</article>
			</div>
		</section>
		<section id="a-indoor" class="exotics">
			<header>
				<h3 class="center">a indoor</h3>
			</header>
					<div class="flex-row">
				<article class="indicas">
					<header class="profile-header">
						<h4 class="center">Indica</h4>
					</header>

					<div class="strain-body" role="region" tabindex="0">
						<table>
							<thead>
								<tr>
									<th class="left">Strains</th>
									<th>THCa</th>
									<th>Stock</th>
									<th>Reg</th>
									<th>Hidden Deals</th>
								</tr>
							</thead>
							<tbody class="strain">
								<tr>
									<td class="strain-name">BISCOTTI</td>
									<td class="thca">31.8</td>
									<td class="stock">0.56</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$900.00</td>
								</tr>
								<tr>
									<td class="strain-name">CHERRY CREAM</td>
									<td class="thca">29.06</td>
									<td class="stock">1</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$975.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/georgia-cream-pie">GEORGIA CREAM PIE</a>
								</td>
									<td class="thca">23.68</td>
									<td class="stock">3.13</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$850.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/golden-cash">GOLDEN CASH</a>
								</td>
									<td class="thca">28.74</td>
									<td class="stock">9.19</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$890.00</td>
								</tr>
								<tr>
									<td class="strain-name">GRAPPLE CAKE</td>
									<td class="thca">23.74</td>
									<td class="stock">0.06</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$750.00</td>
								</tr>
								<tr>
									<td class="strain-name">GUSHER MINTZ</td>
									<td class="thca">28.51</td>
									<td class="stock">5</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$950.00</td>
								</tr>
								<tr>
									<td class="strain-name">IBIZA</td>
									<td class="thca"></td>
									<td class="stock">1</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$1,150.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/ice-cream-pie">ICE CREAM PIE</a>
								</td>
									<td class="thca">31.76</td>
									<td class="stock">0.69</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$975.00</td>
								</tr>
								<tr>
									<td class="strain-name">JELLY BREATH</td>
									<td class="thca">30.25</td>
									<td class="stock">1.5</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$825.00</td>
								</tr>
								<tr>
									<td class="strain-name">Jelly Cake</td>
									<td class="thca">30.65</td>
									<td class="stock">1</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$975.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/no-drama-llama">NO DRAMA LLAMA</a>
								</td>
									<td class="thca">32.65</td>
									<td class="stock">1.25</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$975.00</td>
								</tr>
								<tr>
									<td class="strain-name">PEANUT BUTTER AND JELLY</td>
									<td class="thca">29.01</td>
									<td class="stock">1</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$890.00</td>
								</tr>
								<tr>
									<td class="strain-name">Permanent Marker A Indoor</td>
									<td class="thca">28.11</td>
									<td class="stock">3.75</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$875.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/white-cherry-gelato">WHITE CHERRY GELATO</a>
								</td>
									<td class="thca"></td>
									<td class="stock">1</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$850.00</td>
								</tr>

							</tbody>
						</table>
					</div>

				</article>

				<article class="sativas">
					<header class="profile-header">
						<h4 class="center">Sativa</h4>
					</header>
					<div class="strain-body" role="region" tabindex="0">
						<table>
							<thead>
								<tr>
									<th class="left">Strains</th>
									<th>THCa</th>
									<th>Stock</th>
									<th>Reg</th>
									<th>Hidden Deals</th>
								</tr>
							</thead>
							<tbody class="strain">
								<tr>
									<td class="strain-name">
									<a href="/indoor/cherry-punch">CHERRY PUNCH</a>
								</td>
									<td class="thca">29.32</td>
									<td class="stock">2.19</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$925.00</td>
								</tr>
								<tr>
									<td class="strain-name">ZEREAL MILK A INDOOR</td>
									<td class="thca"></td>
									<td class="stock">0.78</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$875.00</td>
								</tr>
							</tbody>
						</table>
					</div>
				</article>

				<article class="hybrids">
					<header class="profile-header">
						<h4 class="center">Hybrid</h4>
					</header>
					<div class="strain-body" role="region" tabindex="0">
						<table>
							<thead>
								<tr>
									<th class="left">Strains</th>
									<th>THCa</th>
									<th>Stock</th>
									<th>Reg</th>
									<th>Hidden Deals</th>
								</tr>
							</thead>
							<tbody class="strain">
								<tr>
									<td class="strain-name">CANDY RUNTZ</td>
									<td class="thca">29.63</td>
									<td class="stock">0.2</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$775.00</td>
								</tr>
								<tr>
									<td class="strain-name">CHEM DAWG ORGANIC</td>
									<td class="thca">29.25</td>
									<td class="stock">1.16</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$875.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/gorilla-glue-4">GORILLA GLUE #4 A INDOOR</a>
								</td>
									<td class="thca">29.91</td>
									<td class="stock">0.75</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$875.00</td>
								</tr>
								<tr>
									<td class="strain-name">GOVERNMENT OASIS ORGANIC</td>
									<td class="thca">31.15</td>
									<td class="stock">1.73</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$850.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/ice-king">ICE KING</a>
								</td>
									<td class="thca"></td>
									<td class="stock">0.44</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$750.00</td>
								</tr>
								<tr>
									<td class="strain-name">Mochi Gelato</td>
									<td class="thca">23.53</td>
									<td class="stock">0.84</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$950.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/mochi-runtz">MOCHI RUNTZ</a>
								</td>
									<td class="thca">29.13</td>
									<td class="stock">0.25</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$750.00</td>
								</tr>

								<tr>
									<td class="strain-name">
									<a href="/indoor/runtz">RUNTZ A INDOOR New</a>
								</td>
									<td class="thca">29.24</td>
									<td class="stock">6</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$990.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/tangyland">TANGYLAND A INDOOR</a>
								</td>
									<td class="thca">31.56</td>
									<td class="stock">0.76</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$950.00</td>
								</tr>
								<tr>
									<td class="strain-name">THIN MINT COOKIES</td>
									<td class="thca"></td>
									<td class="stock">0.84</td>
									<td class="reg-price">$1,390.00</td>
									<td class="hidden-deals">$950.00</td>
								</tr>
							</tbody>
						</table>
					</div>
				</article>
			</div>
		</section>
		<section id="prem-plus" class="exotics">
			<header>
				<h3 class="center">premium aaa+ indoor</h3>
			</header>
					<div class="flex-row">
				<article class="indicas">
					<header class="profile-header">
						<h4 class="center">Indica</h4>
					</header>

					<div class="strain-body" role="region" tabindex="0">
						<table>
							<thead>
								<tr>
									<th class="left">Strains</th>
									<th>THCa</th>
									<th>Stock</th>
									<th>Reg</th>
									<th>Hidden Deals</th>
								</tr>
							</thead>
							<tbody class="strain">
								<tr>
									<td class="strain-name">
									<a href="/indoor/black-biscotti">BLACK BISCOTTI</a>
								</td>
									<td class="thca">29.59</td>
									<td class="stock">5.21</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$775.00</td>
								</tr>
								<tr>
									<td class="strain-name">BLUE COOKIES</td>
									<td class="thca">27.93</td>
									<td class="stock">0.75</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$790.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/cherry-pie">CHERRY PIE</a>
								</td>
									<td class="thca">28.41</td>
									<td class="stock">16.34</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$850.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/gelato-truffle">GELATO TRUFFLE</a>
								</td>
									<td class="thca">31.95</td>
									<td class="stock">1.91</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$775.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/gush-candy">GUSH CANDY</a>
								</td>
									<td class="thca">27.92</td>
									<td class="stock">5</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$775.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/italian-icee">ITALIAN ICEE</a>
								</td>
									<td class="thca">29.54</td>
									<td class="stock">3</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$775.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/lemon-cherry-gelato">LEMON CHERRY GELATO</a>
								</td>
									<td class="thca">27.65</td>
									<td class="stock">20.5</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$775.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/modified-grapes">MODIFIED GRAPES</a>
								</td>
									<td class="thca">28.55</td>
									<td class="stock">5.59</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$725.00</td>
								</tr>
								<tr>
									<td class="strain-name">STRAWBERRY PINEAPPLE SHORTCAKE</td>
									<td class="thca">29.59</td>
									<td class="stock">0.75</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$775.00</td>
								</tr>
								<tr>
									<td class="strain-name">SUPER GLUE</td>
									<td class="thca">28.48</td>
									<td class="stock">3.46</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$750.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/wedding-cake">WEDDING CAKE</a>
								</td>
									<td class="thca">29.36</td>
									<td class="stock">9.15</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$850.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/white-gelato">WHITE GELATO</a>
								</td>
									<td class="thca">20.35</td>
									<td class="stock">14.5</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$850.00</td>
								</tr>

							</tbody>
						</table>
					</div>

				</article>

				<article class="sativas">
					<header class="profile-header">
						<h4 class="center">Sativa</h4>
					</header>
					<div class="strain-body" role="region" tabindex="0">
						<table>
							<thead>
								<tr>
									<th class="left">Strains</th>
									<th>THCa</th>
									<th>Stock</th>
									<th>Reg</th>
									<th>Hidden Deals</th>
								</tr>
							</thead>
							<tbody class="strain">
								<tr>
									<td class="strain-name">CALI OG</td>
									<td class="thca">31.63</td>
									<td class="stock">1.22</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$850.00</td>
								</tr>
								<tr>
									<td class="strain-name">CALI SHERB</td>
									<td class="thca">28.61</td>
									<td class="stock">1</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$775.00</td>
								</tr>
								<tr>
									<td class="strain-name">GUM DROPS</td>
									<td class="thca">29.36</td>
									<td class="stock">0.19</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$750.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/ice-pops">ICE POPS</a></td>
									<td class="thca">30.94</td>
									<td class="stock">16.88</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$775.00</td>
								</tr>
								<tr>
									<td class="strain-name">JACK DIESEL</td>
									<td class="thca">30.14</td>
									<td class="stock">0.63</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$790.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/lambs-breath">LAMBS BREATH</a>
								</td>
									<td class="thca">30.74</td>
									<td class="stock">2.69</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$775.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/limonada">LIMONADA</a>
								</td>
									<td class="thca">26.78</td>
									<td class="stock">4.5</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$790.00</td>
								</tr>
								<tr>
									<td class="strain-name">SOUR DIESEL</td>
									<td class="thca">32.18</td>
									<td class="stock">1.47</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$750.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/super-boof">SUPER BOOF</a>
								</td>
									<td class="thca">23.82</td>
									<td class="stock">9.67</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$775.00</td>
								</tr>
								<tr>
									<td class="strain-name">
									<a href="/indoor/tropicana-cherry">TROPICANA CHERRY</a>
								</td>
									<td class="thca">31.7</td>
									<td class="stock">10.38</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$790.00</td>
								</tr>
								<tr>
									<td class="strain-name">WHITE LOTUS</td>
									<td class="thca">28.76</td>
									<td class="stock">1</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$750.00</td>
								</tr>
							</tbody>
						</table>
					</div>
				</article>

				<article class="hybrids">
					<header class="profile-header">
						<h4 class="center">Hybrid</h4>
					</header>
					<div class="strain-body" role="region" tabindex="0">
						<table>
							<thead>
								<tr>
									<th class="left">Strains</th>
									<th>THCa</th>
									<th>Stock</th>
									<th>Reg</th>
									<th>Hidden Deals</th>
								</tr>
							</thead>
							<tbody class="strain">
								<tr>
									<td class="strain-name">GARY PAYTON+</td>
									<td class="thca">29.49</td>
									<td class="stock">1.14</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$790.00</td>
								</tr>
								<tr>
									<td class="strain-name">GRANDDADDY GLUE</td>
									<td class="thca">28.17</td>
									<td class="stock">1.25</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$750.00</td>
								</tr>
								<tr>
									<td class="strain-name">QUIMERA</td>
									<td class="thca">22.06</td>
									<td class="stock">1.38</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$750.00</td>
								</tr>
								<tr>
									<td class="strain-name">RUNTZ</td>
									<td class="thca">27.75</td>
									<td class="stock">2.47</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$650.00</td>
								</tr>
								<tr>
									<td class="strain-name">SWEET TART</td>
									<td class="thca">29.12</td>
									<td class="stock">0.34</td>
									<td class="reg-price">$1,190.00</td>
									<td class="hidden-deals">$750.00</td>
								</tr>

							</tbody>
						</table>
					</div>
				</article>
			</div>
		</section>
	</div>
</section>
