		<section class="indoor indoor-smalls">
	<div class="indoor-nav">
		<nav class="menu-nav flex-row">
			<a href="#aa-indoor-smalls">AA Indoor Smalls</a>
			<a href="#a-indoor-smalls">A Indoor Smalls</a>
		</nav>
	</div>
	<div class="padding">
		<section id="aa-indoor-smalls" class="exotics">
			<header>
				<h3 class="center">aa indoor smalls</h3>
			</header>
			<div class="grid">
				<article class="indicas">
					<header class="profile-header">
						<h4 class="center">Indica</h4>
					</header>

					<div class="strain-body" role="region" tabindex="0">
						<p class="center">None available</p>

					</div>

				</article>

				<article class="sativas">
					<header class="profile-header">
						<h4 class="center">Sativa</h4>
					</header>
					<div class="strain-body" role="region" tabindex="0">
						<p class="center">None available</p>

					</div>
				</article>

				<article class="hybrids">
					<header class="profile-header">
						<h4 class="center">Hybrid</h4>
					</header>
					<div class="strain-body" role="region" tabindex="0">
						<p class="center">None available</p>

					</div>
				</article>
			</div>
		</section>
		<section id="a-indoor-smalls" class="exotics">
			<header>
				<h3 class="center">a indoor smalls</h3>
			</header>
			<div class="grid">
				<article class="indicas">
					<header class="profile-header">
						<h4 class="center">Indica</h4>
					</header>

					<div class="strain-body" role="region" tabindex="0">
						<table>
							<thead>
								<tr>
									<th class="left">Strains</th>
									<th>THCa</th>
									<th>Stock</th>
									<th>Reg</th>
									<th>Hidden Deals</th>
								</tr>
							</thead>
							<tbody class="strain">
								<tr>
									<td class="strain-name">GUSHER MINTZ</td>
									<td class="thca">28.51</td>
									<td class="stock">1.93</td>
									<td class="reg-price">$1,090.00</td>
									<td class="hidden-deals">$750.00</td>
								</tr>
							</tbody>
						</table>
					</div>

				</article>

				<article class="sativas">
					<header class="profile-header">
						<h4 class="center">Sativa</h4>
					</header>
					<div class="strain-body" role="region" tabindex="0">
						<p class="center">None available</p>

					</div>
				</article>

				<article class="hybrids">
					<header class="profile-header">
						<h4 class="center">Hybrid</h4>
					</header>
					<div class="strain-body" role="region" tabindex="0">
						<p class="center">None available</p>

					</div>
				</article>
			</div>
		</section>
	</div>
</section>
