		<section class="indoor indoor-smalls">
			<div class="indoor-nav">
				<nav class="menu-nav flex-row">
					<a href="#aa-indoor-smalls">AA Indoor Smalls</a>
					<a href="#a-indoor-smalls">A Indoor Smalls</a>
				</nav>
			</div>
			<div class="padding">
				<section id="aa-indoor-smalls" class="exotics">
					<header>
						<h3 class="center">aa indoor smalls</h3>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>

							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">DONTE'S INFERNO</td>
											<td class="thca">35.97</td>
											<td class="stock">0.45</td>
											<td class="reg-price">$1,190</td>
											<td class="hidden-deals">$1,035.30</td>
										</tr>
										<tr>
											<td class="strain-name">SECRET COOKIES</td>
											<td class="thca">29</td>
											<td class="stock">0.45</td>
											<td class="reg-price">$1,190</td>
											<td class="hidden-deals">$1,035.30</td>
										</tr>
									</tbody>
								</table>

							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">PINK RUNTZ</td>
											<td class="thca">30.87</td>
											<td class="stock">0.75</td>
											<td class="reg-price">$1,190</td>
											<td class="hidden-deals">$1,035.30</td>
										</tr>
										<tr>
											<td class="strain-name">SHERBALATO</td>
											<td class="thca">27.23</td>
											<td class="stock">0.09</td>
											<td class="reg-price">$1,190</td>
											<td class="hidden-deals">$1,035.30</td>
										</tr>
									</tbody>
								</table>

							</div>
						</article>

						<article class="hybrids visually-hidden">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">None available</td>
										</tr>
									</tbody>
								</table>

							</div>
						</article>
					</div>
				</section>
				<section id="a-indoor-smalls" class="exotics">
					<header>
						<h3 class="center">a indoor smalls</h3>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>

							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">GELATO TRUFFLE</td>
											<td class="thca"></td>
											<td class="stock">0.50</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$861.30</td>
										</tr>
										<tr>
											<td class="strain-name">BISCOTTI SMALLS</td>
											<td class="thca">31.8</td>
											<td class="stock">0.14</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$861.30</td>
										</tr>
										<tr>
											<td class="strain-name">GUSHER MINTZ</td>
											<td class="thca">28.51</td>
											<td class="stock">1.9</td>
											<td class="reg-price">$1,090.00</td>
											<td class="hidden-deals">$948.30</td>
										</tr>
										<tr>
											<td class="strain-name">PEANUT BUTTER AND JELLY</td>
											<td class="thca">29.01</td>
											<td class="stock">1</td>
											<td class="reg-price">$1,090.00</td>
											<td class="hidden-deals">$948.30</td>
										</tr>
										<tr>
											<td class="strain-name">ZEREAL</td>
											<td class="thca"></td>
											<td class="stock">1.9</td>
											<td class="reg-price">$1,090.00</td>
											<td class="hidden-deals">$948.30</td>
										</tr>
										<tr>
											<td class="strain-name">TIRAMASU</td>
											<td class="thca">28.92</td>
											<td class="stock">0.20</td>
											<td class="reg-price">$1,090.00</td>
											<td class="hidden-deals">$948.30</td>
										</tr>
									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">ZEREAL MILK</td>
											<td class="thca"></td>
											<td class="stock">0.77</td>
											<td class="reg-price">$1,090.00</td>
											<td class="hidden-deals">$948.30</td>
										</tr>
										<tr>
											<td class="strain-name">TROPICANA COOLER</td>
											<td class="thca">24.15</td>
											<td class="stock">0.18</td>
											<td class="reg-price">$1,790.00</td>
											<td class="hidden-deals">$1,557.30</td>
										</tr>
									</tbody>
								</table>

							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
										<tr>
											<td class="strain-name">CARRIBBEAN</td>
											<td class="thca"></td>
											<td class="stock">0.53</td>
											<td class="reg-price">$625</td>
											<td class="hidden-deals">$543.75</td>
										</tr>
										<tr>
											<td class="strain-name">TANGYLAND</td>
											<td class="thca">31.58</td>
											<td class="stock">0.5</td>
											<td class="reg-price">$625</td>
											<td class="hidden-deals">$543.75</td>
										</tr>
										<tr>
											<td class="strain-name">THIN MINT COOKIES</td>
											<td class="thca"></td>
											<td class="stock">0.3</td>
											<td class="reg-price">$625</td>
											<td class="hidden-deals">$543.75</td>
										</tr>
										</tr>
									</tbody>
								</table>

							</div>
						</article>
					</div>
				</section>
			</div>
		</section>
