		<section class="indoor">
			<div class="indoor-nav">
				<nav class="menu-nav flex-row">
					<a href="#aa-indoor">AA Indoor</a>
					<a href="#a-indoor">A Indoor</a>
					<a href="#prem-plus">Premium AAA+ Indoor</a>
				</nav>
			</div>
			<div class="padding">
				<section id="aa-indoor" class="exotics">
					<header>
						<h3 class="center">aa indoor</h3>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>

							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">

										<tr>
											<td class="strain-name">
												<a href="/indoor/cadillac-rainbow">CADILLAC RAINBOW</a>
											</td>
											<td class="thca">30.81</td>
											<td class="stock">1</td>
											<td class="reg-price">$1,590.00</td>
											<td class="hidden-deals">$1,383.30</td>
										</tr>
										<tr>
											<td class="strain-name">CANDY GELATO</td>
											<td class="thca">33.33</td>
											<td class="stock">0.13</td>
											<td class="reg-price">$1,590.00</td>
											<td class="hidden-deals">$1,383.30</td>
										</tr>
									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">
												<a href="/indoor/pink-runtz">PINK RUNTZ</a>
											</td>
											<td class="thca">30.87</td>
											<td class="stock">4.19</td>
											<td class="reg-price">$1,590.00</td>
											<td class="hidden-deals">$1,383.30</td>
										</tr>

										<tr>
											<td class="strain-name">SHERBACCIO</td>
											<td class="thca">28.77</td>
											<td class="stock">0.22</td>
											<td class="reg-price">$1,590.00</td>
											<td class="hidden-deals">$1,383.30</td>
										</tr>

									</tbody>
								</table>
							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name"><a href="/indoor/runtz-aa">RUNTZ</a></td>
											<td class="thca"></td>
											<td class="stock">5.5</td>
											<td class="reg-price">$1,590.00</td>
											<td class="hidden-deals">$1,383.30</td>
										</tr>
										<tr>
											<td class="strain-name">SUPER RUNTZ</td>
											<td class="thca">30.94</td>
											<td class="stock">0.69</td>
											<td class="reg-price">$1,590.00</td>
											<td class="hidden-deals">$1,383.30</td>
										</tr>
									</tbody>
								</table>
							</div>
						</article>
					</div>
				</section>
				<section id="a-indoor" class="exotics">
					<header>
						<h3 class="center">a indoor</h3>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>

							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">


										<tr>
											<td class="strain-name">
												<a href="/indoor/georgia-cream-pie">GEORGIA CREAM PIE</a>
											</td>
											<td class="thca">23.68</td>
											<td class="stock">3.13</td>
											<td class="reg-price">$1,390.00</td>
											<td class="hidden-deals">$1209.30</td>
										</tr>
										<tr>
											<td class="strain-name">Jelly Cake</td>
											<td class="thca">30.65</td>
											<td class="stock">0.85</td>
											<td class="reg-price">$1,390.00</td>
											<td class="hidden-deals">$1209.30</td>
										</tr>
									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas visually-hidden">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<td>none available</td>
									</tbody>
								</table>
							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">

										<tr>
											<td class="strain-name">
												<a href="/indoor/tangyland">TANGYLAND A INDOOR</a>
											</td>
											<td class="thca">31.56</td>
											<td class="stock">0.76</td>
											<td class="reg-price">$1,390.00</td>
											<td class="hidden-deals">$1,209.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor/gorilla-glue-4">GORILLA GLUE #4 A INDOOR</a>
											</td>
											<td class="thca">29.91</td>
											<td class="stock">0.75</td>
											<td class="reg-price">$1,390.00</td>
											<td class="hidden-deals">$1,209.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor/ice-king">ICE KING</a>
											</td>
											<td class="thca"></td>
											<td class="stock">0.44</td>
											<td class="reg-price">$1,390.00</td>
											<td class="hidden-deals">$1,209.30</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/indoor/mochi-runtz">MOCHI RUNTZ</a>
											</td>
											<td class="thca">29.13</td>
											<td class="stock">0.25</td>
											<td class="reg-price">$1,390.00</td>
											<td class="hidden-deals">$1,209.30</td>
										</tr>
										<tr>
											<td class="strain-name">CANDY RUNTZ</td>
											<td class="thca">29.63</td>
											<td class="stock">0.2</td>
											<td class="reg-price">$1,390.00</td>
											<td class="hidden-deals">$1,209.30</td>
										</tr>








									</tbody>
								</table>
							</div>
						</article>
					</div>
				</section>
				<section id="prem-plus" class="exotics">
					<header>
						<h3 class="center">premium aaa+ indoor</h3>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>

							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">BLACK TRUFFLE</td>
											<td class="thca">30.36</td>
											<td class="stock">0.7</td>
											<td class="reg-price">$1,190.00</td>
											<td class="hidden-deals">$1035.30</td>
										</tr>
									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">
												<a href="/indoor/lambs-breath">LAMBS BREATH</a>
											</td>
											<td class="thca">30.74</td>
											<td class="stock">2.69</td>
											<td class="reg-price">$1,190.00</td>
											<td class="hidden-deals">$1035.30</td>
										</tr>
										<tr>
											<td class="strain-name">CALI OG</td>
											<td class="thca">31.63</td>
											<td class="stock">0.97</td>
											<td class="reg-price">$1,190.00</td>
											<td class="hidden-deals">$1035.30</td>
										</tr>
										<tr>
											<td class="strain-name">SOUR DIESEL</td>
											<td class="thca">32.18</td>
											<td class="stock">0.06</td>
											<td class="reg-price">$1,190.00</td>
											<td class="hidden-deals">$1035.30</td>
										</tr>
									</tbody>
								</table>
							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name"><a href="/indoor/runtz">RUNTZ</a></td>
											<td class="thca">27.75</td>
											<td class="stock">2.47</td>
											<td class="reg-price">$1,190.00</td>
											<td class="hidden-deals">$1035.30</td>
										</tr>
										<tr>
											<td class="strain-name">QUIMERA</td>
											<td class="thca">22.06</td>
											<td class="stock">1.38</td>
											<td class="reg-price">$1,190.00</td>
											<td class="hidden-deals">$1035.30</td>
										</tr>
										<tr>
											<td class="strain-name">GRANDDADDY GLUE</td>
											<td class="thca">28.17</td>
											<td class="stock">1.25</td>
											<td class="reg-price">$1,190.00</td>
											<td class="hidden-deals">$1035.30</td>
										</tr>
										<tr>
											<td class="strain-name">GARY PAYTON+</td>
											<td class="thca">29.49</td>
											<td class="stock">1.14</td>
											<td class="reg-price">$1,190.00</td>
											<td class="hidden-deals">$1035.30</td>
										</tr>
									</tbody>
								</table>
							</div>
						</article>
					</div>
				</section>
			</div>
		</section>
