		<section id="others-smalls" class="others">
	<div class="others-nav">
		<nav class="menu-nav flex-row">
			<a href="#prem-smalls">Premium Smalls</a>
			<a href="#dep-smalls">Light Dep Smalls</a>
		</nav>
	</div>
	<div class="padding">
		<section id="prem-smalls" class="standard">
			<header>
				<h3 class="center">Premium Smalls</h3>
			</header>
					<div class="flex-row">
				<article class="indicas">
					<header class="profile-header">
						<h4 class="center">Indica</h4>
					</header>

					<div class="strain-body" role="region" tabindex="0">
						<table>
							<thead>
								<tr>
									<th class="left">Strains</th>
									<th>THCa</th>
									<th>Stock</th>
									<th>Reg</th>
									<th>Hidden Deals</th>
								</tr>
							</thead>
							<tbody class="strain">
								<tr>
									<td class="strain-name">None available</td>
								</tr>
							</tbody>
						</table>

					</div>

				</article>

				<article class="sativas">
					<header class="profile-header">
						<h4 class="center">Sativa</h4>
					</header>
					<div class="strain-body" role="region" tabindex="0">
						<table>
							<thead>
								<tr>
									<th class="left">Strains</th>
									<th>THCa</th>
									<th>Stock</th>
									<th>Reg</th>
									<th>Hidden Deals</th>
								</tr>
							</thead>
							<tbody class="strain">
								<tr>
									<td class="strain-name">CALI SHERB</td>
									<td class="thca">28.61</td>
									<td class="stock">0.67</td>
									<td class="reg-price">$690.00</td>
									<td class="hidden-deals">$550.00</td>
								</tr>
							</tbody>
						</table>
					</div>
				</article>

				<article class="hybrids">
					<header class="profile-header">
						<h4 class="center">Hybrid</h4>
					</header>
					<div class="strain-body" role="region" tabindex="0">
						<table>
							<thead>
								<tr>
									<th class="left">Strains</th>
									<th>THCa</th>
									<th>Stock</th>
									<th>Reg</th>
									<th>Hidden Deals</th>
								</tr>
							</thead>
							<tbody class="strain">
								<tr>
									<td class="strain-name">None available</td>
								</tr>
							</tbody>
						</table>

					</div>
				</article>
			</div>
		</section>
		<section id="dep-smalls" class="standard">
			<header>
				<h3 class="center">Light Dep Smalls</h3>
			</header>
					<div class="flex-row">
				<article class="indicas">
					<header class="profile-header">
						<h4 class="center">Indica</h4>
					</header>

					<div class="strain-body" role="region" tabindex="0">
						<table>
							<thead>
								<tr>
									<th class="left">Strains</th>
									<th>THCa</th>
									<th>Stock</th>
									<th>Reg</th>
									<th>Hidden Deals</th>
								</tr>
							</thead>
							<tbody class="strain">
								<tr>
									<td class="strain-name"><a href="/deps-and-more/deps/peanut-butter-souffle">PEANUTBUTTER SUFFLE SMALLS</a></td>
									<td class="thca">31.74</td>
									<td class="stock">31.5</td>
									<td class="reg-price">$450.00</td>
									<td class="hidden-deals">$350.00</td>
								</tr>
							</tbody>
						</table>
					</div>

				</article>

				<article class="sativas">
					<header class="profile-header">
						<h4 class="center">Sativa</h4>
					</header>
					<div class="strain-body" role="region" tabindex="0">
						<table>
							<thead>
								<tr>
									<th class="left">Strains</th>
									<th>THCa</th>
									<th>Stock</th>
									<th>Reg</th>
									<th>Hidden Deals</th>
								</tr>
							</thead>
							<tbody class="strain">
								<tr>
									<td class="strain-name">None available</td>
								</tr>
							</tbody>
						</table>

					</div>
				</article>

				<article class="hybrids">
					<header class="profile-header">
						<h4 class="center">Hybrid</h4>
					</header>
					<div class="strain-body" role="region" tabindex="0">
						<table>
							<thead>
								<tr>
									<th class="left">Strains</th>
									<th>THCa</th>
									<th>Stock</th>
									<th>Reg</th>
									<th>Hidden Deals</th>
								</tr>
							</thead>
							<tbody class="strain">
								<tr>
									<td class="strain-name">GORILLA BLUE SMALLS</td>
									<td class="thca">23.6</td>
									<td class="stock">33.19</td>
									<td class="reg-price">$450.00</td>
									<td class="hidden-deals">$350.00</td>
								</tr>
							</tbody>
						</table>
					</div>
				</article>
			</div>
		</section>
	</div>
</section>
