		<section id="others" class="others">
			<div class="others-nav">
				<nav class="menu-nav flex-row">
					<a href="#la-prem">Light Assist Premium</a>
					<a href="#light-dep">Light Dep</a>
				</nav>
			</div>
			<div class="padding">
				<section id="la-prem" class="white-bg">
					<header class="flex-row">
						<h3 class="">Light Assit Premium</h3>
						<div class="price-compare flex-row">
							<p class="center hd">
								<strong>Hidden Deals</strong><br>
								{{ metadata.lightassisthd | safe }}
							</p>
							<p class="center reg">
								<span><strong>Regular Price</strong></span>
								{{ metadata.lightassistreg | safe }}
							</p>
						</div>



					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>

							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">BISCOTTI</td>
											<td class="thca">24.75</td>
											<td class="stock">0.91</td>

										</tr>

										<tr>
											<td class="strain-name">ICE CREAM CAKE</td>
											<td class="thca">26.98</td>
											<td class="stock">6.97</td>

										</tr>
										<tr>
											<td class="strain-name">PAPAYA</td>
											<td class="thca"></td>
											<td class="stock">8.61</td>

										</tr>
										<tr>
											<td class="strain-name">SLURTY</td>
											<td class="thca"></td>
											<td class="stock">3.37</td>

										</tr>
										<tr>
											<td class="strain-name">VANILLA KUSH</td>
											<td class="thca">36.52</td>
											<td class="stock">0.28</td>

										</tr>
										<tr>
											<td class="strain-name">WEDDING PIE</td>
											<td class="thca">26.89</td>
											<td class="stock">0.73</td>

										</tr>

									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">

										<tr>
											<td class="strain-name">GOORU</td>
											<td class="thca">28.23</td>
											<td class="stock">0.91</td>

										</tr>
										<tr>
											<td class="strain-name">GUM DROPS</td>
											<td class="thca">29.36</td>
											<td class="stock">0.31</td>

										</tr>

										<tr>
											<td class="strain-name">PINK RUNTZ</td>
											<td class="thca">28.56</td>
											<td class="stock">10.38</td>

										</tr>

									</tbody>
								</table>

							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">

										</tr>
										<tr>
											<td class="strain-name">OREOZ 1</td>
											<td class="thca"></td>
											<td class="stock">4.8</td>

										</tr>

										<tr>
											<td class="strain-name">RAINBOW SHERBET</td>
											<td class="thca">30.99</td>
											<td class="stock">1.25</td>

										</tr>
									</tbody>
								</table>
							</div>
						</article>
					</div>
				</section>
				<section id="light-dep" class="white-bg">
					<header class="flex-row">
						<h3 class="">Light Dep</h3>

						<div class="price-compare flex-row">
							<p class="center hd">
								<strong>Hidden Deals AAA</strong><br>
								{{ metadata.depaaahd | safe }}
							</p>
							<p class="center reg">
								<span><strong>Regular Price</strong></span>
								{{ metadata.depaaareg | safe }}
							</p>
						</div>

						<div class="price-compare flex-row">
							<p class="center hd">
								<strong>Hidden Deals D5</strong><br>
								{{ metadata.dep5hd | safe }}
							</p>
							<p class="center reg">
								<span><strong>Regular Price</strong></span>
								{{ metadata.dep5reg | safe }}
							</p>
						</div>



					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>

							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">PAPAYA - AAA</td>
											<td class="thca">27.78</td>
											<td class="stock">0.43</td>

										</tr>
									</tbody>
								</table>

							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">
									<tr>
										<td class="strain-name">BLUEBERRY PUNCH - D5</td>
										<td class="thca"></td>
										<td class="stock">7.75</td>

									</tr>
									<tr>
										<td class="strain-name">DIRTY TAXI - AAA</td>
										<td class="thca"></td>
										<td class="stock">3</td>

									</tr>
										<tr>
											<td class="strain-name">
												<a href="/deps-and-more/deps/aaa/pink-runtz-dep">PINK RUNTZ - AAA</a>
											</td>
											<td class="thca">29.76</td>
											<td class="stock">0.23</td>

										</tr>
									</tbody>
								</table>

							</div>
						</article>

						<article class="hybrids visually-hidden">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">

											</td>
											<td class="thca">29.71</td>
											<td class="stock">37</td>

										</tr>
									</tbody>
								</table>

							</div>
						</article>
					</div>
				</section>
			</div>
		</section>
