		<section id="others-smalls" class="others">
			<div class="others-nav">
				<nav class="menu-nav flex-row">
					<a href="#prem-smalls">Premium Smalls</a>
					<a href="#dep-smalls">Light Dep Smalls</a>
				</nav>
			</div>
			<div class="padding">
				<section id="prem-smalls" class="">
					<header class="flex-row">
						<h3 class="">Premium Smalls</h3>
						<div class="price-compare flex-row">
							<div class="center hd">
								<h5>Hidden Deals</h5>
								<span> {{ metadata.premsmallshd | safe }}</span>
							</div>
							<div class="center reg">
								<div class="inner-reg">
									<h5>Regular Price</h5>
									<span>	{{ metadata.premsmallsreg | safe }}</span>
								</div>
							</div>
						</div>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>

							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">

										<tr>
											<td class="strain-name">SUNSET SHERBET</td>
											<td class="thca">28.94</td>
											<td class="stock">1</td>

										</tr>
										<tr>
											<td class="strain-name">XXX BIO</td>
											<td class="thca">28.72</td>
											<td class="stock">0.68</td>

										</tr>
									</tbody>
								</table>

							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">PINK RUNTZ</td>
											<td class="thca">28.56</td>
											<td class="stock">1.32</td>

										</tr>
									</tbody>
								</table>
							</div>
						</article>

						<article class="hybrids visually-hidden">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">




									</tbody>
								</table>

							</div>
						</article>
					</div>
				</section>
				<section id="dep-smalls" class="visually-hidden">
					<header class="flex-row">
						<h3 class="">Light Dep Smalls</h3>
						<div class="price-compare flex-row">
							<div class="center hd">
								<h5>Hidden Deals</h5>
								<span> 								{{ metadata.depsmallshd | safe }}
</span>
							</div>
							<div class="center reg">
								<div class="inner-reg">
									<h5>Regular Price</h5>
									<span>		{{ metadata.depsmallsreg | safe }}</span>
								</div>
							</div>
						</div>

					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>

							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">JELLY CAKE</td>
											<td class="thca">25.36</td>
											<td class="stock">0.13</td>

										</tr>
									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas visually-hidden">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">None available</td>
										</tr>
									</tbody>
								</table>

							</div>
						</article>

						<article class="hybrids visually-hidden">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>

										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">None available</td>


										</tr>
									</tbody>
								</table>
							</div>
						</article>
					</div>
				</section>
			</div>
		</section>
