		<section id="others" class="others">
			<div class="others-nav">
				<nav class="menu-nav flex-row">
					<a href="#prem-la">Premium Light Assist</a>
					<a href="#light-dep">Light Dep</a>
				</nav>
			</div>
			<div class="padding">
				<section id="prem-la" class="standard">
					<header>
						<h3 class="center">premium light assist</h3>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>

							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">
												<a href="/deps-and-more/deps/pinnacle">PINNACLE</a>
											</td>
											<td class="thca"></td>
											<td class="stock">2</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$790.00</td>
										</tr>
									</tbody>
								</table>
							</div>

						</article>

						<article class="sativas visually-hidden">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td>None available</td>
										</tr>
									</tbody>
								</table>

							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">OREOS</td>
											<td class="thca"></td>
											<td class="stock">12</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$725.00</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/deps-and-more/deps/rainbow-runtz">RAINBOW RUNTZ</a>
											</td>
											<td class="thca">28.23</td>
											<td class="stock">9.38</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$725.00</td>
										</tr>
										<tr>
											<td class="strain-name">CANDY RUNTZ</td>
											<td class="thca">31.84</td>
											<td class="stock">4.92</td>
											<td class="reg-price">$990.00</td>
											<td class="hidden-deals">$775.00</td>
										</tr>

									</tbody>
								</table>
							</div>
						</article>
					</div>
				</section>
				<section id="light-dep" class="standard">
					<header>
						<h3 class="center">light dep</h3>
					</header>
					<div class="flex-row">
						<article class="indicas">
							<header class="profile-header">
								<h4 class="center">Indica</h4>
							</header>

							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">GELATO 33 - D4</td>
											<td class="thca"></td>
											<td class="stock">48</td>
											<td class="reg-price">$690.00</td>
											<td class="hidden-deals">$450.00</td>
										</tr>
										<tr>
											<td class="strain-name">SUNSET SHERBET COOKIES - D4</td>
											<td class="thca"></td>
											<td class="stock">76</td>
											<td class="reg-price">$690.00</td>
											<td class="hidden-deals">$450.00</td>
										</tr>
										<tr>
											<td class="strain-name">PAPAYA - D6</td>
											<td class="thca">27.78</td>
											<td class="stock">0.43</td>
											<td class="reg-price">$890.00</td>
											<td class="hidden-deals">$490.00</td>
										</tr>
										<tr>
											<td class="strain-name">BISCOTTI - AAA</td>
											<td class="thca">24.75</td>
											<td class="stock">0.97</td>
											<td class="reg-price">$890.00</td>
											<td class="hidden-deals">$575.00</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/deps-and-more/deps/vanilla-kush">VANILLA KUSH - AAA</a>
											</td>
											<td class="thca">36.52</td>
											<td class="stock">0.45</td>
											<td class="reg-price">$890.00</td>
											<td class="hidden-deals">$590.00</td>
										</tr>
										<tr>
											<td class="strain-name">WEDDING PIE - D6</td>
											<td class="thca">26.89</td>
											<td class="stock">0.81</td>
											<td class="reg-price">$890.00</td>
											<td class="hidden-deals">$675.00</td>
										</tr>
										<tr>
											<td class="strain-name">GUMBO - AAA</td>
											<td class="thca"></td>
											<td class="stock">7</td>
											<td class="reg-price">$890.00</td>
											<td class="hidden-deals">$690.00</td>
										</tr>
										<tr>
											<td class="strain-name">ICE CREAM MINTZ - AAA</td>
											<td class="thca"></td>
											<td class="stock">8</td>
											<td class="reg-price">$890.00</td>
											<td class="hidden-deals">$690.00</td>
										</tr>
									</tbody>
								</table>

							</div>

						</article>

						<article class="sativas">
							<header class="profile-header">
								<h4 class="center">Sativa</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name"><a href="/deps-and-more/deps/pink-runtz-dep-4">PINK RUNTZ - D4</a></td>
											<td class="thca">29.76</td>
											<td class="stock">0.97</td>
											<td class="reg-price">$690.00</td>
											<td class="hidden-deals">$525.00</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/deps-and-more/deps/g41">GELATO 41 - AAA</a>
											</td>
											<td class="thca">26.28</td>
											<td class="stock">0.35</td>
											<td class="reg-price">$890.00</td>
											<td class="hidden-deals">$575.00</td>
										</tr>
										<tr>
											<td class="strain-name">GOORU - D5</td>
											<td class="thca">28.23</td>
											<td class="stock">3.19</td>
											<td class="reg-price">$790.00</td>
											<td class="hidden-deals">$650.00</td>
										</tr>

									</tbody>
								</table>

							</div>
						</article>

						<article class="hybrids">
							<header class="profile-header">
								<h4 class="center">Hybrid</h4>
							</header>
							<div class="strain-body" role="region" tabindex="0">
								<table>
									<thead>
										<tr>
											<th class="left">Strains</th>
											<th>THCa</th>
											<th>Stock</th>
											<th>Reg</th>
											<th>Hidden Deals</th>
										</tr>
									</thead>
									<tbody class="strain">
										<tr>
											<td class="strain-name">
												LEMON CHERRY RUNTZ - D4
											</td>
											<td class="thca"></td>
											<td class="stock">42</td>
											<td class="reg-price">$690.00</td>
											<td class="hidden-deals">$450.00</td>
										</tr>
										<tr>
											<td class="strain-name">
												<a href="/deps-and-more/deps/rainbow-sherbert">RAINBOW SHERBET (RS-11) - AAA</a>
											</td>
											<td class="thca">30.99</td>
											<td class="stock">1.71</td>
											<td class="reg-price">$890.00</td>
											<td class="hidden-deals">$575.00</td>
										</tr>
										<tr>
											<td class="strain-name">
												GOOFIES - AAA
											</td>
											<td class="thca"></td>
											<td class="stock">9</td>
											<td class="reg-price">$890.00</td>
											<td class="hidden-deals">$690.00</td>
										</tr>
										<tr>
											<td class="strain-name">
												OREOZ - AAA
											</td>
											<td class="thca"></td>
											<td class="stock">6</td>
											<td class="reg-price">$890.00</td>
											<td class="hidden-deals">$690.00</td>
										</tr>
										<tr>
											<td class="strain-name">
												GRAPE COOKIES - AAA
											</td>
											<td class="thca"></td>
											<td class="stock">6</td>
											<td class="reg-price">$890.00</td>
											<td class="hidden-deals">$750.00</td>
										</tr>
										<tr>
											<td class="strain-name">
												LEMON OG - AAA
											</td>
											<td class="thca">29.54</td>
											<td class="stock">5</td>
											<td class="reg-price">$890.00</td>
											<td class="hidden-deals">$790.00</td>
										</tr>
										<tr>
											<td class="strain-name">
												CANDY KEY LIME - AAA
											</td>
											<td class="thca"></td>
											<td class="stock">8</td>
											<td class="reg-price">$890.00</td>
											<td class="hidden-deals">$850.00</td>
										</tr>
									</tbody>
								</table>

							</div>
						</article>
					</div>
				</section>
			</div>
		</section>
