		<section id="others" class="others">
	<div class="others-nav">
		<nav class="menu-nav flex-row">
			<a href="#prem-la">Premium Light Assist</a>
			<a href="#light-dep">Light Dep</a>
		</nav>
	</div>
	<div class="padding">
		<section id="prem-la" class="standard">
			<header>
				<h3 class="center">premium light assist</h3>
			</header>
			<div class="grid">
				<article class="indicas">
					<header class="profile-header">
						<h4 class="center">Indica</h4>
					</header>

					<div class="strain-body" role="region" tabindex="0">
						<p class="center">None available</p>

					</div>

				</article>

				<article class="sativas">
					<header class="profile-header">
						<h4 class="center">Sativa</h4>
					</header>
					<div class="strain-body" role="region" tabindex="0">
						<p class="center">None available</p>

					</div>
				</article>

				<article class="hybrids">
					<header class="profile-header">
						<h4 class="center">Hybrid</h4>
					</header>
					<div class="strain-body" role="region" tabindex="0">
						<table>
							<thead>
								<tr>
									<th class="left">Strains</th>
									<th>THCa</th>
									<th>Stock</th>
									<th>Reg</th>
									<th>Hidden Deals</th>
								</tr>
							</thead>
							<tbody class="strain">
								<tr>
									<td class="strain-name">CANDY RUNTZ</td>
									<td class="thca">31.84</td>
									<td class="stock">2.0</td>
									<td class="reg-price">$990.00</td>
									<td class="hidden-deals">$775.00</td>
								</tr>
							</tbody>
						</table>
					</div>
				</article>
			</div>
		</section>
		<section id="light-dep" class="standard">
			<header>
				<h3 class="center">light dep</h3>
			</header>
			<div class="grid">
				<article class="indicas">
					<header class="profile-header">
						<h4 class="center">Indica</h4>
					</header>

					<div class="strain-body" role="region" tabindex="0">
						<p class="center">None available</p>

					</div>

				</article>

				<article class="sativas">
					<header class="profile-header">
						<h4 class="center">Sativa</h4>
					</header>
					<div class="strain-body" role="region" tabindex="0">
						<p class="center">None available</p>

					</div>
				</article>

				<article class="hybrids">
					<header class="profile-header">
						<h4 class="center">Hybrid</h4>
					</header>
					<div class="strain-body" role="region" tabindex="0">
						<p class="center">None available</p>

					</div>
				</article>
			</div>
		</section>
	</div>
</section>
