---
strain: georgia cream pie
profile: indica
priceLevel: a indoor
thca: 23.68%
video1: https://media.dont.zone/hs/media/vid/flower/a-indoor_indica_georgia-cream-pie.webm
photo1: https://media.dont.zone/hs/media/img/flower/a-indoor_indica_georgia-cream-pie.jpg
hdPrice: $1,209.30
regPrice: $1,390
tags: inStock
---
