---
strain: 'gorilla glue #4'
profile: hybrid
priceLevel: a indoor
thca: 29.91%
video1: https://media.dont.zone/hs/media/vid/flower/a-indoor_hybrid_gorilla-glue-4_1.webm
video2: https://media.dont.zone/hs/media/vid/flower/a-indoor_hybrid_gorilla-glue-4_2.webm
photo1: https://media.dont.zone/hs/media/img/flower/a-indoor_hybrid_gorilla-glue-4_1_cropped.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/a-indoor_hybrid_gorilla-glue-4_2_cropped.jpeg
photo3: https://media.dont.zone/hs/media/img/flower/a-indoor_hybrid_gorilla-glue-4_3_cropped.jpeg
hdPrice: $1,209.30
regPrice: $1,390.00
tags: inStock
source: https://www.leafly.com/strains/original-glue
---

Original Glue is a hybrid [...] strain made from a genetic cross between Chem’s Sister, Sour Dubb, and Chocolate Diesel. This strain is 37% sativa and 63% indica. Also known as “GG4”, Original Glue is a potent strain that delivers heavy-handed euphoria and relaxation, leaving you feeling “glued” to the couch. Its chunky, resin-covered buds fill the room with pungent earthy and sour aromas inherited from its parent strains. <cite>- <a href="{{ source }}">Leafly</a></cite>
