	<div class="feed-page">

		<div class="feed-nav">
			<nav class="menu-nav flex-row">
				<a href="#aaa-plusplusplus" class="">AAA+++ Ultra Exotic</a>
				<a href="#aaa-plusplus">AAA++ Exotic</a>
				<a href="#aaa-plus">AAA+ Exotic</a>
				<a href="#aaa">AAA Exotic</a>
				<a href="#pie">Premium Indoor Exotic</a>
				<a href="#mediums">Exotic Mediums</a>
				<a href="#smalls">Exotic Smalls</a>
			</nav>
		</div>
		<section class="featured">
			<header class="section-header">
				<h2 id="aaa-plusplusplus">AAA+++ ULTRA EXOTICS</h2>
			</header>
			<div id="media-list" class="flex-row">
				{% for post in collections.aaaPlusPlusPlusExoticsInStock | reverse %}
				{% include "parts/flower-list-item.njk" %}
				{% endfor %}
			</div>
		</section>

		<section class="featured">
			<header class="section-header">
				<h2 id="aaa-plusplus">AAA++ INDOOR EXOTICS</h2>
			</header>
			<div id="media-list" class="flex-row">
				{% for post in collections.aaaPlusPlusExoticsInStock | reverse %}
				{% include "parts/flower-list-item.njk" %}
				{% endfor %}
			</div>
			<footer class="post-footer">
				<a href="#">Back to top ↑</a>
			</footer>
		</section>

		<section class="featured">
			<header class="section-header">
				<h2 id="aaa-plus">AAA+ INDOOR EXOTICS</h2>
			</header>
			<div id="media-list" class="flex-row">
				{% for post in collections.aaaPlusExoticsInStock | reverse %}
				{% include "parts/flower-list-item.njk" %}
				{% endfor %}
			</div>
		</section>

		<section class="featured">
			<header class="section-header">
				<h2 id="aaa">AAA INDOOR EXOTICS</h2>
			</header>
			<div id="media-list" class="flex-row">
				{% for post in collections.aaaExoticsInStock | reverse %}
				{% include "parts/flower-list-item.njk" %}
				{% endfor %}
			</div>
		</section>

		<section class="featured">
			<header class="section-header">
				<h2 id="pie">PREMIUM INDOOR EXOTICS</h2>
			</header>
			<div id="media-list" class="flex-row">
				{% for post in collections.premiumIndoorExoticsInStock | reverse %}
				{% include "parts/flower-list-item.njk" %}
				{% endfor %}
			</div>
		</section>

		<section class="featured">
			<header class="section-header">
				<h2 id="mediums">EXOTIC MEDIUMS</h2>
			</header>
			<div id="media-list" class="flex-row">
				{% for post in collections.mediumsExoticsInStock | reverse %}
				{% include "parts/flower-list-item.njk" %}
				{% endfor %}
			</div>
		</section>

		<section class="featured visually-hidden">
			<header class="section-header">
				<h2 id="smalls">EXOTIC SMALLS</h2>
			</header>
			<div id="media-list" class="flex-row">
				{% for post in collections.smallsExoticsInStock | reverse %}
				{% include "parts/flower-list-item.njk" %}
				{% endfor %}
			</div>
		</section>
	</div>
