<div id="age-modal" style="display:none;">
	<div id="age-modal-content">
		<h2>Are you 21 or older?</h2>
		<p>Happy Shaman products are only for adults.</p>
		<button id="age-yes">Yes</button>
		<button id="age-no">No</button>
	</div>
</div>

		{% js %} {% include "public/js/age-verification.js" %}{% endjs %}
<script type="module" src="{% getBundleFileUrl "js" %}"></script>
