<article class="post">
		<header class="flex-column">

			<div class="flex-row row">
				<div class="flex-column strain-info">
					<a href="{{ post.url }}"><h2 class="">{{ post.data.strain }}</h2></a>
					<h3 class="price-level">{{ post.data.priceLevel }}</h3>
				</div>
				<div class="flex-column other-info {% if post.data.profile == "hybrid" %}hybrid{% endif %} {% if post.data.profile == "indica" %}indica{%endif%} {% if post.data.profile == "sativa" %}sativa{% endif %}">
					<span class="profile">{{ post.data.profile }}</span>
					<span class="thca center">
						{{ post.data.thca }} THCa
					</span>
				</div>
			</div>
			<div class="price-compare flex-row">
				<p class="center">
					<strong>Hidden Deals Price</strong><br>
					{{ post.data.hdPrice }}
				</p>
				<p class="center">
					<span><strong>Regular Price</strong></span>
					{{ post.data.regPrice }}
				</p>
			</div>
		</header>
		<div class="media-area">
				{% if post.data.photo1 %}
				<div class="item">
				<a href="{{ post.url }}">
					<img eleventy:ignore src="{{ post.data.photo1 }}" alt="{{post.data.strain }} THCa Flower" class="full-span" tabindex="0">
				</a>
				</div>
				{% else %}
					<div class="item">
					<a href="{{ post.url }}">
						<iframe
							src="{{ post.data.video1 }}"
							width="720"
							height="720"
							style="height: auto; width: 100%; aspect-ratio: 1 / 1;"
							allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
							allowfullscreen
							frameborder="0"
							class="rounded"
						></iframe>
					</a>

					</div>
					{% endif %}
		</div>
</article>
