<article class="post flex-row">
		<header class="flex-column">

			<div class="row">
				<div class="flex-column strain-info">
				<div class="meta flex-row">
					<div class="price-level">
						<span>{{ post.data.priceLevel }}</span>
					</div>
					<div class="profile {% if post.data.profile == "hybrid" %}hybrid{% endif %}{% if post.data.profile == "indica" %}indica{%endif%}{% if post.data.profile == "sativa" %}sativa{% endif %}">
						<span class="">
							{{ post.data.profile }}
						</span>
					</div>
					{% if post.data.thca %}
					<div class="thca">
						<span class="">
							{{ post.data.thca }} THCa
						</span>
					</div>
					{% endif %}
				</div>
					<a href="{{ post.url }}"><h2 class="">{{ post.data.strain }}</h2></a>
				</div>
			</div>
			<div class="price-compare flex-row">
				<div class="center hd">
					<h5>Hidden Deals Price</h5>
					<span class="">{{ post.data.hdPrice }}</span>
				</div>
				<div class="center reg">
					<div class="inner-reg">
						<h5>Regular Price</h5>
						<span class="">{{ post.data.regPrice }}</span>
					</div>
				</div>
			</div>
		</header>
		<div class="media-area">
				{% if post.data.photo1 %}
				<div class="item">
				<a href="{{ post.url }}">
					<img eleventy:ignore src="{{ post.data.photo1 }}" alt="{{post.data.strain }} THCa Flower" class="full-span" tabindex="0">
				</a>
				</div>
				{% else %}
					<div class="item">
					<a href="{{ post.url }}">
						<iframe
							src="{{ post.data.video1 }}"
							width="720"
							height="720"
							style="height: auto; width: 100%; aspect-ratio: 1 / 1;"
							allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
							allowfullscreen
							frameborder="0"
							class="rounded"
						></iframe>
					</a>

					</div>
					{% endif %}
		</div>
</article>
