</div>
<footer id="site-footer">
	<div class="flex-row">
		<nav class="footer-nav">
			<h4>Fine Print</h4>
			<a href="/law-enforcement">Notice to Law Enforcement</a>
			<a href="/age-policy">Age Policy</a>
			<a href="/cancellation-policy">Cancellation Policy</a>
			<a href="/payments">Payments</a>
			<a href="/privacy-policy">Privacy Policy</a>
			<a href="/fda-disclaimer">FDA Disclaimer</a>
			<a href="/terms-conditions">Terms & Conditions</a>
			<a href="/offensive-language">Offensive Language Policy</a>
			<a href="/shipping-returns">Shipping & Returns</a>

			<h4>More</h4>
			<a href="/about">About</a>
			<a href="/global-consciousness">GCP</a>
			<a href="/learn">Learn</a>
		</nav>
		<div class="footer-text">
			<h4>Join our mailing list</h4>
			<p>Subscribe today to stay up to date on our latest products! By subscribing, you'll be among the first to hear about our new products, special promotions, and exclusive offers. Plus, you'll be able to take advantage of our discounts and save even more.</p>

			<script async src="https://eocampaign1.com/form/692429b2-6b0d-11ef-b669-f17af538ed72.js" data-form="692429b2-6b0d-11ef-b669-f17af538ed72"></script>

		</div>
		<div class="sub-notice">
			<p>Happy Shaman is a wholesaler - we only sell business-to-business (USA customers only).</p>
			<p>To become our customer, please register your business with us by filling out our <a href="https://happyshaman.store/wholesale" target="_blank">New Wholesale Customer form</a> and agree to our policies. One of our sales representatives will contact you shortly to assist you further. We look forward to working with you.</p>
			<p>If you have any questions or concerns, feel free to <a href="/contact">contact our customer service</a>. We will do our best to reply to your questions and find a solution so that you're happy with your experience with Happy Shaman.</p>
			<p>Our website is intended for users 21 years or older to ensure responsible use of our website. Visitors must meet this age requirement to access our platform. Individuals under 21 are strictly prohibited from using our services.</p>

			<p><strong>This site is not intended for children.</strong> We do not knowingly collect personally identifiable information from children under 13 years old. If you are a parent or legal guardian and believe your child has provided us with information, please contact us with the subject line “COPPA Information Request.”</p>
		</div>
	</div>

	<p class="copy center">bulkthca.deals &copy; Happy Shaman 2009-2025 </p>
</footer>
