<div class="homepage">
	<section class="featured">
		<header class="section-header"><h2><span>NEW</span> INDOOR EXOTICS</h2></header>
		<div id="media-list" class="featured flex-row">
			{% for post in collections.exoticsInStock | head(-6) %}
				{% include "parts/flower-list-item.njk" %}
			{% endfor %}
		</div>
		<footer class="post-footer">
			<a href="/indoor-exotics">All Indoor Exotic THCa Flower »</a>
		</footer>
	</section>

	<section class="featured">
		<header class="section-header"><h2><span>NEW</span> DEPS & LIGHT ASSIST PREMIUM</h2></header>
		<div id="media-list" class="featured flex-row">
			{% for post in collections.depsInStock | head(-6) %}
				{% include "parts/flower-list-item.njk" %}
			{% endfor %}
		</div>
		<footer class="post-footer">
			<a href="/deps-and-more">All Light Dep & More THCa Flower »</a>
		</footer>
	</section>
</div>
