<div class="intro">
	<p class=""><span class="fake-header">Happy Shaman </span>THCa flower is grown naturally in the Emerald Triangle of Northern California by growers who have been doing this for decades. They are among the best in the world. Not only is our flower beautiful & potent, it is also has the best terps around so the aromas are strong & the tastes are flavorful. Our THCa flower is never sprayed or infused.</p>
</div>
