<div class="intro">
	<h2>Welcome</h2>
	<p>Happy Shaman THCa flower is grown naturally in the Emerald Triangle of Northern California by growers who have been doing this for decades and are among the best in the world. Not only is our flower beautiful and potent, it also has the best terps around, so the aromas are strong and the tastes are flavorful. Our THCa flower is never sprayed or infused.</p>

	<div class="flex-row">
		<div class="button"><a href="/about">About Us »</a></div>
		<div class="button ext"><a href="https://happyshaman.store/wholesale">New Customers »</a></div>
	</div>
</div>
