<nav aria-label="main navigation" class="nav-grid">
<ul class="dropdown">
	<li><a href="/menu" class="focus">Menu </a></li>
	<li>
		<button type="button" class="dropdown__title" aria-expanded="false" aria-controls="flower-dropdown">
		Flower
		</button>
		<ul class="dropdown__menu" id="flower-dropdown">
			<li><a href="/indoor-exotics">Indoor Exotics</a></li>
			<li><a href="/indoor">Indoor</a></li>
			<li><a href="/deps-and-more">Deps & More</a></li>
		</ul>
	</li>

	<li><a href="/coas">COA</a></li>
	<li><a href="/contact">Contact</a></li>
</nav>
