<nav aria-label="main navigation" class="flex-row">
	<a href="/menu" class="focus">Menu </a>
	<a href="/indoor-exotics">Indoor Exotics</a>
	<a href="/indoor">Indoor</a>
	<a href="/deps-and-more">Deps & More</a>
	<a href="/coas">COA</a>
	<a href="/contact">Contact</a>
</nav>
