<nav aria-label="main navigation" class="header-nav">
	<div class="inner-nav flex-row">
		<a href="/menu" class="focus">Menu </a>
		<a href="/indoor-exotics">Indoor Exotics</a>
		<a href="/deps-and-more">Deps & More</a>
		<a href="/specials" class="visually-hidden">Specials</a>
		<a href="/coas">COA</a>
		<a href="/contact">Contact</a>
	</div>
</nav>
