<header class="page-header">
	{% if title %}
		<h2 class="center page-title">{{ title }}</h2>
	{% else %}
		<h2 class="center page-title">{{ strain }}</h2>
		<h3 class="center price-level">{{ priceLevel }}
	{% endif %}
	<p class="center desc">{{ desc | safe }}</p>
	{% if tip %}
	<p class="center tip">{{ tip | safe }}</p>
	{% endif %}
	<p class="strain-desc">
	{{ content | safe }}
	</p>
</header>
