---
strain: cadillac rainbow
profile: indica
priceLevel: aa indoor
thca: 30.81%
video1: https://media.dont.zone/hs/media/vid/flower/aa-indoor_indica_cadillac-rainbow.webm
photo1: https://media.dont.zone/hs/media/img/flower/aa-indoor_indica_cadillac-rainbow_1_cropped.jpg
photo2: https://media.dont.zone/hs/media/img/flower/aa-indoor_indica_cadillac-rainbow_2_cropped.jpg
hdPrice: $1,383.30
regPrice: $1590
tags: inStock
source: https://www.allbud.com/marijuana-strains/indica-dominant-hybrid/cadillac-rainbows
---

Cadillac Rainbows [...] is an indica dominant hybrid strain (70% indica/30% sativa) created through crossing the potent Pure Michigan X Runtz strains. Named for its gorgeous appearance and heavy stench, Cadillac Rainbows is the perfect tasty treat to help you settle down after a stressful day. This bud has eye-catching oversized and fluffy, conical dark olive green nugs adorned with vibrantly purple undertones, thin reddish-orange hairs and a frosty coating of sparkling, chunky blue-tinted white crystal trichomes. As you break apart each rainbow little nugget, you'll experience aromas of pungent diesel accented by sweet, citrusy lemon and fruity cherries dancing through the air. The flavor is even sweeter, with a sugary cherry taste accented by sour, lemony candies and fresh flowery herbs. [via <a href="{{ source }}">allbud</a>]
