---
strain: jealousy
profile: hybrid
priceLevel: aa indoor
thca: 30.94%
video1: https://media.dont.zone/hs/media/vid/flower/aa-indoor_hybrid_jealousy_04162025.webm
photo1: https://media.dont.zone/hs/media/img/flower/aa-indoor_hybrid_jealousy_1.jpeg
photo2: https://media.dont.zone/hs/media/img/flower/aa-indoor_hybrid_jealousy_2.jpeg
hdPrice: $1050
regPrice: $1590
tags: noStock
---
