---
strain: pink runtz
profile: sativa
priceLevel: aa indoor
thca: 30.87%
video1: https://media.dont.zone/hs/media/vid/flower/aa-indoor_sativa_pink-runtz.webm
photo1: https://media.dont.zone/hs/media/img/flower/aa-indoor_sativa_pink-runtz.jpeg
hdPrice: $1383.30
regPrice: $1590
tags: inStock
---
