<nav class="toc">
	<a href="#a">a </a>
	<a href="#b">b </a>
	<a href="#c">c </a>
	<a href="#d">d </a>
	<a href="#e">e </a>
	<a href="#f">f </a>
	<a href="#g">g </a>
	<a href="#h">h </a>
	<a href="#i">i </a>
	<a href="#j">j </a>
	<a href="#k">k </a>
	<a href="#l">l </a>
	<a href="#m">m </a>
	<a href="#n">n </a>
	<a href="#o">o </a>
	<a href="#p">p </a>
	<a href="#q">q </a>
	<a href="#r">r </a>
	<a href="#s">s </a>
	<a href="#t">t </a>
	<a href="#u">u </a>
	<a href="#v">v </a>
	<a href="#w">w </a>
	<a href="#x">x </a>
	<a href="#y">y </a>
	<a href="#z">z </a>
</nav>

<h2> a </h2>
<ul class="coa-list">
	<li><a href="/coa/flower/acai-gelato-aaa-plus.pdf" download>acai gelato aaa+</a></li>
	<li><a href="/coa/flower/acid-cream-a.pdf" download>acid cream a</a></li>
	<li><a href="/coa/flower/afghani-2024.pdf" download>afghani 2024</a></li>
	<li><a href="/coa/flower/afghani.pdf" download>afghani</a></li>
	<li><a href="/coa/flower/afgoo-2024.pdf" download>afgoo 2024</a></li>
	<li><a href="/coa/flower/alien-marker-aaa-ex.pdf" download>alien marker aaa ex</a></li>
	<li><a href="/coa/flower/alien-marker-ex.pdf" download>alien marker ex</a></li>
	<li><a href="/coa/flower/alien-og-aaa-ex.pdf" download>alien og aaa ex</a></li>
	<li><a href="/coa/flower/alien-runtz-aaa-plusplus.pdf" download>alien runtz aaa++</a></li>
	<li><a href="/coa/flower/amaretto-a.pdf" download>amaretto a</a></li>
	<li><a href="/coa/flower/amaretto-mintz-pp.pdf" download>amaretto mintz pp</a></li>
	<li><a href="/coa/flower/amaretto-mintz.pdf" download>amaretto mintz</a></li>
	<li><a href="/coa/flower/animal-mintz-2024.pdf" download>animal mintz 2024</a></li>
	<li><a href="/coa/flower/animal-mintz-premaaa-plus.pdf" download>animal mintz prem aaa+</a></li>
	<li><a href="/coa/flower/apple-and-bananas-indoor.pdf" download>apple and bananas indoor</a></li>
	<li><a href="/coa/flower/apple-fritter-2024.pdf" download>apple fritter 2024</a></li>
	<li><a href="/coa/flower/apple-fritter-d3.pdf" download>apple fritter d3</a></li>
	<li><a href="/coa/flower/apple-gelato-2024.pdf" download>apple gelato 2024</a></li>
	<li><a href="/coa/flower/apple-gelato.pdf" download>apple gelato</a></li>
	<li><a href="/coa/flower/apple-mochi-aa.pdf" download>apple mochi aa</a></li>
</ul>
<h2> b </h2>
<ul class="coa-list">
	<li><a href="/coa/flower/banana-belts-d4.pdf" download>banana belts d4</a></li>
	<li><a href="/coa/flower/banana-punch-fp-aaa-plus.pdf" download>banana punch fp aaa+</a></li>
	<li><a href="/coa/flower/banana-punch.pdf" download>banana punch</a></li>
	<li><a href="/coa/flower/big-foots-breath-exotic.pdf" download>big foots breath exotic</a></li>
	<li><a href="/coa/flower/biscotti-deps-aaa.pdf" download>biscotti deps aaa</a></li>
	<li><a href="/coa/flower/biscotti-x-gelato-41-aaa-plus.pdf" download>biscotti x gelato 41 aaa+</a></li>
	<li><a href="/coa/flower/biscotti-x-gelato.pdf" download>biscotti x gelato</a></li>
	<li><a href="/coa/flower/black-biscotti-paaa-plus.pdf" download>black biscotti paaa+</a></li>
	<li><a href="/coa/flower/black-cherry-gelato-aaa-ex.pdf" download>black cherry gelato aaa ex</a></li>
	<li><a href="/coa/flower/black-cherry-gelato-d3.pdf" download>black cherry gelato d3</a></li>
	<li><a href="/coa/flower/black-cherry-gelato-indoor.pdf" download>black cherry gelato indoor</a></li>
	<li><a href="/coa/flower/black-cherry-gelato-premium-plus.pdf" download>black cherry gelato premium plus</a></li>
	<li><a href="/coa/flower/black-cherry-runtz.pdf" download>black cherry runtz</a></li>
	<li><a href="/coa/flower/black-ice-aaa-plus.pdf" download>black ice aaa+</a></li>
	<li><a href="/coa/flower/black-ice-aaa.pdf" download>black ice aaa</a></li>
	<li><a href="/coa/flower/black-mintz-a.pdf" download>black mintz a</a></li>
	<li><a href="/coa/flower/black-mintz-premplus.pdf" download>black mintz premplus</a></li>
	<li><a href="/coa/flower/black-runtz-p.pdf" download>black runtz p</a></li>
	<li><a href="/coa/flower/black-truffle-cake-aaa-plus.pdf" download>black truffle cake aaa+</a></li>
	<li><a href="/coa/flower/black-truffle-pplus.pdf" download>black truffle pplus</a></li>
	<li><a href="/coa/flower/black-truffle.pdf" download>black truffle</a></li>
	<li><a href="/coa/flower/blackberry-gushers-aaa-plusplus.pdf" download>blackberry gushers aaa++</a></li>
	<li><a href="/coa/flower/blackberry-jokers-aaa.pdf" download>blackberry jokers aaa</a></li>
	<li><a href="/coa/flower/blackberry-runtz-2024.pdf" download>blackberry runtz 2024</a></li>
	<li><a href="/coa/flower/blackberry-skunk-exotic.pdf" download>blackberry skunk exotic</a></li>
	<li><a href="/coa/flower/block-party-aaa-plus.pdf" download>block party aaa+</a></li>
	<li><a href="/coa/flower/blockberry-aaa-ex.pdf" download>blockberry aaa ex</a></li>
	<li><a href="/coa/flower/blue-cheese.pdf" download>blue cheese</a></li>
	<li><a href="/coa/flower/blue-city-diesel.pdf" download>blue city diesel</a></li>
	<li><a href="/coa/flower/blue-cookies-pplus.pdf" download>blue cookies pplus</a></li>
	<li><a href="/coa/flower/blue-crack-dep-6-2024.pdf" download>blue crack dep 6 2024</a></li>
	<li><a href="/coa/flower/blue-dream-2024.pdf" download>blue dream 2024</a></li>
	<li><a href="/coa/flower/blue-dream-aaa-plus.pdf" download>blue dream aaa+</a></li>
	<li><a href="/coa/flower/blue-dream-deps-2024.pdf" download>blue dream deps 2024</a></li>
	<li><a href="/coa/flower/blue-dream-ex.pdf" download>blue dream ex</a></li>
	<li><a href="/coa/flower/blue-dream-p.pdf" download>blue dream p</a></li>
	<li><a href="/coa/flower/blue-dream-smalls-july-2024.pdf" download>blue dream smalls july 2024</a></li>
	<li><a href="/coa/flower/blue-dream-smalls.pdf" download>blue dream smalls</a></li>
	<li><a href="/coa/flower/blue-dream-unredacted.pdf" download>blue dream unredacted</a></li>
	<li><a href="/coa/flower/blue-gril-scout-cookies.pdf" download>blue gril scout cookies</a></li>
	<li><a href="/coa/flower/blue-guava-light-dep.pdf" download>blue guava light dep</a></li>
	<li><a href="/coa/flower/blue-gushers-aaa-plusplus.pdf" download>blue gushers aaa++</a></li>
	<li><a href="/coa/flower/blue-gusherz-aaa-plusplus.pdf" download>blue gusherz aaa++</a></li>
	<li><a href="/coa/flower/blue-jelly-2024.pdf" download>blue jelly 2024</a></li>
	<li><a href="/coa/flower/blue-meteorite-2024.pdf" download>blue meteorite 2024</a></li>
	<li><a href="/coa/flower/blue-meteorite-aa.pdf" download>blue meteorite aa</a></li>
	<li><a href="/coa/flower/blue-nerdz-aa.pdf" download>blue nerdz aa</a></li>
	<li><a href="/coa/flower/blue-skittlez-daaa.pdf" download>blue skittlez daaa</a></li>
	<li><a href="/coa/flower/blue-zlushie-aaa-plus.pdf" download>blue zlushie aaa+</a></li>
	<li><a href="/coa/flower/blue-zlushie-premaaa-plus.pdf" download>blue zlushie premaaa+</a></li>
	<li><a href="/coa/flower/blueberry-gelato-aaa-plus.pdf" download>blueberry gelato aaa+</a></li>
	<li><a href="/coa/flower/blueberry-haze-aaa-plus.pdf" download>blueberry haze aaa+</a></li>
	<li><a href="/coa/flower/blueberry-jack-pr.pdf" download>blueberry jack pr</a></li>
	<li><a href="/coa/flower/blueberry-pancakes-aaa.pdf" download>blueberry pancakes aaa</a></li>
	<li><a href="/coa/flower/blueberry-sugar-aaa-plus.pdf" download>blueberry sugar aaa+</a></li>
	<li><a href="/coa/flower/bolo-runtz-aaa.pdf" download>bolo runtz aaa</a></li>
	<li><a href="/coa/flower/bubba-diagnol-d3.pdf" download>bubba diagnol d3</a></li>
	<li><a href="/coa/flower/bubba-fang.pdf" download>bubba fang</a></li>
	<li><a href="/coa/flower/bubba-kush-2024.pdf" download>bubba kush 2024</a></li>
	<li><a href="/coa/flower/bubba-sk-d3.pdf" download>bubba sk d3</a></li>
	<li><a href="/coa/flower/bubble-bath-aaa.pdf" download>bubble bath aaa</a></li>
	<li><a href="/coa/flower/bubble-bath-ex.pdf" download>bubble bath ex</a></li>
	<li><a href="/coa/flower/bubble-bath-exotic.pdf" download>bubble bath exotic</a></li>
	<li><a href="/coa/flower/bubble-yum-yum-aaa.pdf" download>bubble yum yum aaa</a></li>
	<li><a href="/coa/flower/bubblegum-gelato-ps.pdf" download>bubblegum gelato ps</a></li>
	<li><a href="/coa/flower/bubblegum-poppers-aaa-plus.pdf" download>bubblegum poppers aaa+</a></li>
	<li><a href="/coa/flower/bubblegum-runtz-bio.pdf" download>bubblegum runtz bio</a></li>
	<li><a href="/coa/flower/bubblegum-runtz-indoor.pdf" download>bubblegum runtz indoor</a></li>
	<li><a href="/coa/flower/Burpee-aaa-plus.pdf" download>Burpee aaa+</a></li>
</ul>

<h2> c </h2>
<ul class="coa-list">
	<li><a href="/coa/flower/caffeine-lab.pdf" download>caffeine lab</a></li>
	<li><a href="/coa/flower/cake-face-aaa-plus.pdf" download>cake face aaa+</a></li>
	<li><a href="/coa/flower/cali-og-p-plus.pdf" download>cali og p plus</a></li>
	<li><a href="/coa/flower/cali-sherb-document.pdf" download>cali sherb document</a></li>
	<li><a href="/coa/flower/cali-sherb-p%2B-2.pdf" download>cali sherb p 2</a></li>
	<li><a href="/coa/flower/cali-sherb-pplus.pdf" download>cali sherb pplus</a></li>
	<li><a href="/coa/flower/candy-apple-lab.pdf" download>candy apple lab</a></li>
	<li><a href="/coa/flower/candy-cane-gruntz-aaa-plus.pdf" download>candy cane gruntz aaa+</a></li>
	<li><a href="/coa/flower/candy-face.pdf" download>candy face</a></li>
	<li><a href="/coa/flower/candy-gas-aaa-plusplus.pdf" download>candy gas aaa++</a></li>
	<li><a href="/coa/flower/candy-gelato-aa.pdf" download>candy gelato aa</a></li>
	<li><a href="/coa/flower/candy-mintz-em.pdf" download>candy mintz em</a></li>
	<li><a href="/coa/flower/candy-panties-aaa-plus.pdf" download>candy panties aaa+</a></li>
	<li><a href="/coa/flower/candy-punch-deps-aaa.pdf" download>candy punch deps aaa</a></li>
	<li><a href="/coa/flower/candy-rain-aa.pdf" download>candy rain aa</a></li>
	<li><a href="/coa/flower/candy-rain-aaa.pdf" download>candy rain aaa</a></li>
	<li><a href="/coa/flower/candy-runtz-a.pdf" download>candy runtz a</a></li>
	<li><a href="/coa/flower/candy-runtz-aaa-plusplus.pdf" download>candy runtz aaa++</a></li>
	<li><a href="/coa/flower/candy-runtz-p.pdf" download>candy runtz p</a></li>
	<li><a href="/coa/flower/candy-zerbert-aaa-plus.pdf" download>candy zerbert aaa+</a></li>
	<li><a href="/coa/flower/captain-gruntz.pdf" download>captain gruntz</a></li>
	<li><a href="/coa/flower/carbon-fiber-aaa.pdf" download>carbon fiber aaa</a></li>
	<li><a href="/coa/flower/carbon-fiberr-exotic-2024.pdf" download>carbon fiberr exotic 2024</a></li>
	<li><a href="/coa/flower/cereal-milk-a.pdf" download>cereal milk a</a></li>
	<li><a href="/coa/flower/cereal-milk-aaa-plus.pdf" download>cereal milk aaa+</a></li>
	<li><a href="/coa/flower/cereal-milk-exotic.pdf" download>cereal milk exotic</a></li>
	<li><a href="/coa/flower/cheetah-piss-aaa-plus.pdf" download>cheetah piss aaa+</a></li>
	<li><a href="/coa/flower/chem-dawg-2024.pdf" download>chem dawg 2024</a></li>
	<li><a href="/coa/flower/chem-driver-d3.pdf" download>chem driver d3</a></li>
	<li><a href="/coa/flower/cherry-ak-smalls.pdf" download>cherry ak smalls</a></li>
	<li><a href="/coa/flower/cherry-altoid-aaa-plus.pdf" download>cherry altoid aaa+</a></li>
	<li><a href="/coa/flower/cherry-bomb.pdf" download>cherry bomb</a></li>
	<li><a href="/coa/flower/cherry-cake-exotic.pdf" download>cherry cake exotic</a></li>
	<li><a href="/coa/flower/cherry-cookies-exotic.pdf" download>cherry cookies exotic</a></li>
	<li><a href="/coa/flower/cherry-cream-a.pdf" download>cherry cream a</a></li>
	<li><a href="/coa/flower/cherry-dosi-ex.pdf" download>cherry dosi ex</a></li>
	<li><a href="/coa/flower/cherry-gas-paaa-plus.pdf" download>cherry gas paa plus</a></li>
	<li><a href="/coa/flower/cherry-kush-lab.pdf" download>cherry kush lab</a></li>
	<li><a href="/coa/flower/cherry-limeade-aaa-plus.pdf" download>cherry limeade aaa+</a></li>
	<li><a href="/coa/flower/cherry-pie-paaa-plus.pdf" download>cherry pie paa plus</a></li>
	<li><a href="/coa/flower/cherry-pie-premplus.pdf" download>cherry pie premplus</a></li>
	<li><a href="/coa/flower/cherry-poppers-aaa-plus.pdf" download>cherry poppers aaa+</a></li>
	<li><a href="/coa/flower/cherry-poppers-aaa.pdf" download>cherry poppers aaa</a></li>
	<li><a href="/coa/flower/cherry-punch-a.pdf" download>cherry punch a</a></li>
	<li><a href="/coa/flower/cherry-runtz-aaa-plusplus.pdf" download>cherry runtz aaa++</a></li>
	<li><a href="/coa/flower/cherry-sakura-aa.pdf" download>cherry sakura aa</a></li>
	<li><a href="/coa/flower/cherry-taffy-aaa-plus.pdf" download>cherry taffy aaa+</a></li>
	<li><a href="/coa/flower/cherry-zerbert-aaa-plusplus.pdf" download>cherry zerbert aaa++</a></li>
	<li><a href="/coa/flower/cherry-zours-premaaa-plus.pdf" download>cherry zours premaaa+</a></li>
	<li><a href="/coa/flower/chimera-ex-aaa.pdf" download>chimera ex aaa</a></li>
	<li><a href="/coa/flower/chimera-exotic.pdf" download>chimera exotic</a></li>
	<li><a href="/coa/flower/chimera-premplus.pdf" download>chimera premplus</a></li>
	<li><a href="/coa/flower/chocolate-runtz-aaa-plus.pdf" download>chocolate runtz aaa+</a></li>
	<li><a href="/coa/flower/churro-gelato-aaaplusplusplus.pdf" download>churro gelato aaa+++ ultra exotic</a></li>
	<li><a href="/coa/flower/cinnamon-milk-aaa-plus.pdf" download>cinnamon milk aaa+</a></li>
	<li><a href="/coa/flower/cookie-n-cream-aaaplus.pdf" download>coookie n cream aaa+ exotic</a></li>
	<li><a href="/coa/flower/cookies-n-cream-ex.pdf" download>cookies n cream ex</a></li>
	<li><a href="/coa/flower/cookies.pdf" download>cookies</a></li>
</ul>

<h2> d </h2>
<ul class="coa-list">
	<li><a href="/coa/flower/detroit-runtz-aaa.pdf" download>detroit runtz aaa</a></li>
	<li><a href="/coa/flower/diamond-aaaplusplusplus.pdf" download>diamond aaa+++ ultra exotic</a></li>
	<li><a href="/coa/flower/dirty-girl-runtz.pdf" download>dirty girl runtz</a></li>
	<li><a href="/coa/flower/divine-banana-a.pdf" download>divine banana a</a></li>
	<li><a href="/coa/flower/divine-banana-aaa.pdf" download>divine banana aaa</a></li>
	<li><a href="/coa/flower/divine_banana-ex.pdf" download>divine banana ex</a></li>
	<li><a href="/coa/flower/don-mega.pdf" download>don mega</a></li>
	<li><a href="/coa/flower/donnie-berger-2024.pdf" download>donnie berger 2024</a></li>
	<li><a href="/coa/flower/donnie-berger-aaa-plus.pdf" download>donnie berger aaa+</a></li>
	<li><a href="/coa/flower/donnie-burger-aa.pdf" download>donnie burger aa</a></li>
	<li><a href="/coa/flower/donny-burger-ex.pdf" download>donny burger ex</a></li>
	<li><a href="/coa/flower/donte-inferno-aaa-ex.pdf" download>donte inferno aaa ex</a></li>
	<li><a href="/coa/flower/dontes-inferno-a.pdf" download>dontes inferno a</a></li>
	<li><a href="/coa/flower/donut-shop-premplus.pdf" download>donut shop premplus</a></li>
	<li><a href="/coa/flower/dosi-kush-p.pdf" download>dosi kush p</a></li>
	<li><a href="/coa/flower/dosido-dep-3.pdf" download>dosido dep 3</a></li>
	<li><a href="/coa/flower/dosido-mochi.pdf" download>dosido mochi</a></li>
	<li><a href="/coa/flower/double-runtz-a.pdf" download>double runtz a</a></li>
	<li><a href="/coa/flower/double-stuffed-oreoz.pdf" download>double stuffed oreoz</a></li>
	<li><a href="/coa/flower/dragon-fruit-aaa-plus.pdf" download>dragon fruit aaa+</a></li>
	<li><a href="/coa/flower/durban-poison-exotic-aa-indoor.pdf" download>durban poison exotic aa indoor</a></li>
</ul>

<h2> e </h2>
<ul class="coa-list">
	<li><a href="/coa/flower/emergency-runtz_0624.pdf" download>emergency runtz_0624</a></li>
	<li><a href="/coa/flower/eureka-exotic.pdf" download>eureka exotic</a></li>
	<li><a href="/coa/flower/exotic-runtz-aaa-plus.pdf" download>exotic runtz aaa+</a></li>
</ul>

<h2> f </h2>
<ul class="coa-list">
	<li><a href="/coa/flower/f1-premplus.pdf" download>f1 premplus</a></li>
	<li><a href="/coa/flower/falcon-9-aaa-plus.pdf" download>falcon 9 aaa+</a></li>
	<li><a href="/coa/flower/feelin-blue.pdf" download>feelin blue</a></li>
	<li><a href="/coa/flower/frozen-desert-ex.pdf" download>frozen desert ex</a></li>
	<li><a href="/coa/flower/frozen-runtz-aaa-plusplus.pdf" download>frozen runtz aaa++</a></li>
	<li><a href="/coa/flower/frozen-zkittlez.pdf" download>frozen zkittlez</a></li>
	<li><a href="/coa/flower/fruite-cake.pdf" download>fruite cake</a></li>
	<li><a href="/coa/flower/fruity-loops-aaa.pdf" download>fruity loops aaa</a></li>
	<li><a href="/coa/flower/fruity-pebbles-lab.pdf" download>fruity pebbles lab</a></li>
	<li><a href="/coa/flower/funnel-cake-aaa-plus.pdf" download>funnel cake aaa+</a></li>
</ul>

<h2> g </h2>
<ul class="coa-list">
	<li><a href="/coa/flower/galaxy-gelato-aaa-plusplus.pdf" download>galaxy gelato aaa++</a></li>
	<li><a href="/coa/flower/garlic-banana-2024.pdf" download>garlic banana 2024</a></li>
	<li><a href="/coa/flower/garlic-banana.pdf" download>garlic banana</a></li>
	<li><a href="/coa/flower/garlic-bananas.pdf" download>garlic bananas</a></li>
	<li><a href="/coa/flower/garlic-cocktail-ex.pdf" download>garlic cocktail ex</a></li>
	<li><a href="/coa/flower/garlic-gushers-aaa-plus.pdf" download>garlic gushers aaa+</a></li>
	<li><a href="/coa/flower/garlic-mushroom-burger-exotic.pdf" download>garlic mushroom burger exotic</a></li>
	<li><a href="/coa/flower/gary-payton-2024.pdf" download>gary payton 2024</a></li>
	<li><a href="/coa/flower/gary-payton-aaaplusplusplus.pdf" download>gary payton aaa+++ ultra exotic</a></li>
	<li><a href="/coa/flower/gary-payton-aaa-ex.pdf" download>gary payton aaa ex</a></li>
	<li><a href="/coa/flower/gary-payton-document-2024.pdf" download>gary payton document 2024</a></li>
	<li><a href="/coa/flower/gary-payton-exotic.pdf" download>gary payton exotic</a></li>
	<li><a href="/coa/flower/gary-payton-indoor.pdf" download>gary payton indoor</a></li>
	<li><a href="/coa/flower/gary-payton-p.pdf" download>gary payton p</a></li>
	<li><a href="/coa/flower/gary-payton-premaaa-plus.pdf" download>gary payton premaaa+</a></li>
	<li><a href="/coa/flower/gary-runtz-aaa-plus.pdf" download>gary runtz aaa+</a></li>
	<li><a href="/coa/flower/gas-face-aaa-plus-exotic-thca.pdf" download>gas face aaa+ exotic thca</a></li>
	<li><a href="/coa/flower/gastro-pop-2024.pdf" download>gastro pop 2024</a></li>
	<li><a href="/coa/flower/gelato-33-aaa.pdf" download>gelato 33 aaa</a></li>
	<li><a href="/coa/flower/gelato-33-aka-g33-lab.pdf" download>gelato 33 aka g33 lab</a></li>
	<li><a href="/coa/flower/gelato-33-unredacted.pdf" download>gelato 33 unredacted</a></li>
	<li><a href="/coa/flower/gelato-41-aaa-plus-2.pdf" download>gelato 41 aaa+ 2</a></li>
	<li><a href="/coa/flower/gelato-41-aaa-plus.pdf" download>gelato 41 aaa+</a></li>
	<li><a href="/coa/flower/gelato-41-d4.pdf" download>gelato 41 d4</a></li>
	<li><a href="/coa/flower/gelato-41-deps-aaa.pdf" download>gelato 41 deps aaa</a></li>
	<li><a href="/coa/flower/gelato-41-pplus.pdf" download>gelato 41 pplus</a></li>
	<li><a href="/coa/flower/gelato-cake-2024.pdf" download>gelato cake 2024</a></li>
	<li><a href="/coa/flower/gelato-lows-2024.pdf" download>gelato lows 2024</a></li>
	<li><a href="/coa/flower/gelato-moonrocks-thca%202.pdf" download>gelato moonrocks thca%202</a></li>
	<li><a href="/coa/flower/gelato-og-dep-6.pdf" download>gelato og dep 6</a></li>
	<li><a href="/coa/flower/gelato-og.pdf" download>gelato og</a></li>
	<li><a href="/coa/flower/gelato-pie-premaaa-plus.pdf" download>gelato pie premaaa+</a></li>
	<li><a href="/coa/flower/gelato-prem.pdf" download>gelato prem</a></li>
	<li><a href="/coa/flower/gelato-premplus.pdf" download>gelato premplus</a></li>
	<li><a href="/coa/flower/gelato-truffle-paaa-plus.pdf" download>gelato truffle paaa+</a></li>
	<li><a href="/coa/flower/gelatti-ds.pdf" download>gelatti ds</a></li>
	<li><a href="/coa/flower/gelonade-lab-2024.pdf" download>gelonade lab 2024</a></li>
	<li><a href="/coa/flower/gemlatto-33-aaa-plus.pdf" download>gemlatto 33 aaa+</a></li>
	<li><a href="/coa/flower/georgia-cream-pie-a.pdf" download>georgia cream pie a</a></li>
	<li><a href="/coa/flower/georgia-pie-p.pdf" download>georgia pie p</a></li>
	<li><a href="/coa/flower/georgia-pie-premplus.pdf" download>georgia pie premplus</a></li>
	<li><a href="/coa/flower/girl-power-document.pdf" download>girl power document</a></li>
	<li><a href="/coa/flower/girl-scout-cookie-dep-3-2024.pdf" download>girl scout cookie dep 3 2024</a></li>
	<li><a href="/coa/flower/girl-scout-cookies-2024.pdf" download>girl scout cookies 2024</a></li>
	<li><a href="/coa/flower/girl-scout-cookies-aaa-ex.pdf" download>girl scout cookies aaa ex</a></li>
	<li><a href="/coa/flower/girl-scout-cookies-d3.pdf" download>girl scout cookies d3</a></li>
	<li><a href="/coa/flower/girl-scout-cookies-may-2024.pdf" download>girl scout cookies may 2024</a></li>
	<li><a href="/coa/flower/girl-scout-pr.pdf" download>girl scout pr</a></li>
	<li><a href="/coa/flower/glitter-bomb-24.pdf" download>glitter bomb 24</a></li>
	<li><a href="/coa/flower/glitter-bomb-aa.pdf" download>glitter bomb aa</a></li>
	<li><a href="/coa/flower/glitter-bomb-aaa.pdf" download>glitter bomb aaa</a></li>
	<li><a href="/coa/flower/glitter-bomb-exotic-aaa.pdf" download>glitter bomb exotic aaa</a></li>
	<li><a href="/coa/flower/glitter-bomb-pplus.pdf" download>glitter bomb pplus</a></li>
	<li><a href="/coa/flower/gmo-2024.pdf" download>gmo 2024</a></li>
	<li><a href="/coa/flower/gmo-a.pdf" download>gmo a</a></li>
	<li><a href="/coa/flower/gmo-oil-em.pdf" download>gmo oil em</a></li>
	<li><a href="/coa/flower/gmo-runtz.pdf" download>gmo runtz</a></li>
	<li><a href="/coa/flower/gmo-unredacted-1.pdf" download>gmo unredacted 1</a></li>
	<li><a href="/coa/flower/gobstoppers-aaa-plus.pdf" download>gobstoppers aaa+</a></li>
	<li><a href="/coa/flower/god%27s-breath.pdf" download>god%27s breath</a></li>
	<li><a href="/coa/flower/goldburger-exotic.pdf" download>goldburger exotic</a></li>
	<li><a href="/coa/flower/golden-cash-a.pdf" download>golden cash a</a></li>
	<li><a href="/coa/flower/gooru-d5.pdf" download>gooru d5</a></li>
	<li><a href="/coa/flower/gorilla-blue-ds.pdf" download>gorilla blue ds</a></li>
	<li><a href="/coa/flower/gorilla-glue-2024.pdf" download>gorilla glue 2024</a></li>
	<li><a href="/coa/flower/gorilla-glue-4-pie.pdf" download>gorilla glue 4 pie</a></li>
	<li><a href="/coa/flower/gorilla-glue-a.pdf" download>gorilla glue a</a></li>
	<li><a href="/coa/flower/gorilla-glue-document.pdf" download>gorilla glue document</a></li>
	<li><a href="/coa/flower/gorilla-runtz-aaa-plus.pdf" download>gorilla runtz aaa+</a></li>
	<li><a href="/coa/flower/grandaddy-glue-paaa-plus.pdf" download>grandaddy glue paaa+</a></li>
	<li><a href="/coa/flower/granddaddy-blurple.pdf" download>granddaddy blurple</a></li>
	<li><a href="/coa/flower/grape-frosty-exotic.pdf" download>grape frosty exotic</a></li>
	<li><a href="/coa/flower/grape-gas-a.pdf" download>grape gas a</a></li>
	<li><a href="/coa/flower/grape-gas-es.pdf" download>grape gas es</a></li>
	<li><a href="/coa/flower/grape-lsd-paaa-plus.pdf" download>grape lsd paaa+</a></li>
	<li><a href="/coa/flower/grapefruit.pdf" download>grapefruit</a></li>
	<li><a href="/coa/flower/grapes-n-cream-lab-2024.pdf" download>grapes n cream lab 2024</a></li>
	<li><a href="/coa/flower/grapes-n-cream-premaaa-plus.pdf" download>grapes n cream premaaa+</a></li>
	<li><a href="/coa/flower/grapes-n-cream-premplus.pdf" download>grapes n cream premplus</a></li>
	<li><a href="/coa/flower/grapple-cake-a.pdf" download>grapple cake a</a></li>
	<li><a href="/coa/flower/grease-monkey.pdf" download>grease monkey</a></li>
	<li><a href="/coa/flower/green-crack-premium-2024.pdf" download>green crack premium 2024</a></li>
	<li><a href="/coa/flower/green-crack-aaaplusplus.pdf" download>green crack aaa+++ ultra exotic</a></li>
	<li><a href="/coa/flower/guava-cake.pdf" download>guava cake</a></li>
	<li><a href="/coa/flower/guava-cookies-aaa-plus.pdf" download>guava cookies aaa+</a></li>
	<li><a href="/coa/flower/guava-cookies-aaa-plus.pdf" download>guava cookies aaa+</a></li>
	<li><a href="/coa/flower/guava-cookies.pdf" download>guava cookies</a></li>
	<li><a href="/coa/flower/guava-gas-premaaa-plus.pdf" download>guava gas premaaa+</a></li>
	<li><a href="/coa/flower/guava-gelato-2024.pdf" download>guava gelato 2024</a></li>
	<li><a href="/coa/flower/guava-gelato-premplus.pdf" download>guava gelato premplus</a></li>
	<li><a href="/coa/flower/guava-papaya-aaa-ex.pdf" download>guava papaya aaa ex</a></li>
	<li><a href="/coa/flower/guava-papaya-exotic.pdf" download>guava papaya exotic</a></li>
	<li><a href="/coa/flower/guava-runtz-p.pdf" download>guava runtz p</a></li>
	<li><a href="/coa/flower/guava-runtz.pdf" download>guava runtz</a></li>
	<li><a href="/coa/flower/gum-drops-p-plus.pdf" download>gum drops p plus</a></li>
	<li><a href="/coa/flower/gumbo-aaa-plus.pdf" download>gumbo aaa+</a></li>
	<li><a href="/coa/flower/gumbo-aaa.pdf" download>gumbo aaa</a></li>
	<li><a href="/coa/flower/gumbo-snow-caps-prerolls.pdf" download>gumbo snow caps prerolls</a></li>
	<li><a href="/coa/flower/gush-candy-pplus.pdf" download>gush candy pplus</a></li>
	<li><a href="/coa/flower/gush-mintz-aaa-plus.pdf" download>gush mintz aaa+</a></li>
	<li><a href="/coa/flower/gush-mintz-dep-6.pdf" download>gush mintz dep 6</a></li>
	<li><a href="/coa/flower/gush-mintz-ex.pdf" download>gush mintz ex</a></li>
	<li><a href="/coa/flower/gusher-mintz-a-2.pdf" download>gusher mintz a 2</a></li>
	<li><a href="/coa/flower/gusher-mintz-a.pdf" download>gusher mintz a</a></li>
	<li><a href="/coa/flower/gushers-a.pdf" download>gushers a</a></li>
	<li><a href="/coa/flower/gushers-aa-2025.pdf" download>gushers aa 2025</a></li>
	<li><a href="/coa/flower/gushers-aa.pdf" download>gushers aa</a></li>
	<li><a href="/coa/flower/gushers-aaa-plus.pdf" download>gushers aaa+</a></li>
	<li><a href="/coa/flower/gushers-exotic.pdf" download>gushers exotic</a></li>
</ul>

<h2> h </h2>
<ul class="coa-list">
	<li><a href="/coa/flower/halle-berry-aaa-plusplus.pdf" download>halle berry aaa++</a></li>
	<li><a href="/coa/flower/hash-burger.pdf" download>hash burger</a></li>
	<li><a href="/coa/flower/hashburger-aaa-plusplus.pdf" download>hashburger aaa++</a></li>
	<li><a href="/coa/flower/hawaiian-punch-aaa-plusplus.pdf" download>hawaiian punch aaa++</a></li>
	<li><a href="/coa/flower/high-octane-og-2024.pdf" download>high octane og 2024</a></li>
	<li><a href="/coa/flower/hindu-zkittles.pdf" download>hindu zkittles</a></li>
	<li><a href="/coa/flower/honey-guava.pdf" download>honey guava</a></li>
	<li><a href="/coa/flower/honey-guava-aaaplusplus.pdf" download>honey guava aaa++</a></li>
	<li><a href="/coa/flower/hood-candy-document.pdf" download>hood candy document</a></li>
	<li><a href="/coa/flower/horchata.pdf" download>horchata</a></li>
	<li><a href="/coa/flower/hot-mint-sundae.pdf" download>hot mint sundae</a></li>
</ul>

<h2> i </h2>
<ul class="coa-list">
	<li><a href="/coa/flower/icc-cartel-24.pdf" download>icc cartel 24</a></li>
	<li><a href="/coa/flower/ice-cream-cake-aaa-plus.pdf" download>ice cream cake aaa+</a></li>
	<li><a href="/coa/flower/ice-cream-cake-d6.pdf" download>ice cream cake d6</a></li>
	<li><a href="/coa/flower/ice-cream-cake-dep-6.pdf" download>ice cream cake dep 6</a></li>
	<li><a href="/coa/flower/ice-cream-cake-pplus.pdf" download>ice cream cake pplus</a></li>
	<li><a href="/coa/flower/ice-cream-cake.pdf" download>ice cream cake</a></li>
	<li><a href="/coa/flower/ice-cream-pie-a.pdf" download>ice cream pie a</a></li>
	<li><a href="/coa/flower/ice-cream-pie-a1.pdf" download>ice cream pie a1</a></li>
	<li><a href="/coa/flower/ice-cream-pie-aaa.pdf" download>ice cream pie aaa</a></li>
	<li><a href="/coa/flower/ice-cream-x-jealousy.pdf" download>ice cream x jealousy</a></li>
	<li><a href="/coa/flower/ice-pops-pplus.pdf" download>ice pops pplus</a></li>
	<li><a href="/coa/flower/illemonati-a.pdf" download>illemonati a</a></li>
	<li><a href="/coa/flower/illemonatti-premplus.pdf" download>illemonatti premplus</a></li>
	<li><a href="/coa/flower/illemonatti-thca.pdf" download>illemonatti thca</a></li>
	<li><a href="/coa/flower/italian-ice-paaa-plus.pdf" download>italian ice paaa+</a></li>
	<li><a href="/coa/flower/italian-icee_0724.pdf" download>italian icee_0724</a></li>
</ul>

<h2> j </h2>
<ul class="coa-list">
	<li><a href="/coa/flower/jack-diesel-pplus.pdf" download>jack diesel pplus</a></li>
	<li><a href="/coa/flower/jack-herer-2024.pdf" download>jack herer 2024</a></li>
	<li><a href="/coa/flower/jack-herer-aaa-plus.pdf" download>jack herer aaa+</a></li>
	<li><a href="/coa/flower/jack-herer-aaa-plus.pdf" download>jack herer aaa+</a></li>
	<li><a href="/coa/flower/jack-herer-aaa.pdf" download>jack herer aaa</a></li>
	<li><a href="/coa/flower/jack-herer-aaa.pdf" download>jack herer aaa</a></li>
	<li><a href="/coa/flower/jawbreaker-aaa.pdf" download>jawbreaker aaa</a></li>
	<li><a href="/coa/flower/jealousy-2024.pdf" download>jealousy 2024</a></li>
	<li><a href="/coa/flower/jealousy-aa.pdf" download>jealousy aa</a></li>
	<li><a href="/coa/flower/jealousy-aaa-ex.pdf" download>jealousy aaa ex</a></li>
	<li><a href="/coa/flower/jealousy-aaa-plus.pdf" download>jealousy aaa+</a></li>
	<li><a href="/coa/flower/jealousy-dep-3.pdf" download>jealousy dep 3</a></li>
	<li><a href="/coa/flower/jealousy-indoor-exotic.pdf" download>jealousy indoor exotic</a></li>
	<li><a href="/coa/flower/jealousy-indoor.pdf" download>jealousy indoor</a></li>
	<li><a href="/coa/flower/jealousy-mediums-2024.pdf" download>jealousy mediums 2024</a></li>
	<li><a href="/coa/flower/jealousy-mintz-pplus.pdf" download>jealousy mintz pplus</a></li>
	<li><a href="/coa/flower/jealousy-runtz-24.pdf" download>jealousy runtz 24</a></li>
	<li><a href="/coa/flower/jedi_0124.pdf" download>jedi_0124</a></li>
	<li><a href="/coa/flower/jelly-breath-a.pdf" download>jelly breath a</a></li>
	<li><a href="/coa/flower/jelly-cake-a.pdf" download>jelly cake a</a></li>
	<li><a href="/coa/flower/jelly-cake-plus.pdf" download>jelly cake plus</a></li>
	<li><a href="/coa/flower/jelly-zonut-exotic.pdf" download>jelly zonut exotic</a></li>
	<li><a href="/coa/flower/jet-blue-aaa-plus.pdf" download>jet blue aaa+</a></li>
	<li><a href="/coa/flower/jet-fuel-bio%202.pdf" download>jet fuel bio%202</a></li>
	<li><a href="/coa/flower/jet-fuel-bio.pdf" download>jet fuel bio</a></li>
	<li><a href="/coa/flower/jet-fuel-exotic-aaa.pdf" download>jet fuel exotic aaa</a></li>
	<li><a href="/coa/flower/jet-fuel-runtz-aaa-plus.pdf" download>jet fuel runtz aaa+</a></li>
	<li><a href="/coa/flower/jet-z.pdf" download>jet z</a></li>
	<li><a href="/coa/flower/jokers-candy-aa.pdf" download>jokers candy aa</a></li>
	<li><a href="/coa/flower/jokers-candy.pdf" download>jokers candy</a></li>
	<li><a href="/coa/flower/jordi-kush.pdf" download>jordi kush</a></li>
</ul>

<h2> k </h2>
<ul class="coa-list">
	<li><a href="/coa/flower/Kandy-Kut-aaa-plus.pdf" download>Kandy Kut aaa+</a></li>
	<li><a href="/coa/flower/karamel-kandy-aaa.pdf" download>karamel kandy aaa</a></li>
	<li><a href="/coa/flower/karamel-kandy-premaaa-plus.pdf" download>karamel kandy premaaa+</a></li>
	<li><a href="/coa/flower/kashmire-2024.pdf" download>kashmire 2024</a></li>
	<li><a href="/coa/flower/key-lime-jack-a.pdf" download>key lime jack a</a></li>
	<li><a href="/coa/flower/kill-bill-aaa-plus.pdf" download>kill bill aaa+</a></li>
	<li><a href="/coa/flower/kush-cake-2024.pdf" download>kush cake 2024</a></li>
	<li><a href="/coa/flower/kush-cake-24.pdf" download>kush cake 24</a></li>
</ul>

<h2> l </h2>
<ul class="coa-list">
	<li><a href="/coa/flower/la-candy-pop-aaa-plusplus.pdf" download>la candy pop aaa++</a></li>
	<li><a href="/coa/flower/la-kush-cake-aa.pdf" download>la kush cake aa</a></li>
	<li><a href="/coa/flower/la-kush-premaaa-plus.pdf" download>la kush premaaa+</a></li>
	<li><a href="/coa/flower/laffy-taffy-aaa-plus.pdf" download>laffy taffy aaa+</a></li>
	<li><a href="/coa/flower/lambo-ex.pdf" download>lambo ex</a></li>
	<li><a href="/coa/flower/lambs-breath-p-plus.pdf" download>lambs breath p plus</a></li>
	<li><a href="/coa/flower/legend-og-2024.pdf" download>legend og 2024</a></li>
	<li><a href="/coa/flower/lemon-cake-2024.pdf" download>lemon cake 2024</a></li>
	<li><a href="/coa/flower/lemon-cherry-gelato-bio-2024.pdf" download>lemon cherry gelato bio 2024</a></li>
	<li><a href="/coa/flower/lemon-cherry-gelato-d4.pdf" download>lemon cherry gelato d4</a></li>
	<li><a href="/coa/flower/lemon-cherry-gelato-ex.pdf" download>lemon cherry gelato ex</a></li>
	<li><a href="/coa/flower/lemon-cherry-gelato-runtz-1-p.pdf" download>lemon cherry gelato runtz 1 p</a></li>
	<li><a href="/coa/flower/lemon-cherry-gelato-runtz-2-p.pdf" download>lemon cherry gelato runtz 2 p</a></li>
	<li><a href="/coa/flower/lemon-cherry-gelato-sfv-aaa-plus.pdf" download>lemon cherry gelato sfv aaa+</a></li>
	<li><a href="/coa/flower/lemon-cherry-gelato-x-perm-marker.pdf" download>lemon cherry gelato x perm marker</a></li>
	<li><a href="/coa/flower/lemon-cherry-poundcake-document.pdf" download>lemon cherry poundcake document</a></li>
	<li><a href="/coa/flower/lemon-cherry-runtz-em.pdf" download>lemon cherry runtz em</a></li>
	<li><a href="/coa/flower/lemon-cherry-x-runtz-aa.pdf" download>lemon cherry x runtz aa</a></li>
	<li><a href="/coa/flower/lemon-cookie.pdf" download>lemon cookie</a></li>
	<li><a href="/coa/flower/lemon-haze.pdf" download>lemon haze</a></li>
	<li><a href="/coa/flower/lemon-larry-aa.pdf" download>lemon larry aa</a></li>
	<li><a href="/coa/flower/lemon-lotto-premaaa-plus.pdf" download>lemon lotto premaaa+</a></li>
	<li><a href="/coa/flower/lemon-og-2024.pdf" download>lemon og 2024</a></li>
	<li><a href="/coa/flower/lemon-pepper-2024.pdf" download>lemon pepper 2024</a></li>
	<li><a href="/coa/flower/lemon-runtz-document.pdf" download>lemon runtz document</a></li>
	<li><a href="/coa/flower/lemon-shiv.pdf" download>lemon shiv</a></li>
	<li><a href="/coa/flower/lemonade-paaa-plus.pdf" download>lemonade paaa+</a></li>
	<li><a href="/coa/flower/lemoncello-d3.pdf" download>lemoncello d3</a></li>
	<li><a href="/coa/flower/lemonchello-d3.pdf" download>lemonchello d3</a></li>
	<li><a href="/coa/flower/lemonheads-aaa-plus.pdf" download>lemonheads aaa+</a></li>
	<li><a href="/coa/flower/lemonheads-premplus.pdf" download>lemonheads premplus</a></li>
	<li><a href="/coa/flower/life-hack-2024.pdf" download>life hack 2024</a></li>
	<li><a href="/coa/flower/life-hacks-a.pdf" download>life hacks a</a></li>
	<li><a href="/coa/flower/limonada-p-plus.pdf" download>limonada p plus</a></li>
	<li><a href="/coa/flower/lmon-cherry-gelato-runtz.pdf" download>lmon cherry gelato runtz</a></li>
	<li><a href="/coa/flower/london-skittlez-ex.pdf" download>london skittlez ex</a></li>
	<li><a href="/coa/flower/london-truffle.pdf" download>london truffle</a></li>
	<li><a href="/coa/flower/londonchello-lab.pdf" download>londonchello lab</a></li>
	<li><a href="/coa/flower/lovely-kush-28.70.pdf" download>lovely kush 28.70</a></li>
	<li><a href="/coa/flower/luxxe-runtz-es.pdf" download>luxxe runtz es</a></li>
</ul>

<h2>m</h2>
<ul class="coa-list">
	<li><a href="/coa/flower/mint-tao-aaaplusplusplus.pdf" download>mint tao aaa+++ ultra exotic</a></li>
</ul>

<h2>p</h2>
<ul class="coa-list">
	<li><a href="/coa/flower/pablos-revenge-p.pdf" download>pablos revenge p</a></li>
	<li><a href="/coa/flower/pancake-premaaa-plus.pdf" download>pancake premaaa+</a></li>
	<li><a href="/coa/flower/papaya-d4.pdf" download>papaya d4</a></li>
	<li><a href="/coa/flower/papaya-punch-aaa-plus.pdf" download>papaya punch aaa+</a></li>
	<li><a href="/coa/flower/pastries-34-premplus.pdf" download>pastries 34 premplus</a></li>
	<li><a href="/coa/flower/peanut-butter-jelly-a.pdf" download>peanut butter jelly a</a></li>
	<li><a href="/coa/flower/peanut-butter-pie-exotic-aaa-plusplus.pdf" download>peanut butter pie exotic aaa++</a></li>
	<li><a href="/coa/flower/peanut-butter-souffle-aaa-plus.pdf" download>peanut butter souffle aaa+</a></li>
	<li><a href="/coa/flower/peanut-butter-souffle-es.pdf" download>peanut butter souffle es</a></li>
	<li><a href="/coa/flower/peanut-butter-truffle-exotic-.pdf" download>peanut butter truffle exotic</a></li>
	<li><a href="/coa/flower/peanut-butter.pdf" download>peanut butter</a></li>
	<li><a href="/coa/flower/peanutbutter-truffle.pdf" download>peanutbutter truffle</a></li>
	<li><a href="/coa/flower/permanen-marker-exotic.pdf" download>permanen marker exotic</a></li>
	<li><a href="/coa/flower/permanent-Marker-a.pdf" download>permanent Marker a</a></li>
	<li><a href="/coa/flower/permanent-marker-aaa-plus.pdf" download>permanent marker aaa+</a></li>
	<li><a href="/coa/flower/pinacle-runtz.pdf" download>pinacle runtz</a></li>
	<li><a href="/coa/flower/pineapple-beltz-aaa-plusplus.pdf" download>pineapple beltz aaa++</a></li>
	<li><a href="/coa/flower/pineapple-breeze-aaa-plus.pdf" download>pineapple breeze aaa+</a></li>
	<li><a href="/coa/flower/pineapple-express-aa.pdf" download>pineapple express aa</a></li>
	<li><a href="/coa/flower/pineapple-express-aaa-ex.pdf" download>pineapple express aaa ex</a></li>
	<li><a href="/coa/flower/pineapple-express-exotic-aaa.pdf" download>pineapple express exotic aaa</a></li>
	<li><a href="/coa/flower/pineapple-og-aaa.pdf" download>pineapple og aaa</a></li>
	<li><a href="/coa/flower/pineapple-og-pr.pdf" download>pineapple og pr</a></li>
	<li><a href="/coa/flower/pineapple.pdf" download>pineapple</a></li>
	<li><a href="/coa/flower/pink-certz-ps.pdf" download>pink certz ps</a></li>
	<li><a href="/coa/flower/pink-cherry-runtz-2024.pdf" download>pink cherry runtz 2024</a></li>
	<li><a href="/coa/flower/pink-cherry-runtz.pdf" download>pink cherry runtz</a></li>
	<li><a href="/coa/flower/pink-flamingo.pdf" download>pink flamingo</a></li>
	<li><a href="/coa/flower/pink-kush-premaaa-plus.pdf" download>pink kush premaaa+</a></li>
	<li><a href="/coa/flower/pink-marshmellow.pdf" download>pink marshmellow</a></li>
	<li><a href="/coa/flower/pink-rozay-aaa-plus.pdf" download>pink rozay aaa+</a></li>
	<li><a href="/coa/flower/pink-runtz-2024.pdf" download>pink runtz 2024</a></li>
	<li><a href="/coa/flower/pink-runtz-Daaa.pdf" download>pink runtz Daaa</a></li>
	<li><a href="/coa/flower/pink-runtz-aa.pdf" download>pink runtz aa</a></li>
	<li><a href="/coa/flower/pink-runtz-aaa-plus.pdf" download>pink runtz aaa+</a></li>
	<li><a href="/coa/flower/pink-runtz-aaa.pdf" download>pink runtz aaa</a></li>
	<li><a href="/coa/flower/pink-runtz-d4.pdf" download>pink runtz d4</a></li>
	<li><a href="/coa/flower/pink-runtz-ex.pdf" download>pink runtz ex</a></li>
	<li><a href="/coa/flower/pinnacle-og-paaa-plus.pdf" download>pinnacle og paaa+</a></li>
	<li><a href="/coa/flower/pinnacle.pdf" download>pinnacle</a></li>
	<li><a href="/coa/flower/planet-of-the-grapes-aaa-plus.pdf" download>planet of the grapes aaa+</a></li>
	<li><a href="/coa/flower/planet-of-the-grapes-ex.pdf" download>planet of the grapes ex</a></li>
	<li><a href="/coa/flower/platinum-lemon-gushers-aaa-plus.pdf" download>platinum lemon gushers aaa+</a></li>
	<li><a href="/coa/flower/platinum-og-2024.pdf" download>platinum og 2024</a></li>
	<li><a href="/coa/flower/platinum-pancakes-thca.pdf" download>platinum pancakes thca</a></li>
	<li><a href="/coa/flower/pluto.pdf" download>pluto</a></li>
	<li><a href="/coa/flower/poppin-bottlez-aaa-plus.pdf" download>poppin bottlez aaa+</a></li>
	<li><a href="/coa/flower/Power-Plant-aaa-plus.pdf" download>Power Plant aaa+</a></li>
	<li><a href="/coa/flower/presidential-og.pdf" download>presidential og</a></li>
	<li><a href="/coa/flower/prez-or-presidential-og-document-2.pdf" download>prez or presidential og document 2</a></li>
	<li><a href="/coa/flower/pro-legend-ds.pdf" download>pro legend ds</a></li>
	<li><a href="/coa/flower/pro-legend.pdf" download>pro legend</a></li>
	<li><a href="/coa/flower/puffy-payton-p.pdf" download>puffy payton p</a></li>
	<li><a href="/coa/flower/purple-afgoo.pdf" download>purple afgoo</a></li>
	<li><a href="/coa/flower/purple-certs-exotic.pdf" download>purple certs exotic</a></li>
	<li><a href="/coa/flower/purple-envy.pdf" download>purple envy</a></li>
	<li><a href="/coa/flower/purple-gelanade-exotic-2024.pdf" download>purple gelanade exotic 2024</a></li>
	<li><a href="/coa/flower/purple-gushers-aaa-plus.pdf" download>purple gushers aaa+</a></li>
	<li><a href="/coa/flower/purple-gushmintz-2024.pdf" download>purple gushmintz 2024</a></li>
	<li><a href="/coa/flower/purple-haze-premaaa-plus.pdf" download>purple haze premaaa+</a></li>
	<li><a href="/coa/flower/purple-horchata-pie.pdf" download>purple horchata premium indoor exotic</a></li>
	<li><a href="/coa/flower/purple-jokerz.pdf" download>purple jokerz</a></li>
	<li><a href="/coa/flower/purple-lollipop-aa.pdf" download>purple lollipop aa</a></li>
	<li><a href="/coa/flower/purple-milk-aa.pdf" download>purple milk aa</a></li>
	<li><a href="/coa/flower/purple-rhino.pdf" download>purple rhino</a></li>
	<li><a href="/coa/flower/purple-runtz-aaa-plus.pdf" download>purple runtz aaa+</a></li>
	<li><a href="/coa/flower/purple-runtz-em.pdf" download>purple runtz em</a></li>
	<li><a href="/coa/flower/purple-runtz-pplus.pdf" download>purple runtz pplus</a></li>
	<li><a href="/coa/flower/purple-skittlez.pdf" download>purple skittlez</a></li>
	<li><a href="/coa/flower/purple-sticky-punch-1.pdf" download>purple sticky punch 1</a></li>
	<li><a href="/coa/flower/purple-sticky-punch.pdf" download>purple sticky punch</a></li>
	<li><a href="/coa/flower/purple-voodoo-aaa-plus.pdf" download>purple voodoo aaa+</a></li>
	<li><a href="/coa/flower/purple-voodoo-exotic.pdf" download>purple voodoo exotic</a></li>
	<li><a href="/coa/flower/purple-wedding-cake-july-2024.pdf" download>purple wedding cake july 2024</a></li>
</ul>

<h2> q </h2>
<ul class="coa-list">
	<li><a href="/coa/flower/quarantine-kush_0124.pdf" download>quarantine kush_0124</a></li>
	<li><a href="/coa/flower/quimera-pplus.pdf" download>quimera pplus</a></li>
</ul>

<h2> r </h2>
<ul class="coa-list">
	<li><a href="/coa/flower/rainbow-candy-p.pdf" download>rainbow candy p</a></li>
	<li><a href="/coa/flower/rainbow-inferno-ex.pdf" download>rainbow inferno ex</a></li>
	<li><a href="/coa/flower/rainbow-runtz-premaaa-plus.pdf" download>rainbow runtz premaaa+</a></li>
	<li><a href="/coa/flower/rainbow-sherbert-rs-11-exotic-thca-flower.pdf" download>rainbow sherbert rs 11 exotic thca flower</a></li>
	<li><a href="/coa/flower/rainbow-sherbert-rs11-deps-aaa.pdf" download>rainbow sherbert rs11 deps aaa</a></li>
	<li><a href="/coa/flower/rainbow-sprinkle-aaa-plusplus.pdf" download>rainbow sprinkle aaa++</a></li>
	<li><a href="/coa/flower/red-cherry-aaa-plus.pdf" download>red cherry aaa+</a></li>
	<li><a href="/coa/flower/red-fire-kush.pdf" download>red fire kush</a></li>
	<li><a href="/coa/flower/red-runtz-aaa-plus.pdf" download>red runtz aaa+</a></li>
	<li><a href="/coa/flower/rice-krispy-treat-aaa-plus.pdf" download>rice krispy treat aaa+</a></li>
	<li><a href="/coa/flower/rocky-road.pdf" download>rocky road</a></li>
	<li><a href="/coa/flower/rose-gold-runtz-thca-flower.pdf" download>rose gold runtz thca flower</a></li>
	<li><a href="/coa/flower/royal-cherry.pdf" download>royal cherry</a></li>
	<li><a href="/coa/flower/runtz-2024.pdf" download>runtz 2024</a></li>
	<li><a href="/coa/flower/runtz-a.pdf" download>runtz a</a></li>
	<li><a href="/coa/flower/runtz-aaa.pdf" download>runtz aaa</a></li>
	<li><a href="/coa/flower/runtz-ex.pdf" download>runtz ex</a></li>
	<li><a href="/coa/flower/runtz-lab-2024.pdf" download>runtz lab 2024</a></li>
	<li><a href="/coa/flower/runtz-p.pdf" download>runtz p</a></li>
	<li><a href="/coa/flower/runtz-pplus.pdf" download>runtz pplus</a></li>
	<li><a href="/coa/flower/runtz-sugar-crumble.pdf" download>runtz sugar crumble</a></li>
	<li><a href="/coa/flower/runtz.pdf" download>runtz</a></li>
</ul>

<h2> s </h2>
<ul class="coa-list">
	<li><a href="/coa/flower/saltwater-taffy-og-24.pdf" download>saltwater taffy og 24</a></li>
	<li><a href="/coa/flower/secret-cookies-ex.pdf" download>secret cookies ex</a></li>
	<li><a href="/coa/flower/sfv-2024.pdf" download>sfv 2024</a></li>
	<li><a href="/coa/flower/sfv-x-og.pdf" download>sfv x og</a></li>
	<li><a href="/coa/flower/shake-shack-a.pdf" download>shake shack a</a></li>
	<li><a href="/coa/flower/shake-shack.pdf" download>shake shack</a></li>
	<li><a href="/coa/flower/sherb-bx-p.pdf" download>sherb bx p</a></li>
	<li><a href="/coa/flower/sherb-bx-premaaa-plus.pdf" download>sherb bx premaaa+</a></li>
	<li><a href="/coa/flower/sherb-cake-premplus.pdf" download>sherb cake premplus</a></li>
	<li><a href="/coa/flower/sherb-crasher-aaa.pdf" download>sherb crasher aaa</a></li>
	<li><a href="/coa/flower/sherb-mintz.pdf" download>sherb mintz</a></li>
	<li><a href="/coa/flower/sherb-runtz-2.pdf" download>sherb runtz 2</a></li>
	<li><a href="/coa/flower/sherb-runtz.pdf" download>sherb runtz</a></li>
	<li><a href="/coa/flower/sherbaccio-aa.pdf" download>sherbaccio aa</a></li>
	<li><a href="/coa/flower/sherbalato-aa.pdf" download>sherbalato aa</a></li>
	<li><a href="/coa/flower/sherbangerz.pdf" download>sherbangerz</a></li>
	<li><a href="/coa/flower/sherbert-aaa-plus.pdf" download>sherbert aaa+</a></li>
	<li><a href="/coa/flower/shirley-temple-aa.pdf" download>shirley temple aa</a></li>
	<li><a href="/coa/flower/skittles-x-sherb-aaa-plus.pdf" download>skittles x sherb aaa+</a></li>
	<li><a href="/coa/flower/skunk-breath.pdf" download>skunk breath</a></li>
	<li><a href="/coa/flower/skywalker-og-2024.pdf" download>skywalker og 2024</a></li>
	<li><a href="/coa/flower/skywalker-og-dep-3-2024.pdf" download>skywalker og dep 3 2024</a></li>
	<li><a href="/coa/flower/skywalker-og-exotic.pdf" download>skywalker og exotic</a></li>
	<li><a href="/coa/flower/skywalker-og.pdf" download>skywalker og</a></li>
	<li><a href="/coa/flower/smorez-2024-premium-plus.pdf" download>smorez 2024 premium plus</a></li>
	<li><a href="/coa/flower/smorez-2024.pdf" download>smorez 2024</a></li>
	<li><a href="/coa/flower/snow-cake-snowcaps-aaa-plus.pdf" download>snow cake snowcaps aaa+</a></li>
	<li><a href="/coa/flower/snow-candy-snow-caps-aaa-plus.pdf" download>snow candy snow caps aaa+</a></li>
	<li><a href="/coa/flower/snow-dream-snowcaps-aaa-plus.pdf" download>snow dream snowcaps aaa+</a></li>
	<li><a href="/coa/flower/snow-leopard-aa.pdf" download>snow leopard aa</a></li>
	<li><a href="/coa/flower/snowcaps-2024.pdf" download>snowcaps 2024</a></li>
	<li><a href="/coa/flower/snowcaps_-_gelato_.pdf" download>snowcaps gelato </a></li>
	<li><a href="/coa/flower/soap-2024.pdf" download>soap 2024</a></li>
	<li><a href="/coa/flower/soap-ex.pdf" download>soap ex</a></li>
	<li><a href="/coa/flower/soap-exotic-1.pdf" download>soap exotic 1</a></li>
	<li><a href="/coa/flower/soho-cakes-aaa-ex.pdf" download>soho cakes aaa ex</a></li>
	<li><a href="/coa/flower/soho-cakes-aaa-plus.pdf" download>soho cakes aaa+</a></li>
	<li><a href="/coa/flower/soho-cakes-full-panel-with-batch.pdf" download>soho cakes full panel with batch</a></li>
	<li><a href="/coa/flower/sonic-boom-aa.pdf" download>sonic boom aa</a></li>
	<li><a href="/coa/flower/sorbet-aaa-plus.pdf" download>sorbet aaa+</a></li>
	<li><a href="/coa/flower/sour-diesel-2024.pdf" download>sour diesel 2024</a></li>
	<li><a href="/coa/flower/sour-diesel-p-plus.pdf" download>sour diesel p plus</a></li>
	<li><a href="/coa/flower/sour-lemons-thca.pdf" download>sour lemons thca</a></li>
	<li><a href="/coa/flower/sour-tangie-2024.pdf" download>sour tangie 2024</a></li>
	<li><a href="/coa/flower/sour-tangie-july-2024.pdf" download>sour tangie july 2024</a></li>
	<li><a href="/coa/flower/strawberry-haze-premium-2024.pdf" download>strawberry haze premium 2024</a></li>
	<li><a href="/coa/flower/strawberry-kush-2024.pdf" download>strawberry kush 2024</a></li>
	<li><a href="/coa/flower/strawberry-kush-aaa-plus.pdf" download>strawberry kush aaa+</a></li>
	<li><a href="/coa/flower/strawberry-kush-em.pdf" download>strawberry kush em</a></li>
	<li><a href="/coa/flower/strawberry-milk-aaa.pdf" download>strawberry milk aaa</a></li>
	<li><a href="/coa/flower/strawberry-pineapple-shortcake-pplus.pdf" download>strawberry pineapple shortcake pplus</a></li>
	<li><a href="/coa/flower/sugar-cane-aaa-plus.pdf" download>sugar cane aaa+</a></li>
	<li><a href="/coa/flower/sundae-runtz-pplus.pdf" download>sundae runtz pplus</a></li>
	<li><a href="/coa/flower/sunrise-2024.pdf" download>sunrise 2024</a></li>
	<li><a href="/coa/flower/sunset-fire-ex.pdf" download>sunset fire ex</a></li>
	<li><a href="/coa/flower/sunset-lemon-haze.pdf" download>sunset lemon haze</a></li>
	<li><a href="/coa/flower/sunset-melons-aaa-plus.pdf" download>sunset melons aaa+</a></li>
	<li><a href="/coa/flower/sunset-octane.pdf" download>sunset octane</a></li>
	<li><a href="/coa/flower/sunset-sherbet-p.pdf" download>sunset sherbet p</a></li>
	<li><a href="/coa/flower/super-boof-a.pdf" download>super boof a</a></li>
	<li><a href="/coa/flower/super-boof-aaa-exotic.pdf" download>super boof aaa exotic</a></li>
	<li><a href="/coa/flower/super-boof-aaa-plus.pdf" download>super boof aaa+</a></li>
	<li><a href="/coa/flower/super-boof-aaa-plus.pdf" download>super boof aaa+</a></li>
	<li><a href="/coa/flower/super-boof-pplus.pdf" download>super boof pplus</a></li>
	<li><a href="/coa/flower/super-glue-paaa-plus.pdf" download>super glue paaa+</a></li>
	<li><a href="/coa/flower/super-lemon-haze.pdf" download>super lemon haze</a></li>
	<li><a href="/coa/flower/super-runtz-aa.pdf" download>super runtz aa</a></li>
	<li><a href="/coa/flower/super-silver-haze-aaa-plus.pdf" download>super silver haze aaa+</a></li>
	<li><a href="/coa/flower/super-silver-haze-sugar-crumble.pdf" download>super silver haze sugar crumble</a></li>
	<li><a href="/coa/flower/superboof-aaa-plusplus.pdf" download>superboof aaa++</a></li>
	<li><a href="/coa/flower/superboof-exotic.pdf" download>superboof exotic</a></li>
	<li><a href="/coa/flower/sweet-tart-p-plus.pdf" download>sweet tart p plus</a></li>
	<li><a href="/coa/flower/swiss-watch-aa.pdf" download>swiss watch aa</a></li>
</ul>

<h2> w </h2>
<ul class="coa-list">
	<li><a href="/coa/flower/wedding-cake-may-2024.pdf" download>wedding cake may 2024</a></li>
	<li><a href="/coa/flower/wedding-cake-mendo-farm.pdf" download>wedding cake mendo farm</a></li>
	<li><a href="/coa/flower/wedding-cake-paaa-plus.pdf" download>wedding cake paaa+</a></li>
	<li><a href="/coa/flower/wedding-crashers.pdf" download>wedding crashers</a></li>
	<li><a href="/coa/flower/wedding-gelato-ex.pdf" download>wedding gelato ex</a></li>
	<li><a href="/coa/flower/wedding-gelato.pdf" download>wedding gelato</a></li>
	<li><a href="/coa/flower/wedding-pie-d6.pdf" download>wedding pie d6</a></li>
	<li><a href="/coa/flower/wedding-punch.pdf" download>wedding punch</a></li>
	<li><a href="/coa/flower/weekend-at-garys-aaa-plus.pdf" download>weekend at garys aaa+</a></li>
	<li><a href="/coa/flower/wet-wet-aaa-plus.pdf" download>wet wet aaa+</a></li>
	<li><a href="/coa/flower/wet-wet-thca-exotic-flower-2407lvl0899-2024.pdf" download>wet wet thca exotic flower 2407lvl0899 2024</a></li>
	<li><a href="/coa/flower/wetwet-ex.pdf" download>wetwet ex</a></li>
	<li><a href="/coa/flower/white-bubba-2024.pdf" download>white bubba 2024</a></li>
	<li><a href="/coa/flower/white-cherry-gelato-d3.pdf" download>white cherry gelato d3</a></li>
	<li><a href="/coa/flower/white-cherry-slurpee-aaa-plusplus.pdf" download>white cherry slurpee aaa++</a></li>
	<li><a href="/coa/flower/white-frost.pdf" download>white frost</a></li>
	<li><a href="/coa/flower/white-gelato-paaa-plus.pdf" download>white gelato paaa+</a></li>
	<li><a href="/coa/flower/white-guava-aaa-plus.pdf" download>white guava aaa+</a></li>
	<li><a href="/coa/flower/white-gushers-aaa.pdf" download>white gushers aaa</a></li>
	<li><a href="/coa/flower/white-lotus-p-plus.pdf" download>white lotus p plus</a></li>
	<li><a href="/coa/flower/white-miso-2024.pdf" download>white miso 2024</a></li>
	<li><a href="/coa/flower/white-miso-may-2024.pdf" download>white miso may 2024</a></li>
	<li><a href="/coa/flower/white-miso.pdf" download>white miso</a></li>
	<li><a href="/coa/flower/white-mochi-aaa-plus.pdf" download>white mochi aaa+</a></li>
	<li><a href="/coa/flower/white-runtz-em.pdf" download>white runtz em</a></li>
	<li><a href="/coa/flower/white-truffle-aaa.pdf" download>white truffle aaa</a></li>
	<li><a href="/coa/flower/white-truffle-ex.pdf" download>white truffle ex</a></li>
	<li><a href="/coa/flower/white-wedding-2.pdf" download>white wedding 2</a></li>
	<li><a href="/coa/flower/white-widow-aaa-ex.pdf" download>white widow aaa ex</a></li>
	<li><a href="/coa/flower/winning-cake.pdf" download>winning cake</a></li>
	<li><a href="/coa/flower/wonka-bar-ex.pdf" download>wonka bar ex</a></li>
</ul>

<h2> x </h2>
<ul class="coa-list">
	<li><a href="/coa/flower/xxx-og.pdf" download>xxx og</a></li>
</ul>

<h2> y </h2>
<ul class="coa-list">
	<li><a href="/coa/flower/yellow-mermaid-aa.pdf" download>yellow mermaid aa</a></li>
</ul>

<h2> z </h2>
<ul class="coa-list">
	<li><a href="/coa/flower/zangria-sherb-aaa.pdf" download>zangria sherb aaa</a></li>
	<li><a href="/coa/flower/zealousy-aaa-ex.pdf" download>zealousy aaa ex</a></li>
	<li><a href="/coa/flower/zealousy-exotic.pdf" download>zealousy exotic</a></li>
	<li><a href="/coa/flower/zereal-aa.pdf" download>zereal aa</a></li>
	<li><a href="/coa/flower/zereal-em.pdf" download>zereal em</a></li>
	<li><a href="/coa/flower/zereal-milk-exotic-aaa.pdf" download>zereal milk exotic aaa</a></li>
	<li><a href="/coa/flower/zkittles-aaa-plus.pdf" download>zkittles aaa+</a></li>
	<li><a href="/coa/flower/zkittlez-x-dosido-premaaa-plus.pdf" download>zkittlez x dosido premaaa+</a></li>
	<li><a href="/coa/flower/zoap-aaa.pdf" download>zoap aaa</a></li>
	<li><a href="/coa/flower/zoap-indoor-1.pdf" download>zoap indoor 1</a></li>
	<li><a href="/coa/flower/zoap-indoor.pdf" download>zoap indoor</a></li>
	<li><a href="/coa/flower/zookies.pdf" download>zookies</a></li>
	<li><a href="/coa/flower/zushi-runtz.pdf" download>zushi runtz</a></li>
</ul>
