	<div class="content menu">
		<div class="about center">
			<p>Please note that a 5 lb minimum is required to qualify for the Hidden Deals price.</p>
		</div>
		{% include "parts/menu/exotics.njk" %}
		{% include "parts/menu/exotics-smalls.njk" %}
		{% include "parts/menu/indoors.njk" %}
		{% include "parts/menu/indoors-smalls.njk" %}
		{% include "parts/menu/others.njk" %}
		{% include "parts/menu/others-smalls.njk" %}
	</div>
