---
layout: layouts/base.njk
---
{% include "parts/page-header.njk" %}

<section id="media-page">
	<article class="post">
	<header class="flex-column">
		<div class="row">
			<div class="flex-column strain-info">
			<div class="meta flex-row">
				<div class="price-level">
					<span>{{ priceLevel }}</span>
				</div>
				<div class="profile {% if profile == "hybrid" %}hybrid{% endif %}{% if profile == "indica" %}indica{%endif%}{% if profile == "sativa" %}sativa{% endif %}">
					<span class="">
						{{ profile }}
					</span>
				</div>
				{% if thca %}
				<div class="thca">
					<span class="">
						{{ thca }} THCa
					</span>
				</div>
				{% endif %}
			</div>
			</div>
		</div>
		<div class="price-compare flex-row">
			<div class="center hd">
				<h5>Hidden Deals Price</h5>
				<span class="">{{ hdPrice }}</span>
			</div>
			<div class="center reg">
				<div class="inner-reg">
					<h5>Regular Price</h5>
					<span class="">{{ regPrice }}</span>
				</div>
			</div>
		</div>
	</header>
		<div class="media-area">
			<div class="flex-row">
				{% if video1 %}
				<iframe
					src="{{ video1 }}"
					width="720"
					height="720"
					style="height: auto; width: 100%; aspect-ratio: 1 / 1;"
					allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
					allowfullscreen
					frameborder="0"
					class="rounded"
				></iframe>
				{% endif %}

				{% if video2 %}
				<div class="item">
				<iframe
					src="{{ video2 }}"
					width="720"
					height="720"
					style="height: auto; width: 100%; aspect-ratio: 1 / 1;"
					allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
					allowfullscreen
					frameborder="0"
					class="rounded"
				></iframe>
				</div>
				{% endif %}

				{% if video3 %}
				<div class="item">
				<iframe
					src="{{ video3 }}"
					width="720"
					height="720"
					style="height: auto; width: 100%; aspect-ratio: 1 / 1;"
					allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
					allowfullscreen
					frameborder="0"
					class="rounded"
				></iframe>
				</div>
				{% endif %}

				{% if photo1 %}
				<div class="item">
					<a href="/public/{{ photo1 }}"><img src="/public/{{ photo1 }}" alt="{{ strain }} THCa Flower" class="full-span" tabindex="0" eleventy:ignore></a>
				</div>
				{% endif %}

				{% if photo2 %}
				<div class="item">
					<a href="/public/{{ photo2 }}"><img src="/public/{{ photo2 }}" alt="{{ strain }} THCa Flower" class="full-span" tabindex="0" eleventy:ignore></a>
				</div>
				{% endif %}

				{% if photo3 %}
				<div class="item">
					<a href="/public/{{ photo3 }}"><img src="/public/{{ photo3 }}" alt="{{ strain }} THCa Flower" class="full-span" tabindex="0" eleventy:ignore></a>
				</div>
				{% endif %}

				{% if photo4 %}
				<div class="item">
					<a href="/public/{{ photo4 }}"><img src="/public/{{ photo4 }}" alt="{{ strain }} THCa Flower" class="full-span" tabindex="0" eleventy:ignore></a>
				</div>
				{% endif %}

			</div>
		</div>
	</article>
</section>
