---
layout: layouts/base.njk
---
{% include "parts/page-header.njk" %}

<section id="media-page">
	<article class="post">
		<header class="flex-column">
			<div class="flex-row row">
				<div class="price-compare flex-row">
					<p class="center">
						<strong>Hidden Deals Price</strong><br>
						{{ hdPrice }}
					</p>
					<p class="center">
						<span><strong>Regular Price</strong></span>
						<span class="reg">{{ regPrice }}</span>
					</p>
				</div>
				<div class="flex-column other-info {% if profile == "hybrid" %}hybrid{% endif %} {% if profile == "indica" %}indica{%endif%} {% if profile == "sativa" %}sativa{% endif %}">
					<span class="profile">{{ profile }}</span>
					<span class="thca center">{{ thca }} THCa</span>
				</div>
			</div>
		</header>
		<div class="media-area">
			<div class="flex-row">
				{% if video1 %}
				<iframe
					src="{{ video1 }}"
					width="720"
					height="720"
					style="height: auto; width: 100%; aspect-ratio: 1 / 1;"
					allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
					allowfullscreen
					frameborder="0"
					class="rounded"
				></iframe>
				{% endif %}

				{% if video2 %}
				<div class="item">
				<iframe
					src="{{ video2 }}"
					width="720"
					height="720"
					style="height: auto; width: 100%; aspect-ratio: 1 / 1;"
					allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
					allowfullscreen
					frameborder="0"
					class="rounded"
				></iframe>
				</div>
				{% endif %}

				{% if video3 %}
				<div class="item">
				<iframe
					src="{{ video3 }}"
					width="720"
					height="720"
					style="height: auto; width: 100%; aspect-ratio: 1 / 1;"
					allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
					allowfullscreen
					frameborder="0"
					class="rounded"
				></iframe>
				</div>
				{% endif %}

				{% if photo1 %}
				<div class="item">
					<a href="{{ photo1 }}"><img src="{{ photo1 }}" alt="{{ strain }} THCa Flower" class="full-span" tabindex="0"></a>
				</div>
				{% endif %}

				{% if photo2 %}
				<div class="item">
					<a href="{{ photo2 }}"><img src="{{ photo2 }}" alt="{{ strain }} THCa Flower" class="full-span" tabindex="0"></a>
				</div>
				{% endif %}

				{% if photo3 %}
				<div class="item">
					<a href="{{ photo3 }}"><img src="{{ photo3 }}" alt="{{ strain }} THCa Flower" class="full-span" tabindex="0"></a>
				</div>
				{% endif %}

				{% if photo4 %}
				<div class="item">
					<a href="{{ photo4 }}"><img src="{{ photo4 }}" alt="{{ strain }} THCa Flower" class="full-span" tabindex="0"></a>
				</div>
				{% endif %}

			</div>
		</div>
	</article>
</section>
