---
strain: grape cookies
priceLevel: premium indoor exotic
thca:
profile: hybrid
photo1: https://media.dont.zone/hs/media/img/flower/light-dep-aaa_hybrid_grape-cookies_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/light-dep-aaa_hybrid_grape-cookies_1.jpg
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=light-dep-aaa_hybrid_grape-cookies_1_mceovt&profile=flower
---
