---
strain: lemon og
priceLevel: premium indoor exotic
thca: 29.54%
profile: hybrid
photo1: https://media.dont.zone/hs/media/img/flower/light-dep-aaa_hybrid_lemon-og_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/light-dep-aaa_hybrid_lemon-og_2.jpg
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=light-dep-aaa_hybrid_lemon-og_1_cuiyuc&profile=flower
---
