---
strain: oreos
profile: hybrid
priceLevel: premium indoor exotic
thca:
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=prem-light-assist_hybrid_oreos_1_wnenh4&profile=flower
photo1: https://media.dont.zone/hs/media/img/flower/prem-light-assist_hybrid_oreos_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/prem-light-assist_hybrid_oreos_2.jpg
---
