---
strain: pressure
profile: hybrid
priceLevel: premium indoor exotic
thca:
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=a-indoor_hybrid_pressure_1_t5snfc&profile=flower
photo1: https://media.dont.zone/hs/media/img/flower/a-indoor_hybrid_pressure_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/a-indoor_hybrid_pressure_2.jpg
---
