---
strain: rainbow runtz
priceLevel: premium indoor exotic
thca: 28.23%
profile: hybrid
photo1: https://media.dont.zone/hs/media/img/flower/prem-la_hybrid_rainbow-runtz_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/prem-la_hybrid_rainbow-runtz_2-1.jpg
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=prem-la_hybrid_rainbow-runtz_2_szx5da&profile=flower
source: https://www.leafly.com/strains/rainbow-runtz
---

Rainbow Runtz, also known as Rainbow Runts, was an indica weed strain made from a double cross of Zkittlez and DoSiDos. In 2024, Rainbow Runtz is also Wizard Trees' cross of Runtz x RS11. The effects of modern Rainbow Runtz are hybrid great for daytime and afternoon smoking. Reviewers [...] who have smoked this strain say it makes them feel happy, and relaxed, and it pairs well with your favorite hobbies. The flavor of Rainbow Runtz is a candy front with a pungent fuel back. <cite> - <a href="{{ source }}">Leafly</a></cite>
