---
strain: zereal
profile: sativa
priceLevel: premium indoor exotic
thca: 30.24
video1: https://player.cloudinary.com/embed/?cloud_name=dcf9dmvo5&public_id=prem-indoor-ex_sativa_zereal_1_flfpq0&profile=flower
photo1: https://media.dont.zone/hs/media/img/flower/prem-indoor-ex_sativa_zereal_1.jpg
photo2: https://media.dont.zone/hs/media/img/flower/prem-indoor-ex_sativa_zereal_2.jpg
---
